template(name='alpha')
    with response.queryresult
        .ui.list
            .item success: #{success}
            .item error: #{error}
            .item numpods: #{numpods}
            .item datatypes: #{datatypes}
            .item timedout: #{timedout}
            .item timedoutpods: #{timedoutpods}
            .item timing: #{timing}
            .item parsetiming: #{parsetiming}
            .item parsetimedout: #{parsetimedout}
            .item recalculate: #{recalculate}
            .item id: #{id}
            .item host: #{host}
            .item server: #{server}
            .item related: #{related}
            .item version: #{version}
        each pods
            .item title #{title}
            .item scanner #{scanner}
            .item id #{id}
            .item position #{position}
            .item error #{error}
            .item numsubpods #{numsubpods}
            .item subpods
                .ui.list
                    each subpods
                        .item title: #{title}
                        .item primary: #{primary}
                        .item plaintext: #{plaintext}
    //   div assumptions": {
    //     "type": "Clash",
    //     "word": "time",
    //     "template": "Assuming \"${word}\" is ${desc1}. Use as ${desc2} instead",
    //     "count": 4,
    //     "values": [
    //       {
    //         "name": "CalendarWord",
    //         "desc": " referring to a calendar computation",
    //         "input": "*C.time-_*CalendarWord-"