template(name='ios')
    img.ui.inline.image.icon8(src="https://img.icons8.com/ios/50/000000/#{name}.png" class=cl title=title)
template(name='icolor')
    img.ui.inline.image.icon8(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl title=title)
template(name='i')
    //- i.icon(class=name)
    // img(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl title=title)
    // if currentUser and currentUser.invert_class
    //     // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    //     img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // else
    img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl title=title)
    // if classes.length
    //     img(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    // else 
    //     img.ui.mini.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl title=title)
template(name='ismall')
    img(src="https://img.icons8.com/pastel-glyph/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=classes title=title)


template(name='vid_card')
    .ui.stackable.grid
        .sixteen.wide.center.aligned.column
            each thumbs
                img.ui.small.superzoom.rounded.inline.image.mobile.hidden(src=src)    
                // img.ui.tiny.zoom.rounded.inline.image.mobile.only(src=src)    
            iframe.invert(src="https://www.pornhub.com/embed/#{video_id}" frameborder="0" width="100%" height='500' scrolling="no")
            // img.ui.image.rounded.pointer(src=default_thumb)
            //- a.ui.small.header(href=url target='_window') #{title}
            a.ui.grey.center.aligned.header(href="/m/vid/#{_id}/view" class=emotion_color_class) !{lowered_title}
            .spacer
                
            |#{when}
            if dev
                +print_this
                i.remove.big.icon
                i.fork.big.icon
            .ui.label #{views}
            // .ui.basic.label #{rating} rating
            // .ui.basic.label #{ratings} ratings
            // .ui.basic.label #{views} views
            // if dev 
            //     i.code.link.icon.print_me
