template(name='i')
    //- i.icon(class=name)
    // img(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl title=title)
    // if currentUser and currentUser.invert_class
    //     // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    //     img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // else
    img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class="#{cl} #{currentUser.invert_class}" title=title)
    // img.icon8(src="https://img.icons8.com/ios/50/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/ultraviolet/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl title=title)
    // if classes.length
    //     img(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    // else 
    //     img.ui.mini.inline.image(src="https://img.icons8.com/#{gs.icon_theme}/48/000000/#{name}.png" class=cl title=title)
    // img(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl title=title)
template(name='ismall')
    img(src="https://img.icons8.com/pastel-glyph/24/000000/#{name}.png" class=classes title=title)
    //- img(src="https://img.icons8.com/ultraviolet/24/000000/#{name}.png" class=classes title=title)
