template(name='duck')
    with content
        .ui.segment
            .ui.list
                .item #{Heading}
                // .item abstract #{Abstract}
                .item duck !{AbstractText}
            a.ui.inline.header(href=AbstractURL) #{AbstractURL}
            img(src=Image)
            .ui.list
                each RelatedTopics
                    img.ui.small.inline.image(src=Icon.URL)
                    .ui.inline.small.header #{Text}
                    // .content
                    //     .item #{FirstURL}
                        // .item !{Result}
