template(name='duck')
    with content
        .ui.segment
            .ui.list
                .item heading #{Heading}
                .item abstract #{Abstract}
                .item duck #{AbstractText}
            a.ui.inline.header(href=AbstractURL) #{AbstractURL}
            img(src=Image)
            each RelatedTopics
                .ui.compact.segment
                    img.ui.small.image(src=Icon.URL)
                    .content
                        .item #{FirstURL}
                        .item #{Text}
                        // .item !{Result}
