template(name='duck')
    with content
        // .ui.segment
        .ui.inline.header #{Heading}
        // .item abstract #{Abstract}
        .item.abstract !{AbstractText}
        // a.ui.circular.icon.button(href=AbstractURL)
        //     // #{AbstractURL}
        //     i.large.external.icon
        img(src=Image)
        each RelatedTopics
            .ui.compact.basic.circular.button.topic
                img.ui.mini.inline.rounded.image(src=Icon.URL)
                | {{lowered Text}}
            // .content
            //     .item #{FirstURL}
                // .item !{Result}
