template(name='duck')
    with content
        // .ui.segment
        .ui.inline.header #{Heading}
        // .item abstract #{Abstract}
        .item.abstract !{AbstractText}
        // a.ui.circular.icon.button(href=AbstractURL)
        //     // #{AbstractURL}
        //     i.large.external.icon
        img(src=Image)
        .ui.link.list
            each RelatedTopics
                a.item.topic
                    img.ui.tiny.inline.rounded.pointer.zoomer.image(src=Icon.URL)
                    .ui.inline.small.pointer.zoomer.header #{Text}
                // .content
                //     .item #{FirstURL}
                    // .item !{Result}
