template(name='duck')
    .ui.segment
        .ui.inline.header heading #{Heading}
        .ui.inline.header abstract #{Abstract}
        .ui.inline.header duck #{AbstractText}
        a.ui.inline.header(href=AbstractURL) #{AbstractURL}
        img(src=content.Image)
        each RelatedTopics
            .ui.segment
                .ui.header #{FirstURL}
                .ui.header #{Text}
                .ui.header #{Result}
