

template(name='home')
    .ui.stackable.grid
        .two.column.middle.aligned.row
            unless currentUser
                unless is_admin
                    .column
                        img.ui.fluid.rounded.image(src="{{c.url 'river_small' crop='fill'}}")
                    .column
                        .ui.large.header #{home_doc.home_title}
                        if is_admin 
                            with home_doc
                                +textarea_edit key='home_title' direct=true
                        .ui.header
                            with home_doc
                                if is_admin
                                    +textarea_edit key='home_blurb' direct=true
                                |#{home_blurb}
                            // The Riverside’s diverse indoor-outdoor event spaces and farm-fresh catered tastes create unforgettable guest experiences.
                            
                            // Located alongside Boulder Creek, this rare and historic property provides eclectic Boulder vibes and local collective services for weddings, special occasions, and community events.
        if currentUser
            .centered.row
                unless currentUser
                    .four.wide.column
                        // +join_button
                        a.ui.fluid.big.green.button(href="/join")
                            i.checkmark.icon
                            |join
                .five.wide.column
                    if can_gift
                        .ui.fluid.big.green.button.gift
                            +icon name='gift' cl='ui mini inline image'
                            // i.gift.icon
                            |gift
                    else
                        .ui.fluid.big.green.disabled.button
                            // i.gift.icon
                            +icon name='gift' cl='ui mini inline image'
                            |not enough to gift
                .five.wide.column
                    if can_gift
                        .ui.fluid.big.teal.button.request
                            // i.hand.holding.heart.icon
                            +icon name='sell' cl='ui mini inline image'
                            |request
                    else
                        .ui.fluid.big.teal.disabled.button
                            i.hand.holding.heart.icon
                            |not enough to request
                // .two.wide.column
                //     // .ui.center.aligned.grey.header.refresh_stats
                //     //     i.line.chart.icon
                //     //     |stats
                //     with stats_doc
                //         .ui.list
                //             .item #{total_points} system points
                            
        .row
            .four.wide.column
                .ui.center.aligned.header
                    // i.shop.icon
                    +icon name='shop' cl='ui image'
                    |featured products
                if is_admin 
                    i.circular.plus.icon.add_shift
                .medscroll
                    each featured_products
                        a.ui.fluid.card(href="/product/#{_id}/view")
                            img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    |#{title}
                                .description
                                    // if _author.profile_image_id
                                    //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    // | #{_author_username}
                                    // div
                                    .ui.inline.header $#{usd_price}
                                    .ui.inline.header #{point_price}
                                // .meta #{when}
                                // .description 
                                //     |#{description}
                                // each tags 
                                //     .ui.tiny.basic.circular.label #{this}
            .four.wide.column
                .ui.center.aligned.header
                    // i.clock.icon
                    +icon name='clock' cl='ui image'
                    |next shifts
                if is_admin 
                    i.circular.plus.icon.add_shift
                .medscroll
                    each next_shifts
                        a.ui.card(href="/shift/#{_id}/view")
                            .content
                                .header
                                    .ui.inline.header
                                    // if _author.profile_image_id
                                    //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    // | #{_author_username}
                                    .item from {{from_now start_datetime}} > {{from_now end_datetime}}
                                    if shift_contributors 
                                        each shift_contributors
                                            img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                            |#{username}
                                .meta #{when}
                                .description 
                                    |#{description}
                                each tags 
                                    .ui.tiny.basic.circular.label #{this}
            .four.wide.column
                .ui.center.aligned.header
                    // i.calendar.icon
                    +icon name='calendar' cl='ui image'
                    |next events
                if is_admin 
                    i.circular.plus.icon.add_event
                    
                .medscroll
                    each next_events
                        a.ui.fluid.card(href="/event/#{_id}/view")
                            img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
                            .content
                                .header
                                    .ui.inline.small.header #{title} 
                                    .ui.inline.header $#{usd_price} / #{point_price}p
                                    if _author.profile_image_id
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    | #{_author_username}
                                .meta #{when}
                                .description 
                                    |#{going_user_ids.length} going
                                //     |#{description}
                                each tags 
                                    .ui.tiny.basic.circular.label #{this}
            .four.wide.column
                .ui.center.aligned.header
                    // i.gift.icon
                    +icon name='gift' cl='ui image'
                    |latest gifts
                .medscroll
                    each latest_gifts
                        a.ui.card(href="/gift/#{_id}/view")
                            .content
                                .header
                                    .ui.inline.header #{amount}p
                                    if _author.profile_image_id
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    | #{_author_username}
                                    .ui.inline.header >
                                    if recipient.profile_image_id
                                        img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    |#{recipient.username}
                                .meta #{when}
                                .description 
                                    |#{description}
                                each tags 
                                    .ui.tiny.basic.circular.label #{this}
            .four.wide.column
                .ui.center.aligned.header
                    // i.hand.holding.heart.icon
                    +icon name='sell' cl='ui image'
                    |latest requests
                .smallscrol
                    .ui.selection.link.list
                        each latest_requests
                            a.item(href="/request/#{_id}/view")
                                .content
                                    .header
                                        .ui.inline.header #{amount}p
                                        if _author.profile_image_id
                                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                        | #{_author_username}
                                        .ui.inline.small.grey.header
                                            |#{description}
                                    .meta #{when}
                                    // each tags 
                                    //     .ui.tiny.basic.circular.label #{this}
                                    
                                    
                                    
                                    
template(name='join_button')
    .ui.fluid.big.green.button.join
        i.checkmark.icon
        |join
