template(name='home')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                i.large.database.icon
                if selected_models
                    // #clear_models.ui.active.icon.compact.large.button
                    //     i.remove.icon
                    each selected_models
                        .unselect_model.ui.active.compact.large.circular.button
                            strong #{this}
                each model_results
                    .ui.compact.large.circular.button.select_model
                        strong #{this.name}
                // div
                i.tags.large.icon
                if selected_tags
                    #clear_tags.ui.active.icon.compact.large.button
                        i.remove.icon
                    each selected_tags
                        .unselect_tag.ui.active.compact.large.button
                            strong #{this}
                each tag_results
                    .ui.compact.large.basic.button.select_tag
                        strong #{this.name}
                // div
                i.users.large.icon
                |author
                if selected_authors
                    // #clear_authors.ui.active.icon.compact.large.circular.button
                    //     i.remove.icon
                    each selected_authors
                        // .unselect_author.ui.active.compact.large.circular.button
                        a.ui.big.active.image.label.unselect_author
                            if selected_author.profile_image_id
                                img.ui.avatar.image(src="{{c.url selected_author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                            strong #{this}
                each author_results
                    // .ui.compact.large.circular.basic.button.select_author
                    a.ui.big.image.basic.label.select_author
                        if author.profile_image_id
                            img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')

                        strong #{this.name}
                .ui.icon.input 
                    i.search.icon
                    input.search_title(type='text' autofocus='')
                |sort by
                .ui.button.when
                    |when
                .ui.button.title
                    |title
                .ui.button.price
                    |price
                if sorting_up
                    .ui.button.sort_down
                        i.chevron.up.icon
                else
                    .ui.button.sort_up
                        i.chevron.down.icon
            .sixteen.wide.column
                .scrolling
                    .ui.stackable.cards
                        each docs
                            if key_value_is 'model' 'request'
                                +request_item
                            else if key_value_is 'model' 'offer'
                                +offer_item
                            else if key_value_is 'model' 'debit'
                                +debit_card
                            else if key_value_is 'model' 'order'
                                +user_order_card
                            else
                                .ui.header #{model}
                                if is_dev
                                    i.remove.big.icon.link.delete
                                each tags
                                    .ui.label #{this}
                                +print_this
                                    
template(name='home_request_card')
    .ui.segment.view_request.pointer
        .content
            if youtube_id
                +youtube_view key='youtube_id' direct=true
            else if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    

            .header
                .ui.inline.header #{point_bounty}p: #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=username)
                | #{_author.username}
            |!{description}
            .meta #{when}
            // each tags 
            //     .ui.tiny.basic.label #{this}
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
                        div


                                    
template(name='home_offer_card')
    .ui.card.view_offer.pointer
        .content
            if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
            .header
                .ui.inline.header #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=username)
                | #{_author.username}
            // |!{description}
            .meta #{when}
            if point_price
                |#{point_price}p
            // each tags 
            //     .ui.tiny.basic.label #{this}
            +comments_view_small
            
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
template(name='debit_card')
    .ui.card.pointer.view_debit
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
        .content
            .description 
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                | #{_author.username}
                a.ui.inline.header(href="/debit/#{_id}/view") #{amount}p
                .ui.inline.header >
                if recipient.profile_image_id
                    with recipient
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                |#{recipient.username}
            .meta #{when}
            .description.f11
                |#{description}
            .spacer
            each tags 
                .ui.small.basic.label #{this}
            if upvoter_ids
                +voting_tiny
            +comments_view_small
                                    