template(name='home')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                // a.ui.button(href="/") 
                //     i.yin.yang.icon
                if currentUser
                    a.ui.icon.circular.button.post(title='add')
                        i.large.plus.icon
                    if is_dev 
                        i.large.code.circular.icon.toggle_dev
                    if is_admin
                        i.large.shield.circular.icon.toggle_admin(title='admin mode on')
                    a.ui.circular.button(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                        //- i.large.user.large.icon
                        |{{money_format currentUser.points}}c
                        |&nbsp;
                        if currentUser.profile_image_id
                            img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='invert')
                        else 
                            i.large.user.large.icon
                        strong.mobile.hidden #{currentUser.username}
                    // a.icon.large.item.toggle_rightbar.select_term
                    //     i.ellipsis.vertical.large.icon
                else
                    a.ui.circular.icon.button(href="/register" title='register')
                        i.large.user.plus.icon
                        // |register
                    a.ui.circular.icon.button(href="/login" title='login')
                        i.large.sign.in.alternate.icon
                        // |login

                // iframe(frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/1_encX_RKyZhOU26r7_cNTtl0rLvEQSai/preview")
                .ui.left.icon.input 
                    i.search.icon
                    input.search_title(type='text' autofocus='')
                // div
                if selected_tags
                    a#clear_tags.ui.black.icon.compact.large.circular.button.select_term
                        i.remove.icon
                    each selected_tags
                        a.unselect_tag.ui.black.compact.large.circular.button.select_termn
                            strong #{this}
                // +session_boolean_toggle key='view_tags' label='tags' icon='large tag'
                // if session_is 'view_tags'
                each tag_results
                    +tag_selector
                // +session_boolean_toggle key='view_authors' label='authors' icon='large author'
                // if session_is 'view_authors'
                // div
                .ui.inline.header
                    i.large.user.outline.icon
                    |author
                if selected_authors
                    a#clear_authors.ui.black.icon.compact.large.circular.button.select_term
                        i.remove.icon
                    each selected_authors
                        a.unselect_author.ui.black.compact.large.circular.button.select_termn
                            strong #{this}
                    
                each author_results
                    a.ui.large.compact.circular.button.select_author.select_term(href='#')
                        strong #{name}
                .spacer
            .sixteen.wide.center.aligned.column
                if two_posts
                    .ui.stackable.two.cards
                        each docs
                            +one_post_view
                else if one_post
                    .ui.stackable.cards
                        each docs
                            +one_post_view
                else
                    .ui.stackable.centered.cards
                        each docs
                            +post_card


template(name='tag_selector')
    a.ui.big.image.label.select_tag.select_term(href='#')
        // img.ui.avatar.compact.image(src="{{c.url term.image_id height=200 width=200 gravity='face' crop='fill'}}" class='invert')
        // img.ui.avatar.compact.image(src=term.rd.thumbnail class='invert')
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image class='invert')    
        | #{name}


            
template(name='sort_button')
    .ui.circular.button.toggle_sort(class=sort_button_class)
        if icon 
            i.icon(class=icon)
        |#{label}
        if is_selected
            if sorting_up
                i.chevron.up.icon
            else
                i.chevron.down.icon

            
                                    
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
