template(name='nav')
    .ui.fluid.attached.borderless.large.menu.topnav
        a.icon.item(href="/" class="{{isActivePath regex='home'}}")
            i.large.home.icon
        a.icon.item(href="/users" class="{{isActivePath regex='users'}}")
            i.large.users.icon
        .right.menu
            if is_in_admin
                .icon.item.toggle_admin
                    i.shield.icon
            if currentUser
                a.large.item(href="/user/#{currentUser.username}" class="{{isActivePath regex='profile_layout'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.large.user.large.icon
                    |#{currentUser.username}
                    |#{currentUser.points}
            else
                a.item(href="/login")
                    i.large.sign.in.alternate.icon
                    |login


template(name='home')
    .ui.padded.stackable.grid
        if currentUser
            .row
                .four.wide.column
                    if can_send
                        .ui.fluid.big.green.basic.button.send
                            |send
                            i.right.chevron.icon
                    else
                        .ui.fluid.big.green.basic.disabled.button
                            |insufficient points
                            // i.right.chevron.icon
        .centered.row
            .eight.wide.column
                a.ui.header.set_latest_celebrations
                    i.exchange.icon
                    |latest transactions
                .smallscrol
                    .ui.selection.link.list
                        each latest_transactions
                            a.item(href="/debit/#{_id}/view")
                                .content
                                    .header
                                        .ui.inline.header #{amount}p
                                        if _author.profile_image_id
                                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                        | #{_author_username}
                                        .ui.inline.header >
                                        if target.profile_image_id
                                            img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                        |#{target.username}
                                    .meta #{when}
                                    .description 
                                        |#{description}
                                    each tags 
                                        .ui.tiny.basic.circular.label #{this}
            .eight.wide.column
                .ui.header.refresh_stats
                    i.line.chart.icon
                    |stats
                with stats_doc
                    .ui.list
                        .item #{total_points} total points sent
                                    