template(name='home')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.center.aligned.column
                if selected_models
                    // #clear_models.ui.black.icon.compact.large.button
                    //     i.remove.icon
                    each selected_models
                        a.unselect_model.ui.black.compact.large.circular.button.select_term
                            strong #{this}
                each model_results
                    .ui.compact.large.circular.button.select_term.select_model
                        strong #{this.name}
                .ui.left.icon.input 
                    i.search.icon
                    input.search_title(type='text' autofocus='' placeholder='title')
                // div
                if selected_tags
                    a#clear_tags.ui.black.icon.compact.large.button.select_term
                        i.remove.icon
                    each selected_tags
                        a.unselect_tag.ui.black.compact.large.button.select_termn
                            strong #{this}
                +session_boolean_toggle key='view_tags' label='tags' icon='large tag'
                if session_is 'view_tags'
                    each tag_results
                        a.ui.large.basic.label.select_tag.select_term(href='#')
                            strong #{name}
                +session_boolean_toggle key='view_from' label='from' icon='large user outline'
                if session_is 'view_from'
                    if selected_buyers
                        // #clear_buyers.ui.black.icon.compact.large.circular.button.select_term
                        //     i.remove.icon
                        each selected_buyers
                            // .unselect_buyer.ui.black.compact.large.circular.button.select_term
                            a.ui.big.black.image.label.unselect_buyer.select_term
                                if selected_user.profile_image_id
                                    img.ui.avatar.image(src="{{c.url selected_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                                strong #{this}
                    each buyer_results
                        // .ui.compact.large.circular.basic.button.select_buyer
                        a.ui.large.image.basic.label.select_buyer.select_term
                            if user_ob.profile_image_id
                                img.ui.avatar.image(src="{{c.url user_ob.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                            if name
                                strong #{name}
                            else
                                |none
                +session_boolean_toggle key='view_to' label='to' icon='large user'
                if session_is 'view_to'
                    if selected_sellers
                        // #clear_sellers.ui.black.icon.compact.large.circular.button.select_term
                        //     i.remove.icon
                        each selected_sellers
                            // .unselect_seller.ui.black.compact.large.circular.button.select_term
                            a.ui.big.black.image.label.unselect_seller.select_term
                                if selected_user.profile_image_id
                                    img.ui.avatar.image(src="{{c.url selected_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                                strong #{this}
                    each seller_results
                        // .ui.compact.large.circular.basic.button.select_seller.select_term
                        a.ui.large.image.basic.label.select_seller.select_term
                            if user_ob.profile_image_id
                                img.ui.avatar.image(src="{{c.url user_ob.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                            if name
                                strong #{name}
                            else
                                |none
                +session_boolean_toggle key='view_status' label='status' icon='large clock'
                if session_is 'view_status'
                    if selected_statuses
                        // #clear_statuses.ui.black.icon.compact.large.circular.button.select_term
                        //     i.remove.icon
                        each selected_statuses
                            // .unselect_status.ui.black.compact.large.circular.button.select_term
                            a.ui.big.black.image.label.unselect_status.select_term
                                if selected_user.profile_image_id
                                    img.ui.avatar.image(src="{{c.url selected_user.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                                strong #{this}
                    each status_results
                        // .ui.compact.large.circular.basic.button.select_status
                        a.ui.large.image.basic.label.select_status.select_term
                            if user_ob.profile_image_id
                                img.ui.avatar.image(src="{{c.url user_ob.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                            if name
                                strong #{name}
                            else
                                |none
                    // div        
                unless one_result
                    // div
                    i.large.sort.icon(title='sort')
                    +sort_button key='_timestamp' label='added' icon='clock'
                    +sort_button key='title' label='title' 
                    +sort_button key='price' label='price' icon='shop'
                    +sort_button key='total_points' label='earned' icon='coins'
        .row
            .sixteen.wide.column
                .ui.stackable.centered.cards
                    each docs
                        if key_value_is 'model' 'request'
                            +request_item
                        else if key_value_is 'model' 'offer'
                            +offer_item
                        else if key_value_is 'model' 'debit'
                            +debit_card
                        else if key_value_is 'model' 'order'
                            +order_card
                        else if key_value_is 'model' 'post'
                            +post_card
                        else
                            .ui.header #{model}
                            if is_dev
                                i.remove.big.icon.link.delete
                            each tags
                                .ui.label #{this}
                            +print_this
            
template(name='sort_button')
    .ui.circular.button.toggle_sort(class=sort_button_class)
        if icon 
            i.icon(class=icon)
        |#{label}
        if is_selected
            if sorting_up
                i.chevron.up.icon
            else
                i.chevron.down.icon

            
                                    
                                    
template(name='offer_card')
    .ui.card.view_offer.pointer
        .content
            if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
            .header
                .ui.inline.header #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=username)
                | #{_author.username}
            // |!{description}
            .meta #{when}
            if point_price
                |#{point_price}p
            // each tags 
            //     .ui.tiny.basic.label #{this}
            +comments_view_small
            
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
