template(name='home')
    .ui.stackable.padded.grid 
        .row
            .four.wide.column
                i.clone.icon
                if selected_models
                    #clear_models.ui.active.icon.compact.button
                        i.remove.icon
                    each selected_models
                        .unselect_model.ui.active.compact.button
                            strong #{this}
                each models
                    .ui.compact.button.select_model(class=cloud_tag_class) 
                        strong #{this.name}
                div
                i.tags.icon
                if selected_tags
                    #clear_tags.ui.active.icon.compact.button
                        i.remove.icon
                    each selected_tags
                        .unselect_tag.ui.active.compact.button
                            strong #{this}
                each tag_results
                    .ui.compact.button.select_tag(class=cloud_tag_class) 
                        strong #{this.name}
            .twelve.wide.column
                .ui.icon.input 
                    i.search.icon
                    input.request_title(type='text')
                |sort by
                .ui.button.when
                    |when
                .ui.button.price
                    |price
                if sorting_up
                    .ui.button.sort_down
                        i.chevron.up.icon
                else
                    .ui.button.sort_up
                        i.chevron.down.icon
                .scrolling
                    .ui.stackable.divided.items
                        each docs
                            if key_value_is 'model' 'request'
                                +request_item
                            else if key_value_is 'model' 'offer'
                                +offer_item
                            else
                                .ui.header #{model}
                                if is_dev
                                    i.remove.big.icon.link.delete
                                each tags
                                    .ui.label #{this}
                                +print_this
                                    
template(name='home_request_card')
    .ui.segment.view_request.pointer
        .content
            if youtube_id
                +youtube_view key='youtube_id' direct=true
            else if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    

            .header
                .ui.inline.header #{point_bounty}p: #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=shortname)
                | #{_author.name}
            |!{description}
            .meta #{when}
            // each tags 
            //     .ui.tiny.basic.label #{this}
            if doc_comments.count
                .meta
                    each doc_comments 
                        i.grey.chat.outline.icon
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                        |#{body}
                        div


                                    
template(name='home_offer_card')
    .ui.card.view_offer.pointer
        .content
            if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
            .header
                .ui.inline.header #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=shortname)
                | #{_author.name}
            // |!{description}
            .meta #{when}
            if point_price
                |#{point_price}p
            // each tags 
            //     .ui.tiny.basic.label #{this}
            +comments_view_small
            
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
template(name='debit_card')
    .ui.card.pointer.view_debit
        if image_id
            img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
        .content
            .description 
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                | #{_author.shortname}
                a.ui.inline.header(href="/debit/#{_id}/view") #{amount}p
                .ui.inline.header >
                if recipient.profile_image_id
                    with recipient
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class)
                |#{recipient.shortname}
            .meta #{when}
            .description.f11
                |#{description}
            .spacer
            each tags 
                .ui.small.basic.label #{this}
            if upvoter_ids
                +voting_tiny
            +comments_view_small
                                    