template(name='home')
    .ui.stackable.grid
        .row
            .sixteen.wide.column
                if selected_tags
                    if many_tags
                        a#clear_tags.ui.black.icon.compact.large.button.select_term
                            i.remove.icon
                each selected_tags
                    +unselect_tag
                .ui.left.icon.large.input 
                    i.search.icon
                    input.search_title(type='text' autofocus='')
                each tag_results
                    +tag_selector
                // .row
                //     .four.wide.right.aligned.column
                .ui.inline.small.header(title='results') #{doc_count}
                .ui.circular.compact.icon.large.button.set_list
                    i.large.list.icon
                .ui.circular.compact.icon.large.button.set_grid
                    i.large.th.icon
                // .ui.circular.compact.icon.large.button.set_single
                //     i.large.square.icon
                .ui.circular.compact.icon.large.disabled.button.set_twitter
                    i.large.twitter.icon
                .ui.circular.compact.icon.large.disabled.button.toggle_youtube
                    i.large.youtube.icon
                .ui.circular.compact.icon.large.disabled.button.toggle_images(class=images_disabled.button_class)
                    i.large.picture.icon
                .ui.circular.compact.icon.large.disabled.button.toggle_single
                    i.large.reddit.icon
                .ui.circular.compact.icon.large.disabled.button.toggle_single
                    i.wikipedia.icon
                // .ui.circular.compact.icon.disabled.button.set_map
                //     i.map.icon
                // .ui.circular.compact.icon.button.set_porn
                //     i.exclamation.icon
                // .ui.circular.compact.button
                //     |1
                // .ui.circular.compact.button
                //     |5
                // .ui.circular.compact.button
                //     |10
                // div
                // .ui.inline.header
                // i.globe.large.grey.icon
                // // |domains
                // if selected_domains
                //     a#clear_domains.ui.black.icon.compact.large.circular.button.select_term
                //         i.remove.icon
                //     each selected_domains
                //         a.unselect_domain.ui.black.compact.large.circular.button.select_termn
                //             strong #{this}
                // each domain_results
                //     a.ui.compact.circular.basic.button.select_domain.select_term(href='#')
                //         strong #{name}
                //         small #{count}
                // .ui.stackable.centered.grid
                // div
            .sixteen.wide.column.scrolling
                // if session_key_value 'view_mode' 'list'
                //     .ui.items
                //         each docs
                //             .item
                //                 if watson.metadata.image
                //                     img.ui.small.inline.image.invert(src=watson.metadata.image)    
                //                 else if is_image
                //                     img.ui.inline.small.rounded.image(src=url)
                //                 .content
                //                     .ui.header #{title}
                //                     .ui.label #{domain}
                //                     .ui.label
                //                         i.thumbs.up.outline.grey.icon
                //                         |#{ups}
                //                     // .ui.label
                //                     //     i.reddit.icon
                //                     //     |#{subreddit}
                //                     a.ui.label(href=url target='_window') #{url}
                //                     // +pull_reddit
                //                     +call_watson
                //                     each tags 
                //                         a.ui.large.label.add_tag #{this}
                //             .spacer
                // else if session_key_value 'view_mode' 'grid'
                if one_post
                    .ui.one.cards
                        each docs
                            +post_card
                else if two_posts
                    .ui.two.cards
                        each docs
                            +post_card
                else
                    .ui.stackable.centered.cards
                        each docs
                            +post_card
                    // else if session_key_value 'view_mode' 'porn'
                // else if key_value_is 'model' 'porn'
                //     .ui.stackable.centered.cards
                //         each docs
                //             +vid_card
                // else
                //     if one_post
                //         each docs
                //             .sixteen.wide.column
                //                 +reddit_card
                //     else
                //         each docs
                //             .sixteen.wide.column
                //                 +reddit_card
                                    // blockquote(class="reddit-card")
                                    //     a(href="https://www.reddit.com#{permalink}") 
                                    //         |#{title}
                                    //     |from 
                                    //     a(href="http://www.reddit.com/r/#{subreddit}") 
                                    //         |r/#{subreddit}
                                    // script(async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")            
         
         
template(name='post_card')         
    .ui.card
        if watson.metadata.image
            img.ui.image.invert(src=watson.metadata.image)    
        // else
        //     img.ui.image(src=url)
        .content
            // if is_youtube
            //     iframe.invert(width='100%' height='315' src='https://www.youtube.com/embed/RNjlfo_8u4s' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            //     .ui.embed(data-source="youtube" data-id=field_value)
    
            // if is_twitter
            //     blockquote.twitter-tweet(data-dnt='true' data-theme='dark')
            //         p(lang='en' dir='ltr')
            //             |#{title}
            //             // | No, Joe. The "establishment" are the 60 billionaires who are funding your campaign and the corporate-funded super PACs that are spending millions on negative ads attacking me. 
            //             a(href='https://t.co/XDB8OwJB1L') https://t.co/XDB8OwJB1L
            //         | — Bernie Sanders (@BernieSanders) 
            //         a(href=url) March 4, 2020
            //     script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
    
            .ui.header #{title}
            a(href=url target='_window') #{url}
            // |!{rd.selftext}
            // blockquote(class="reddit-card")
            //     a(href="https://www.reddit.com#{permalink}") 
            //         |#{title}
            //     |from 
            //     a(href="http://www.reddit.com/r/#{subreddit}") 
            //         |r/#{subreddit}
            // script(src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")
            // a.ui.label.set_domain #{domain}
            if one_post
                .medscroll
                    iframe.invert(width="100%" height="500" src=url frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            else if two_posts
                .medscroll
                    iframe.invert(width="100%" height="500" src=url frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            // .ui.basic.label 
            //     i.thumbs.up.outline.icon
            //     |#{ups}
            // .ui.label 
            //     i.reddit.icon
            //     |#{subreddit}
            // .ui.large.circular.icon.basic.button(href=url target='_window' title=url)
            //     // |#{url}
            //     i.external.icon
            // +pull_reddit
            // +call_watson
            if one_post
                each tags 
                    a.ui.basic.large.label.add_tag #{this}
            else if two_posts
                each tags 
                    a.ui.basic.large.label.add_tag #{this}
            else
                each seven_tags 
                    a.ui.basic.large.label.add_tag #{this}
         
                    
template(name='pull_reddit')
    .ui.circular.icon.basic.button.pull
        i.reddit.icon
        
template(name='call_watson')
    .ui.circular.icon.basic.button.pull
        i.dna.icon

// template(name='reddit_card')
//     .ui.header #{title}
//     | #{url}
//     // .medscroll
//     .invert
//         blockquote(class="reddit-card")
//             a(href="https://www.reddit.com#{permalink}") 
//                 |#{title}
//             |from 
//             a(href="http://www.reddit.com/r/#{subreddit}") 
//                 |r/#{subreddit}
//         script(src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")
//     a.ui.fluid.basic.circular.button(href=url target='_window' title=url)
//         i.external.icon
//         |#{domain}
//     |#{tags.length}
//     each tags 
//         .ui.circular.compact.button.add_tag #{this}
//     .ui.transparent.input
//         i.plus.grey.icon
//         input.tag_post(type='text')
//     unless is_image
//         iframe.invert(width="100%" height="500" src=url frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
//     .ui.icon.circular.button.tagger
//         i.dna.icon
//     // if watson
//     //     +watson_view

template(name='unselect_tag')
    a.unselect_tag.ui.black.big.image.label.select_term(href='#')
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image)    
        strong #{this}

template(name='tag_selector')
    a.ui.big.image.basic.label.select_tag.select_term(href='#' title="#{count} results")
        // img.ui.avatar.compact.image(src="{{c.url term.image_id height=200 width=200 gravity='face' crop='fill'}}")
        // img.ui.avatar.compact.image(src=term.rd.thumbnail)
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image)    
        strong #{name}
        // small #{count}



template(name='session_boolean_toggle')
    .ui.compact.large.circular.button.toggle_session_key(class=calculated_class)
        // +icolor name=icon cl='ui avatar image'
        i.icon(class=icon)
        |#{label}
        //- if icon_view 
        //- else 
            if label
                |#{label}
            else 
                |#{value}
                
