template(name='home')
    .ui.stackable.padded.grid
        .row 
            .sixteen.wide.column.pointer.toggle_finance_details
                .ui.green.small.progress.bar(data-percent="74")
                    .bar
                    .label
                        |monthly budget progress / 20k
                if viewing_finance_details
                    .ui.header finance details
                    .ui.header income from events
                    .ui.header most generative event
                    .ui.header most generative member
                    
        .centered.row
            .sixteen.wide.center.aligned.column
                each members 
                    if profile_image_id
                        a(href="/user/#{username}" title="{{name}} {{points}}")
                            img.ui.tiny.pointer.inline.circular.spaced_image.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
           .ui.basic.big.compact.button.debit
                i.gift.red.icon
                |send points
                // else
                //     .ui.green.disabled.button
                //         +icolor name='debit' cl='ui mini inline image'
                //         // i.debit.icon
                //         |send
            .ui.basic.big.compact.button.request
                i.concierge.bell.teal.icon
                // +icolor name='request-service' cl='ui mini inline image'
                |request

       
        // .centered.row
        //     .five.wide.column
                // if can_debit
            // .five.wide.column
            //     // if can_debit
            //     .ui.fluid.teal.button.request
            //         // i.hand.holding.heart.icon
            //         +icolor name='compass' cl='ui mini inline image'
            //         |add explorer
                // else
                //     .ui.fluid.teal.disabled.button
                //         // i.hand.holding.heart.icon
                //         +icolor name='request-service' cl='ui mini inline image'
                //         |request
            // .two.wide.column
            //     // .ui.center.aligned.grey.header.refresh_stats
            //     //     i.line.chart.icon
            //     //     |stats
            //     with stats_doc
            //         .ui.list
            //             .item #{total_points} system points
                        
        .row
            // .four.wide.column
            //     .ui.center.aligned.header
            //         // i.shop.icon
            //         +icolor name='shop' cl='ui image'
            //         |featured products
            //     // if is_admin 
            //     //     i.plus.icon.add_shift
            //     .medscroll
            //         each featured_products
            //             a.ui.fluid.card(href="/product/#{_id}/view")
            //                 .image
            //                     img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
            //                 .content
            //                     .header
            //                         |#{title}
            //                     .description
            //                         // if _author.profile_image_id
            //                         //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            //                         // | #{_author_username}
            //                         // div
            //                         .ui.inline.header $#{usd_price}
            //                         .ui.inline.header #{point_price}
            //                     // .meta #{when}
            //                     // .description 
            //                     //     |#{description}
            //                     // each tags 
            //                     //     .ui.tiny.basic.label #{this}
            // .four.wide.column
            //     .ui.center.aligned.header
            //         // i.clock.icon
            //         +icolor name='clock' cl='ui image'
            //         |next shifts
            //     // if is_admin 
            //     //     i.plus.icon.add_shift
            //     .medscroll
            //         each next_shifts
            //             a.ui.card(href="/shift/#{_id}/view")
            //                 .content
            //                     .header
            //                         .ui.inline.header
            //                         // if _author.profile_image_id
            //                         //     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            //                         // | #{_author_username}
            //                         .item from {{from_now start_datetime}} > {{from_now end_datetime}}
            //                         if shift_contributors 
            //                             each shift_contributors
            //                                 img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
            //                                 |#{username}
            //                     .meta #{when}
            //                     .description 
            //                         |#{description}
            //                     each tags 
            //                         .ui.tiny.basic.label #{this}
            .five.wide.column
                a.ui.center.aligned.header(href="/events")
                    i.calendar.teal.icon
                    |next events
                // if is_admin 
                //     i.plus.icon.add_event
                    
                .medscroll.mobile.hidden
                    each next_events
                        a.ui.fluid.card(href="/event/#{_id}/view")
                            img.ui.image(src="{{c.url image_id height=200 width=500 crop='fill'}}")
                            .content
                                .header
                                    | #{title} 
                                .meta    
                                    .ui.inline.header $#{usd_price} / #{point_price}p
                                    if _author.profile_image_id
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    | #{_author_username}
                                // .meta #{when}
                                .description 
                                    if going_user_ids.length
                                        |#{going_user_ids.length} going
                                    each attendees
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                        |#{name}
                                //     |#{description}
                                // each tags 
                                //     .ui.tiny.basic.label #{this}
            .five.wide.column
                a.ui.center.aligned.header(href="/gifts")
                    i.gift.red.icon
                    |gifts
                .medscroll.mobile.hidden
                    each latest_debits
                        a.ui.card(href="/debit/#{_id}/view")
                            .content
                                .description 
                                    if _author.profile_image_id
                                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    | #{_author_username}
                                    .ui.inline.header >
                                    if recipient.profile_image_id
                                        img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                    |#{recipient.username}
                                    .ui.inline.header #{amount}p
                                .meta #{when}
                                .description 
                                    |#{description}
                                each tags 
                                    .ui.basic.label #{this}
                // .ui.center.aligned.header
                //     i.chat.icon
                //     // +icolor name='chat' cl='ui image'
                //     |latest discussions
                    
                // .ui.small.grey.header anouncements
                // .ui.small.grey.header dms
                
                // .medscroll
                    // each latest_debits
                    //     a.ui.card(href="/debit/#{_id}/view")
                    //         .content
                    //             .description 
                    //                 if _author.profile_image_id
                    //                     img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                    //                 | #{_author_username}
                    //                 .ui.inline.header >
                    //                 if recipient.profile_image_id
                    //                     img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                    //                 |#{recipient.username}
                    //                 .ui.inline.header #{amount}p
                    //             .meta #{when}
                    //             .description 
                    //                 |#{description}
                    //             each tags 
                    //                 .ui.tiny.basic.label #{this}
            .four.wide.column
                a.ui.center.aligned.header(href="/requests")
                    i.concierge.bell.icon
                    |requests
                .medscroll.mobile.hidden
                    .ui.selection.link.list
                        each latest_requests
                            a.item(href="/request/#{_id}/view")
                                .content
                                    .header
                                        .ui.inline.header #{amount}p
                                        if _author.profile_image_id
                                            img.ui.avatar.image(src="{{c.url _author.profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                                        | #{_author_username}
                                        .ui.inline.small.grey.header
                                            |#{description}
                                    .meta #{when}
                                    // each tags 
                                    //     .ui.tiny.basic.label #{this}
                                    
                                    
                                    
                                    
template(name='join_button')
    .ui.fluid.green.button.join
        i.checkmark.icon
        |join
