template(name='home')
    // iframe(frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/1_encX_RKyZhOU26r7_cNTtl0rLvEQSai/preview")
    if selected_tags
        // a#clear_tags.ui.black.icon.compact.large.button.select_term
        //     i.remove.icon
        each selected_tags
            +unselect_tag
    .ui.left.icon.input 
        i.search.icon
        input.search_title(type='text' autofocus='')
    each tag_results
        +tag_selector
    div
    .spacer
    .scrolling
        // if two_posts
        //     .ui.stackable.two.cards
        //         each docs
        //             +one_post_view
        // else if one_post
        //     .ui.stackable.cards
        //         each docs
        //             +one_post_view
        // else
        //     // .ui.stackable.cards
        each docs
            if key_value_is 'model' 'porn'
                +vid_card
            else
                +post_card
            .ui.divider


template(name='unselect_tag')
    a.unselect_tag.ui.black.big.image.label.select_termn
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image class='invert')    
        | #{this}

template(name='tag_selector')
    a.ui.big.image.label.select_tag.select_term(href='#')
        // img.ui.avatar.compact.image(src="{{c.url term.image_id height=200 width=200 gravity='face' crop='fill'}}" class='invert')
        // img.ui.avatar.compact.image(src=term.rd.thumbnail class='invert')
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image class='invert')    
        | #{name}


            
template(name='sort_button')
    .ui.button.toggle_sort(class=sort_button_class)
        if icon 
            i.icon(class=icon)
        |#{label}
        if is_selected
            if sorting_up
                i.chevron.up.icon
            else
                i.chevron.down.icon



template(name='ibig')    
    //- img.ui.image(src="https://img.icons8.com/dusk/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/cotton/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/plasticine/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/color/256/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/ios/256/000000/#{name}.png" class=cl)
template(name='icon')    
    i.icon(class=name)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/plasticine/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/ios/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/color/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/fluent/48/000000/#{name}.png" class=cl)
    // img.ui.image(src="https://img.icons8.com/cotton/48/000000/#{name}.png" class=cl)
    //- img.ui.image(src="https://img.icons8.com/office/48/000000/#{name}.png" class=cl)

template(name='user_button')
    a.ui.button(href="/user/#{username}")
        img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        |#{name}


// template(name='viewed')
//     .ui.header viewed by
//     each viewed_by


template(name='smart_tagger')
    .ui.inline.header
        i.tag.icon
        |tags
    .ui.input
        input.new_tag(type='text' placeholder='+' autocomplete="off")
        //- +clear_value                
    each terms 
        a.ui.large.circular.basic.button.select_term(href='#')
            if image
                img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class='invert')
            |#{title}
    each tags
        .ui.large.basic.circular.label
            i.delete.icon.remove_element
            |#{this}
    if suggestions.count
        div
        .ui.small.inline.header suggestions
    each suggestions
        a.ui.large.circular.basic.button.select_term(href='#')
            // if image
            //     img.ui.mini.rounded.inline.image(src="{{c.url image height=200 width=200 gravity='face' crop='fill'}}" class='invert')
            |#{title}



template(name='print_this')
    .ui.icon.basic.button.print_this
        i.orange.code.icon


template(name='viewing')
    if currentUser
        unless viewed_by
            .ui.icon.button.mark_read(title='mark read')
                i.eye.icon
        else 
            //- if is_dev
            .ui.icon.button.mark_unread(title='mark unread')
                i.eye.slash.icon
    else 
        i.eye.icon
    .ui.grey.inline.header 
        |viewers
    each read_ids
        +user_info




template(name='vote')
    a.ui.circular.icon.button.upvote(title='upvote')
        i.thumbs.up.outline.big.icon
    if points
        strong #{points}
    a.ui.circular.icon.button.downvote(title='downvote')
        i.thumbs.down.outline.big.icon
