template(name='home')
    // .ui.stackable.grid
    //     .sixteen.wide.center.aligned.column
    // iframe(frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/1_encX_RKyZhOU26r7_cNTtl0rLvEQSai/preview")
    // i.large.yin.yang.icon(class=home_button_class)
    if selected_tags
        // if many_tags
        //     a#clear_tags.ui.black.icon.compact.circular.button.select_term
        //         i.remove.icon
        each selected_tags
            +unselect_tag
    .ui.left.icon.input 
        i.search.icon
        input.search_title(type='text' autofocus='')
    each tag_results
        +tag_selector
    div
    each docs
        +reddit_card
            // blockquote(class="reddit-card")
            //     a(href="https://www.reddit.com#{permalink}") 
            //         |#{title}
            //     |from 
            //     a(href="http://www.reddit.com/r/#{subreddit}") 
            //         |r/#{subreddit}
            // script(async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")            

    // .ui.header static
    // with reddit_card
    //     blockquote(class="reddit-card")
    //         a(href="https://www.reddit.com#{permalink}") 
    //             |#{title}
    //         |from 
    //         a(href="http://www.reddit.com/r/#{subreddit}") 
    //             |r/#{subreddit}
    // script(src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")            


template(name='reddit_card')
    .ui.stackable.grid
        .centered.row
            .ten.wide.center.aligned.column
                // a.ui.header(href="/m/reddit/#{_id}/view") #{title}
                // .ui.header #{title}
                // a.ui.small.header(href=url target='_window') #{url}
                blockquote(class="reddit-card")
                    a(href="https://www.reddit.com#{permalink}") 
                        |#{title}
                    |from 
                    a(href="http://www.reddit.com/r/#{subreddit}") 
                        |r/#{subreddit}
                script(src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8")
                each tags 
                    .ui.large.label #{this}


template(name='unselect_tag')
    a.unselect_tag.ui.black.big.image.label.select_term(href='#')
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image class=currentUser.invert_class)    
        | #{this}

template(name='tag_selector')
    a.ui.big.image.basic.label.select_tag.select_term(href='#')
        // img.ui.avatar.compact.image(src="{{c.url term.image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        // img.ui.avatar.compact.image(src=term.rd.thumbnail class=currentUser.invert_class)
        if term
            img.ui.avatar.compact.image(src=term.watson.metadata.image class=currentUser.invert_class)    
        | #{name}

