template(name='home')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.center.aligned.column
                // a.ui.button(href="/") 
                //     i.yin.yang.icon
                if currentUser
                    a.ui.icon.circular.button.post(title='add')
                        i.large.plus.icon
                    if is_dev 
                        i.large.code.icon.toggle_dev
                    if is_admin
                        i.large.shield.icon.toggle_admin(title='admin mode on')
                    a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                        //- i.large.user.large.icon
                        |{{money_format currentUser.points}}c
                        |&nbsp;
                        if currentUser.profile_image_id
                            img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='invert')
                        else 
                            i.large.user.large.icon
                        strong.mobile.hidden #{currentUser.username}
                    // a.icon.large.item.toggle_rightbar.select_term
                    //     i.ellipsis.vertical.large.icon
                else
                    a(href="/register" title='register')
                        i.large.user.plus.icon
                        // |register
                    a(href="/login" title='login')
                        i.large.sign.in.alternate.icon
                        // |login

                // iframe(frameborder="0" width="400" height="200" src="https://drive.google.com/file/d/1_encX_RKyZhOU26r7_cNTtl0rLvEQSai/preview")
                .ui.left.icon.input 
                    i.search.icon
                    input.search_title(type='text' autofocus='')
                // div
                if selected_tags
                    a#clear_tags.ui.black.icon.compact.large.circular.button.select_term
                        i.remove.icon
                    each selected_tags
                        a.unselect_tag.ui.black.compact.large.circular.button.select_termn
                            strong #{this}
                // +session_boolean_toggle key='view_tags' label='tags' icon='large tag'
                // if session_is 'view_tags'
                each tag_results
                    a.ui.large.compact.circular.button.select_tag.select_term(href='#')
                        strong #{name}
        .row
            .sixteen.wide.column
                if two_posts
                    .ui.stackable.two.cards
                        each docs
                            +one_post_view
                else if one_post
                    .ui.stackable.cards
                        each docs
                            +one_post_view
                else
                    .ui.stackable.centered.cards
                        each docs
                            +post_card


            
template(name='sort_button')
    .ui.circular.button.toggle_sort(class=sort_button_class)
        if icon 
            i.icon(class=icon)
        |#{label}
        if is_selected
            if sorting_up
                i.chevron.up.icon
            else
                i.chevron.down.icon

            
                                    
                                    
template(name='offer_card')
    .ui.card.view_offer.pointer
        .content
            if image_id
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
            .header
                .ui.inline.header #{title}
                if _author.profile_image_id
                    with _author
                        img.ui.avatar.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=user_class title=username)
                | #{_author.username}
            // |!{description}
            .meta #{when}
            if point_price
                |#{point_price}p
            // each tags 
            //     .ui.tiny.basic.label #{this}
            +comments_view_small
            
            
template(name='comments_view_small')            
    if doc_comments.count
        .meta
            each doc_comments 
                i.grey.chat.outline.icon
                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=user_class)
                |#{body}
                div


                                    
                                    
