template(name='nav')
    .ui.fluid.attached.borderless.menu.topnav(class=currentUser.invert_class)
        // if currentUser
        a.icon.header.zoom.item.toggle_sidebar
            i.bars.large.icon
        a.icon.zoom.item.set_root(href="/m/model" class="{{isActivePath '/m/model'}}")
            if session_is 'loading'
                i.large.yin.yang.loading.icon
            else
                // +i name=''
                i.large.yin.yang.icon
        // unless connected
        //     .item
        //         .ui.green.header not connected
        +status    
        a.icon.zoom.item.set_post(href="/" class="{{isActivePath '/'}}")
            // i.large.home.icon
            +i name='home' cl='ui avatar image'
        // .ui.input.zoom.item.mobile.hidden
        .ui.left.icon.mobile.hidden.input
            i.search.icon
            input.search_dao(type='text')
        each enabled_features
            a.icon.zoom.item.set_model(href="/m/#{slug}" class="{{isActivePath '/m/post'}}" title=title)
                +i name=icon cl='ui avatar image'
        .right.menu
            if currentUser
                a.icon.zoom.item(href="/add" class="{{isActiveRoute 'add'}}" title='add')
                    i.large.plus.icon
                // a.icon.zoom.item.post(title='add')
                if unread_count
                    a.zoom.item.alerts.select_term(href="#" class=alert_toggle_class)
                        i.large.bell.icon
                        if unread_count
                            |#{unread_count}
                else
                    a.icon.zoom.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                        i.large.outline.bell.icon
                if is_dev 
                    a.icon.zoom.item.toggle_dev
                        i.large.code.icon
                if is_admin
                    a.icon.zoom.item.toggle_admin
                        i.large.shield.icon(title='admin mode on')
                a.large.zoom.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                    //- i.large.user.large.icon
                    |{{money_format currentUser.points}}c
                    |&nbsp;
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.username}
            else
                a.zoom.item(href="/register" title='register')
                    i.large.user.plus.icon
                    |register
                a.zoom.item(href="/login" title='login')
                    i.large.sign.in.alternate.icon
                    |login
            a.icon.large.zoom.item.toggle_rightbar.select_term
                i.bars.large.icon
    // .ui.attached.menu.hscroll(class=currentUser.invert_class)
        // each nav_models
    if session_is 'viewing_alerts'
        +topbar

            
template(name='topbar')
    .ui.fluid.large.attached.segment(style="background-color:#{currentUser.theme_color};" class=currentUser.invert_class)
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
            

template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            

            
            
template(name='add')
    .ui.basic.center.aligned.segment
        i.huge.plus.icon
        a.ui.basic.huge.circular.button.debit
            // i.gift.large.icon
            +i name='gift' cl='ui avatar image'
            |gift
        // a.ui.basic.huge.circular.button.request
        //     // i.concierge.bell.large.icon
        //     +i name='request-service' cl='ui avatar image'
        //     |request
        // a.ui.basic.huge.circular.button.offer(title='offer')
        //     // i.store.large.icon
        //     +i name='shop' cl='ui avatar image'
        //     |offer
        a.ui.basic.huge.circular.button.post(title='post')
            +i name='blog' cl='ui avatar image'
            // i.newspaper.large.icon
            |post
        // a.ui.basic.huge.circular.button.alpha(title='post')
        //     +i name='blog'
        //     i.cubes.large.icon
        //     |+ alpha

            
            


template(name='left_sidebar')
    .ui.left.sidebar.vertical.borderless.large.menu(class=currentUser.invert_class)
        .ui.input.item
            .ui.icon.input
                i.search.icon
                input.search_leftbar(type='text')
        each enabled_features
            a.zoom.item.set_model(href="/m/#{slug}" class="{{isActivePath '/m/post'}}" title=title)
                +i name=icon cl='ui avatar image'
                |#{title}
        +leftbar_item model='wikipedia' label='wikipedia' icon='wikipedia'
        +leftbar_item model='reddit' label='reddit' icon='reddit'
        +leftbar_item model='post' label='posts' icon='newspaper'
        +leftbar_item model='youtube' label='video' icon='youtube'
        +leftbar_item model='picture' label='picture' icon='picture'
        +leftbar_item model='tribe' label='tribes' icon='fire'
        // +leftbar_item model='rental' label='rentals' icon='clock'
        // +leftbar_item model='request' label='requests' icon='concierge bell'
        // +leftbar_item model='offer' label='offers' icon='shop'
        // +leftbar_item model='event' label='events' icon='calendar'
        if is_eric
            a.item.zoom.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.icon
                else
                    i.code.icon
        if is_in_admin
            a.item.zoom.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.icon
                else
                    i.shield.icon
        // if is_admin
        a.item.zoom.toggle_dev.toggle_sidebar(href="/m/model")
            |all models
            i.database.icon
                
template(name='leftbar_item')
    a.zoom.toggle_sidebar.set_model.item(href="/m/#{model}")
        |#{label}
        i.large.icon(class=icon)
