template(name='nav')
    // .ui.fluid.fixed.menu.topnav(
    // .ui.fluid.borderless.attached.menu.topnav(class='')
    .ui.fluid.attached.borderless.menu.topnav
        // a.icon.item.toggle_sidebar
        //     i.large.bars.icon
        a.header.icon.item(href="/" class="{{isActivePath '/'}}")
            i.big.yin.yang.icon
        if currentUser
            a.icon.item.debit(title='send credit')
                i.send.large.icon
            // |send credit
        if currentUser
            a.item.request
                i.concierge.bell.large.icon
                |+
            a.item.offer(title='offer')
                i.store.large.icon
                |+
    
        .right.menu
            if is_dev 
                .icon.item.toggle_dev
                    i.large.code.icon
            if currentUser
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    |{{money_format currentUser.points}}c
                    |&nbsp;
                    if currentUser.profile_image_id
                        if is_admin
                            i.large.shield.icon(title='admin mode on')
                        else
                            img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class='')
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.username}
                a.icon.large.item.toggle_rightbar.select_term
                    i.ellipsis.vertical.large.icon
            else
                a.item(href="/register" title='register')
                    i.large.user.plus.icon
                    |register
                a.item(href="/login" title='login')
                    i.large.chevron.right.icon
                    |login
            
            
            
template(name='right_sidebar')
    .ui.right.sidebar.vertical.borderless.menu(class='')
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.large.dashboard.icon
        
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
            | #{currentUser.total_credit_amount}p received
            i.large.chevron.down.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/debits" class="{{isActiveRoute 'user_sent'}}")
            | #{currentUser.total_debit_amount}p sent
            i.large.chevron.up.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/requests" class="{{isActiveRoute 'user_requests'}}")
            | requests
            i.large.concierge.bell.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/orders" class="{{isActiveRoute 'user_orders'}}")
            | orders
            i.large.reciept.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/offers" class="{{isActiveRoute 'user_offers'}}")
            | offers
            i.large.store.icon
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute 'user_credit'}}")
            | #{currentUser.credit} credit
            i.large.dollar.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_rightbar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings
        a.item.logout(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.borderless.menu(class='')
        // a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        if is_eric
            a.icon.item.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.large.icon
                else
                    i.code.large.icon
        if is_in_admin
            a.icon.item.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon