template(name='nav')
    .ui.fluid.attached.borderless.menu.topnav(class=currentUser.invert_class)
        // if currentUser
        a.icon.header.item.toggle_sidebar
            i.bars.icon
        a.icon.item.set_model(href="/m/model" class="{{isActivePath '/m/model'}}")
            i.large.yin.yang.icon
        a.icon.item.set_post(href="/" class="{{isActivePath '/'}}")
            i.large.home.icon
        a.icon.mobile.hidden.set_wikipedia.item(href="/m/wikipedia" class="{{isActivePath '/m/wikipedia'}}")
            i.wikipedia.large.icon
        a.icon.mobile.hidden.set_reddit.item(href="/m/reddit" class="{{isActivePath '/m/reddit'}}")
            i.reddit.large.icon
        .ui.input.item.mobile.hidden
            .ui.icon.input
                i.search.icon
                input.search_dao(type='text')
        // a.icon.mobile.hidden.item.set_post(href="/m/post" class="{{isActivePath '/m/post'}}")
        //     i.large.newspaper.icon
        // a.icon.mobile.hidden.item.set_request(href="/m/request" class="{{isActivePath '/m/request'}}")
        //     i.large.concierge.bell.icon
        // a.icon.mobile.hidden.item.set_offer(href="/m/offer" class="{{isActivePath '/m/offer'}}")
        //     i.large.store.icon
        // a.icon.mobile.hidden.item.set_event(href="/m/event" class="{{isActivePath '/m/event'}}")
        //     i.large.calendar.icon
        // a.icon.mobile.hidden.item.set_tribe(href="/m/tribe" class="{{isActivePath '/m/tribe'}}")
        //     i.large.fire.icon
        // a.icon.mobile.hidden.item.set_rental(href="/m/rental" class="{{isActivePath '/rentals'}}")
        //     i.large.clock.icon
        // a.icon.mobile.hidden.item(href="/chat" class="{{isActivePath '/chat'}}")
        //     i.large.chat.outline.icon
        // a.icon.mobile.hidden.item.set_task(href="/m/task" class="{{isActivePath '/m/task'}}")
        //     i.large.tasks.icon
        // a.icon.mobile.hidden.item(href="/m/meal" class="{{isActivePath '/m/meal'}}")
        //     i.large.food.icon
        // a.icon.mobile.hidden.item.set_badge(href="/m/badge" class="{{isActivePath '/m/badge'}}")
        //     i.large.certificate.icon
        // a.icon.mobile.hidden.item.set_picture(href="/m/picture" class="{{isActivePath '/m/picture'}}")
        //     i.large.image.icon
        .item
            +status    
        .right.menu
            if currentUser
                // a.icon.item(href="/add" class="{{isActiveRoute 'add'}}" title='add')
                a.icon.item.post(title='add')
                    i.large.plus.icon
                if unread_count
                    a.item.alerts.select_term(href="#" class=alert_toggle_class)
                        i.large.bell.icon
                        if unread_count
                            |#{unread_count}
                else
                    a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                        i.large.outline.bell.icon
                if is_dev 
                    a.icon.item.toggle_dev
                        i.large.code.icon
                if is_admin
                    a.icon.item.toggle_admin
                        i.large.shield.icon(title='admin mode on')
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    |{{money_format currentUser.points}}c
                    |&nbsp;
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.username}
                a.icon.large.item.toggle_rightbar.select_term
                    i.bars.large.icon
            else
                a.item(href="/register" title='register')
                    i.large.user.plus.icon
                    // |register
                a.item(href="/login" title='login')
                    i.large.sign.in.alternate.icon
                    // |login
    if session_is 'viewing_alerts'
        +topbar

            
template(name='topbar')
    .ui.fluid.large.attached.segment(style="background-color:#{currentUser.theme_color};" class=currentUser.invert_class)
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
            

template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            

            
            
template(name='add')
    .ui.basic.center.aligned.segment
        a.ui.basic.huge.circular.button.debit
            i.gift.large.icon
            |+ gift
        a.ui.basic.huge.circular.button.request
            i.concierge.bell.large.icon
            |+ request
        a.ui.basic.huge.circular.button.offer(title='offer')
            i.store.large.icon
            |+ offer
        a.ui.basic.huge.circular.button.post(title='post')
            i.newspaper.large.icon
            |+ post
        a.ui.basic.huge.circular.button.alpha(title='post')
            i.cubes.large.icon
            |+ alpha

            
            


template(name='left_sidebar')
    .ui.left.sidebar.vertical.borderless.large.menu(class=currentUser.invert_class)
        .ui.input.item
            .ui.icon.input
                i.search.icon
                input.search_dao(type='text')
    
        +leftbar_item model='wikipedia' label='wikipedia' icon='wikipedia'
        +leftbar_item model='reddit' label='reddit' icon='reddit'
        +leftbar_item model='post' label='posts' icon='newspaper'
        +leftbar_item model='youtube' label='video' icon='youtube'
        +leftbar_item model='picture' label='picture' icon='picture'
        +leftbar_item model='tribe' label='tribes' icon='fire'
        +leftbar_item model='rental' label='rentals' icon='clock'
        +leftbar_item model='request' label='requests' icon='concierge bell'
        +leftbar_item model='offer' label='offers' icon='shop'
        +leftbar_item model='event' label='events' icon='calendar'
        if is_eric
            a.item.zoom.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.icon
                else
                    i.code.icon
        if is_in_admin
            a.item.zoom.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.icon
                else
                    i.shield.icon
        // if is_admin
        a.item.zoom.toggle_dev.toggle_sidebar(href="/m/model")
            |all models
            i.database.icon
                
template(name='leftbar_item')
    a.zoom.toggle_sidebar.set_model.item(href="/m/#{model}")
        |#{label}
        i.large.icon(class=icon)
