template(name='nav')
    // .ui.fluid.fixed.menu.topnav(
    // .ui.fluid.borderless.attached.menu.topnav(class='')
    .ui.fluid.attached.menu.topnav(class='invert')
        if currentUser
            a.icon.header.item.toggle_sidebar
                // i.ellipsis.vertical.icon
                i.large.yin.yang.icon
        a.icon.mobile.hidden.item.set_post(href="/" class="{{isActivePath '/'}}")
            i.large.home.icon
        a.icon.mobile.hidden.item.set_post(href="/m/post" class="{{isActivePath '/m/post'}}")
            i.large.newspaper.icon
        a.icon.mobile.hidden.item.set_request(href="/m/request" class="{{isActivePath '/m/request'}}")
            i.large.concierge.bell.icon
        a.icon.mobile.hidden.item.set_offer(href="/m/offer" class="{{isActivePath '/m/offer'}}")
            i.large.store.icon
        a.icon.mobile.hidden.item.set_event(href="/m/event" class="{{isActivePath '/m/event'}}")
            i.large.calendar.icon
        a.icon.mobile.hidden.item.set_tribe(href="/m/tribe" class="{{isActivePath '/m/tribe'}}")
            i.large.fire.icon
        a.icon.mobile.hidden.item.set_rental(href="/m/rental" class="{{isActivePath '/rentals'}}")
            i.large.clock.icon
        a.icon.mobile.hidden.item(href="/chat" class="{{isActivePath '/chat'}}")
            i.large.chat.outline.icon
        a.icon.mobile.hidden.item.set_task(href="/m/task" class="{{isActivePath '/m/task'}}")
            i.large.tasks.icon
        a.icon.mobile.hidden.item(href="/m/meal" class="{{isActivePath '/m/meal'}}")
            i.large.food.icon
        a.icon.mobile.hidden.item.set_badge(href="/m/badge" class="{{isActivePath '/m/badge'}}")
            i.large.certificate.icon
        a.icon.mobile.hidden.item.set_picture(href="/m/picture" class="{{isActivePath '/m/picture'}}")
            i.large.image.icon
        .item
            +status    
        .right.menu
            if currentUser
                // a.icon.item(href="/add" class="{{isActiveRoute 'add'}}" title='add')
                a.icon.item.post(title='add')
                    i.large.plus.icon
                if unread_count
                    a.item.alerts.select_term(href="#" class=alert_toggle_class)
                        i.large.bell.icon
                        if unread_count
                            |#{unread_count}
                else
                    a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                        i.large.outline.bell.icon
                if is_dev 
                    .icon.item.toggle_dev
                        i.large.code.icon
                if is_admin
                    .icon.item.toggle_admin
                        i.large.shield.icon(title='admin mode on')
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    |{{money_format currentUser.points}}c
                    |&nbsp;
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.username}
                a.icon.large.item.toggle_rightbar.select_term
                    i.ellipsis.vertical.large.icon
            else
                a.item(href="/register" title='register')
                    i.large.user.plus.icon
                    // |register
                a.item(href="/login" title='login')
                    i.large.sign.in.alternate.icon
                    // |login
    if session_is 'viewing_alerts'
        +topbar

            
template(name='topbar')
    .ui.fluid.large.attached.segment(style="background-color:#{currentUser.theme_color};" class=currentUser.invert_class)
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.inverted.button.item.close_topbar(href="/inbox")
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
            

template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            

            
            
template(name='add')
    .ui.basic.center.aligned.segment
        a.ui.basic.huge.circular.button.debit
            i.gift.large.icon
            |+ gift
        a.ui.basic.huge.circular.button.request
            i.concierge.bell.large.icon
            |+ request
        a.ui.basic.huge.circular.button.offer(title='offer')
            i.store.large.icon
            |+ offer
        a.ui.basic.huge.circular.button.post(title='post')
            i.newspaper.large.icon
            |+ post
        a.ui.basic.huge.circular.button.alpha(title='post')
            i.cubes.large.icon
            |+ alpha

            
            
template(name='right_sidebar')
    // .ui.right.sidebar.vertical.borderless.menu(class=currentUser.invert_class)
    .ui.right.sidebar.vertical.borderless.menu(class=currentUser.invert_class)
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.large.dashboard.icon
        
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/kin" class="{{isActiveRoute 'user_kin'}}")
            | #{currentUser.total_credit_amount}p in
            i.large.chevron.down.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/kout" class="{{isActiveRoute 'user_kout'}}")
            | #{currentUser.total_debit_amount}p out
            i.large.chevron.up.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/requests" class="{{isActiveRoute 'user_requests'}}")
            | requests
            i.large.concierge.bell.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/orders" class="{{isActiveRoute 'user_orders'}}")
            | orders
            i.large.reciept.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/offers" class="{{isActiveRoute 'user_offers'}}")
            | offers
            i.large.store.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute 'user_credit'}}")
            | #{currentUser.credit} credit
            i.large.dollar.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_nightmode.zoom.toggle_rightbar(href="#")
            i.yin.yang.large.icon
            if currentUser.invert_class.length
                |yin
            else
                |yang

        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings
        a.item.zoom.logout(href="#" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.accordion.menu(class=currentUser.invert_class)
        a.item.select_term
            .title.zoom
                i.newspaper.icon
                |posts
                i.dropdown.icon
            .content
                .ui.list
                    .item.zoom.toggle_sidebar.top_earned top earned
                    .item.zoom.toggle_sidebar.newest_posts newest
                    .item.zoom.toggle_sidebar.my_posts yours
                    .item.zoom.toggle_sidebar.set_wikipedia
                        |wikipedia
                        i.wikipedia.icon
                    .item.zoom.toggle_sidebar.set_reddit
                        |reddit
                        i.reddit.icon
                    .item.zoom.toggle_sidebar.set_youtube
                        |youtube
                        i.youtube.icon
                    
        a.item.select_term
            .title.zoom
                i.shop.icon
                |offers
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned most ordered
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
                .item.toggle_sidebar
                    |self
                    i.user.outline.icon
        a.item.select_term
            .title.zoom
                i.concierge.bell.icon
                |requests
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned unclaimed
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.calendar.icon
                |events
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned unclaimed
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.exchange.icon
                |transfers
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.biggest_debits biggest
                .item.zoom.toggle_sidebar.newest_debits newest
                .item.zoom.toggle_sidebar.my_debits yours
        a.item.select_term
            .title.zoom
                i.exchange.icon
                |commerce
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar(href="/rentals" class="{{isActivePath '/rentals'}}")
                    |rentals
                    i.clock.icon
                .item.zoom.toggle_sidebar(href="/meals" class="{{isActivePath '/meals'}}")
                    |meals
                    i.food.icon
                .item.zoom.toggle_sidebar.biggest_debits requests
                .item.zoom.toggle_sidebar.newest_debits offers
                a.item.zoom.toggle_sidebar.my_debits(href="/m/rental") rentals
        a.item.select_term
            .title.zoom
                i.chat.icon
                |social
                i.dropdown.icon
            .content
                a.item.zoom.toggle_sidebar(href="/tribes" class="{{isActivePath '/tribes'}}")
                    |tribes
                    i.fire.icon
                a.item.zoom.toggle_sidebar(href="/chat" class="{{isActivePath '/chat'}}")
                    |chat
                    i.chat.outline.icon
                .item.zoom.toggle_sidebar.biggest_debits chat
                .item.zoom.toggle_sidebar.newest_debits 
                    |badges
                a.item.zoom.toggle_sidebar(href="/badges" class="{{isActivePath '/badges'}}")
                    |badges
                    i.certificate.icon
                a.item.zoom.toggle_sidebar(href="/images" class="{{isActivePath '/images'}}")
                    |images
                    i.image.icon
                a.item.zoom.toggle_sidebar.my_debits(href="/m/rental") rentals
        a.item.select_term
            .title.zoom
                i.chat.icon
                |commerce
                i.dropdown.icon
            .content
                a.item.zoom.toggle_sidebar(href="/tribes" class="{{isActivePath '/tribes'}}")
                    |tribes
                    i.fire.icon
                a.item.zoom.toggle_sidebar(href="/chat" class="{{isActivePath '/chat'}}")
                    |chat
                    i.chat.outline.icon
                .item.zoom.toggle_sidebar.biggest_debits chat
                .item.zoom.toggle_sidebar.newest_debits 
                    |badges
                a.item.zoom.toggle_sidebar.my_debits(href="/m/rental") rentals
        a.item.zoom.toggle_sidebar(href="/requests" class="{{isActivePath '/requests'}}")
            |requests
            i.concierge.bell.icon
        a.item.zoom.toggle_sidebar(href="/offers" class="{{isActivePath '/offers'}}")
            |offers
            i.store.icon
        a.item.zoom.toggle_sidebar(href="/events" class="{{isActivePath '/events'}}")
            |events
            i.calendar.icon
        a.item.zoom.toggle_sidebar(href="/tasks" class="{{isActivePath '/tasks'}}")
            |tasks
            i.tasks.icon
            
        if is_eric
            a.item.zoom.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.icon
                else
                    i.code.icon
        if is_in_admin
            a.item.zoom.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.icon
                else
                    i.shield.icon
        if is_admin
            a.item.zoom.toggle_dev.toggle_sidebar(href="/m/model")
                |delta
                i.database.icon