template(name='nav')
    // .ui.fluid.fixed.menu.topnav(
    // .ui.fluid.borderless.attached.menu.topnav(class='')
    .ui.fluid.attached.borderless.menu.topnav(class='invert')
        // if currentUser
        //     a.icon.item.toggle_sidebar
        //         i.large.ellipsis.vertical.icon
        a.header.icon.item(href="/" class="{{isActivePath '/'}}")
            i.large.yin.yang.icon
        if currentUser
            // a.icon.item(href="/add" class="{{isActiveRoute 'add'}}" title='add')
            a.icon.item.post(title='add')
                i.large.plus.icon
        .item
            +status    
        .right.menu
            if currentUser
                // if unread_count
                //     a.item.alerts.select_term(href="#" class=alert_toggle_class)
                //         i.large.bell.icon
                //         if unread_count
                //             |#{unread_count}
                // else
                //     a.icon.item(href="/inbox" class="{{isActiveRoute 'inbox'}}")
                //         i.large.outline.bell.icon
                if is_dev 
                    .icon.item.toggle_dev
                        i.large.code.icon
                if is_admin
                    .icon.item.toggle_admin
                        i.large.shield.icon(title='admin mode on')
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    |{{money_format currentUser.points}}c
                    |&nbsp;
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                    else 
                        i.large.user.large.icon
                    strong.mobile.hidden #{currentUser.username}
                // a.icon.large.item.toggle_rightbar.select_term
                //     i.ellipsis.vertical.large.icon
            else
                a.item(href="/register" title='register')
                    i.large.user.plus.icon
                    // |register
                a.item(href="/login" title='login')
                    i.large.sign.in.alternate.icon
                    // |login
            
            
template(name='topbar')
    .ui.fluid.large.attached.segment(style="background-color:#{currentUser.theme_color};" class=currentUser.invert_class)
        .ui.middle.aligned.divided.list
            each recent_alerts
                +recent_alert
        a.ui.icon.attached.basic.inverted.button.item.close_topbar(href="/inbox")
        a.ui.icon.attached.basic.button.item.close_topbar(href="/inbox")
            i.inbox.large.icon
            |inbox
            

template(name='recent_alert')        
    .item.alert
        .right.floated.content
            i.circular.eye.link.large.icon.mark_read(title='mark read')
        img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            .header
                |#{description} 
            .description #{author.name} #{made_when}
            

            
            
template(name='add')
    .ui.basic.center.aligned.segment
        a.ui.basic.huge.circular.button.debit
            i.gift.large.icon
            |+ gift
        a.ui.basic.huge.circular.button.request
            i.concierge.bell.large.icon
            |+ request
        a.ui.basic.huge.circular.button.offer(title='offer')
            i.store.large.icon
            |+ offer
        a.ui.basic.huge.circular.button.post(title='post')
            i.newspaper.large.icon
            |+ post
        a.ui.basic.huge.circular.button.alpha(title='post')
            i.cubes.large.icon
            |+ alpha

            
            
template(name='right_sidebar')
    // .ui.right.sidebar.vertical.borderless.menu(class=currentUser.invert_class)
    .ui.right.sidebar.vertical.borderless.menu(class=currentUser.invert_class)
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |#{currentUser.name}
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/" class="{{isActiveRoute 'user_dashboard'}}")
            | dashboard (#{currentUser.points}p)
            i.large.dashboard.icon
        
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/credits" class="{{isActiveRoute 'user_credits'}}")
            | #{currentUser.total_credit_amount}p received
            i.large.chevron.down.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/debits" class="{{isActiveRoute 'user_sent'}}")
            | #{currentUser.total_debit_amount}p sent
            i.large.chevron.up.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/requests" class="{{isActiveRoute 'user_requests'}}")
            | requests
            i.large.concierge.bell.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/orders" class="{{isActiveRoute 'user_orders'}}")
            | orders
            i.large.reciept.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/offers" class="{{isActiveRoute 'user_offers'}}")
            | offers
            i.large.store.icon
        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/credit" class="{{isActiveRoute 'user_credit'}}")
            | #{currentUser.credit} credit
            i.large.dollar.icon
        // a.item.toggle_rightbar(href="/user/#{currentUser.username}/messages" class="{{isActiveRoute 'user_messages'}}")
        //     | chat
        //     i.chat.icon
        .ui.divider
        a.item.toggle_nightmode.zoom.toggle_rightbar(href="#")
            i.yin.yang.large.icon
            if currentUser.invert_class.length
                |yin
            else
                |yang

        a.item.zoom.toggle_rightbar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings
        a.item.zoom.logout(href="#" class="{{isActiveRoute 'user_messages'}}" )
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.vertical.accordion.menu(class=currentUser.invert_class)
        // a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
        //     img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
        //     |One
        a.item.select_term
            .title.zoom
                i.newspaper.icon
                |posts
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned top earned
                .item.zoom.toggle_sidebar.newest_posts newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.shop.icon
                |offers
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned most ordered
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.concierge.bell.icon
                |requests
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned unclaimed
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.calendar.icon
                |events
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.top_earned unclaimed
                .item.zoom.toggle_sidebar.most_recent_offers newest
                .item.zoom.toggle_sidebar.my_posts yours
        a.item.select_term
            .title.zoom
                i.exchange.icon
                |transfers
                i.dropdown.icon
            .content
                .item.zoom.toggle_sidebar.biggest_debits biggest
                .item.zoom.toggle_sidebar.newest_debits newest
                .item.zoom.toggle_sidebar.my_debits yours
        if is_eric
            a.item.zoom.toggle_dev.toggle_sidebar
                |toggle dev
                if is_dev
                    i.code.blue.large.icon
                else
                    i.code.large.icon
        if is_in_admin
            a.item.zoom.toggle_admin.toggle_sidebar
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon