template(name='nav')
    // .ui.fluid.inverted.fixed.menu.topnav(style="background-color:#{currentUser.theme_color};")
    .ui.fluid.inverted.attached.borderless.menu.topnav(style="background-color:#{currentUser.theme_color};")
        a.icon.item.toggle_sidebar
            i.large.bars.icon
        a.icon.item(href="/" class="{{isActivePath 'home'}}")
            img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
            // i.large.home.icon
        a.item.set_member.mobile.hidden(href="/m/member" class="{{isActiveRoute 'users'}}" title='players')
            i.large.users.icon
            | directory
        a.item.mobile.hidden(href="/events" class="{{isActiveRoute 'events'}}" title='events')
            i.large.calendar.icon
            |events
        // a.item.mobile.hidden(href="/m/event" class="{{isActiveRoute 'events'}}" title='events')
        a.item.mobile.hidden(href="/m/post" class="{{isActiveRoute 'feed'}}" title='feed')
            i.large.newspaper.icon
            // em(data-emoji='newspaper')
            |news
        a.item.mobile.hidden(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
            i.large.concierge.bell.icon
            // em(data-emoji='bellhop')
            |requests
        // if is_admin
        //     a.icon.item.mobile.hidden(href="/m/model" class="{{isActivePath regex='model'}}" title='admin')
        //         i.database.large.icon
        .right.menu
            a.icon.item.toggle_top_sidebar(href="#")
                // img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
                i.large.bell.icon
        
            // a.icon.item(href="/chat" title='chat') 
            a.icon.item(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
                i.chat.large.icon
            if currentUser
                // a.large.item.profile_sidebar(class="{{isActiveRoute 'user_dashboard'}}")
                a.large.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_dashboard'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.large.user.large.icon
                    strong #{currentUser.name}
                    small
                        |#{currentUser.points}p
            else
                // a.item(href="/register" title='register')
                //     // |login
                //     +icon name='plus'
                //     // i.large.chevron.right.icon
                a.item(href="/login" title='login')
                    // |login
                    +icon name='login-rounded-right'
                    // i.large.chevron.right.icon




template(name='top_sidebar')
    .ui.top.sidebar.inverted.vertical.large.menu(style="background-color:#{currentUser.theme_color};")
        .spacer
        .spacer
        .spacer
        .spacer
        .spacer
        .spacer
        .item.header notifications

template(name='right_sidebar')
    .ui.right.sidebar.inverted.vertical.large.borderless.menu(style="background-color:#{currentUser.theme_color};")
        a.item.profile_sidebar(href="/user/#{currentUser.username}" class="{{isActiveRoute 'user_layout'}}")
            img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
            |profile
        a.item.profile_sidebar(href="/user/#{currentUser.username}/" class="{{isActivePath 'user_dashboard'}}" title="#{user.username} dashboard")
            | dashboard
            i.dashboard.icon
        
        a.item.profile_sidebar(href="/user/#{currentUser.username}/about" class="{{isActivePath 'user_about'}}" title="#{user.username} info")
            | about
            i.info.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/credits" class="{{isActivePath 'user_credits'}}" title="#{user.username} credits")
            | received
            i.chevron.down.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/debits" class="{{isActivePath 'user_sent'}}" title="#{user.username} sent")
            | sent
            i.chevron.up.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/events" class="{{isActivePath 'user_events'}}" title="#{user.username} events")
            | events
            i.calendar.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/requests" class="{{isActivePath 'user_requests'}}" title="#{user.username} requests")
            | requests
            i.concierge.bell.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/offers" class="{{isActivePath 'user_offers'}}" title="#{user.username} requests")
            | offers
            i.hand.holding.heart.icon
        a.item.profile_sidebar(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
            | chat
            i.chat.icon
        .ui.divider
        a.item.profile_sidebar(href="/user/#{currentUser.username}/edit" title='edit your account')
            i.cog.large.icon
            |settings

        a.item.logout(href="/user/#{currentUser.username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
            |logout
            if is_logging_out
                i.refresh.loading.icon
            else
                i.sign.out.icon



template(name='left_sidebar')
    .ui.left.sidebar.inverted.vertical.large.menu(style="background-color:#{currentUser.theme_color};")
        a.item.toggle_sidebar(href="/" class="{{isActiveRoute '/'}}")
            img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
            |One
        a.item.set_member.toggle_sidebar(href="/m/member" class="{{isActiveRoute 'users'}}" title='players')
            i.users.icon
            | directory
        a.item.toggle_sidebar(href="/events" class="{{isActivePath regex='events'}}")
            i.calendar.icon
            |events
        a.item.toggle_sidebar.set_post(href="/m/post" class="{{isActiveRoute 'feed'}}")
            i.newspaper.icon
            |news
        a.item.toggle_sidebar(href="/m/offer" class="{{isActiveRoute 'requests'}}")
            i.hand.holding.heart.icon
            |offers
        a.item.toggle_sidebar(href="/requests" class="{{isActiveRoute 'requests'}}")
            i.concierge.bell.icon
            |requests
        a.item.toggle_sidebar.set_bug(href="/m/bug" class="{{isActiveRoute 'bugs'}}")
            i.bug.icon
            |bugs
        // a.item.toggle_sidebar.set_rental(href="/m/rental" class="{{isActivePath regex='rentals'}}")
        //     i.clock.icon
        //     |rentals
        // if has_badge 'facilitator'
        a.item(href="/chat" title='chat') 
            |chat
            i.chat.icon
        if is_in_admin
            a.icon.item.toggle_admin
                |toggle admin
                if is_admin
                    i.shield.blue.large.icon
                else
                    i.shield.large.icon
            
        if is_admin
            a.item.toggle_sidebar.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}")
                i.certificate.blue.icon
                | badges
            a.item.toggle_sidebar.set_debit(href="/m/debit" class="{{isActivePath regex='rentals'}}")
                i.gift.blue.icon
                |gifts
            .divider
            a.item.toggle_sidebar.set_project(href="/m/project" class="{{isActivePath regex='projects'}}")
                i.tasks.blue.icon
                | projects
            a.item.toggle_sidebar(href="/m/room" class="{{isActiveRoute 'requests'}}")
                i.building.blue.icon
                |rooms
            a.blue.item.set_model.toggle_sidebar(href="/m/model" class="{{isActivePath regex='model'}}")
                |admin
                i.database.blue.icon
            a.item.set_user.toggle_sidebar(href="/m/user" class="{{isActiveRoute 'users'}}")
                i.blue.users.icon
                | all users

