template(name='badges')
    .ui.padded.stackable.grid
        .four.wide.column
            // .ui.button 
            //     |debit count
            // .ui.button 
            //     |debit amount
            // .ui.button 
            //     |credit count
            // .ui.button 
            //     |credit amount
            .ui.inline.header
                +icolor name='prize'
                |badges
            if is_admin
                .ui.icon.big.circular.button.add_badge
                    i.plus.green.icon
        .twelve.wide.column
            .scrolling
                .ui.stackable.four.cards
                    each badges
                        +badge_item
        .sixteen.wide.column
            // +badge_cloud


template(name='badge_item')
    a.card(href="/badge/#{_id}/view")
        .image
            if icon 
                +icolorlg name=icon
            else
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/badge/#{_id}/view")
                |#{location}: #{title}
            |!{description}
        


template(name='badge_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    // if can_edit
                    a(href="/badges" title='badges')
                        +icolorlg name='prize' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    +icolorlg name=icon cl='ui inline image'
                    .ui.center.aligned.inline.header 
                        small viewing badge: 
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.ui.big.icon.circular.button.edit_badge(href="/badge/#{_id}/edit")
                            i.large.blue.pencil.icon
            .row 
                .four.wide.column
                    .ui.header
                        i.marker.icon 
                        |#{location}
                .eight.wide.column
                    .ui.stackable.two.column.grid
                        .column
                            .ui.header 
                                small author
                            a.ui.header(href="/user/#{_author.username}") 
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{_author.username}
                        .column
                            .ui.header
                                |audience
                            
                            // a.ui.header(href="/user/#{target.username}")
                            //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            //     |#{target.username}
                            
                    +number_view key='bounty' label='bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header 
                        +icon name='badger'
                        |badgers
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='badge_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.big.icon.circular.button(href="/badge/#{_id}/view" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.inline.header 
                        +icon name='prize'
                        small edit badge
                        |#{title}
                .four.wide.center.aligned.column
                    .ui.large.circular.icon.button.delete_item(title='cancel')
                        i.large.red.remove.icon
            .row 
                .four.wide.column
                .eight.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    +boolean_edit key='published' direct=true
