template(name='food')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.fluid.big.button.order
                |order
        .twelve.wide.column
            .ui.cards
                each orders
                    +order_card
                    
                    
template(name='order_card')                    
    .ui.card 
        .content 
            .ui.header #{when}
            +time_view key='delivery_time' label='delivery time' direct=true
            +textarea_view key='delivery_location' label='delivery location' direct=true
            +textarea_view key='delivery_notes' label='delivery notes' direct=true
            +text_view key='notes' label='notes' direct=true
            +date_view key='date' label='date' direct=true
            .spacer
            .ui.large.label
                |tiffen type: #{tiffen_type}
            
            a.ui.button(href="/m/mealorder/#{_id}/view")
                |view
            if can_edit
                .ui.red.compact.button.cancel_order
                    |cancel
                    