template(name='locations')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            // .ui.button 
            //     |debit count
            // .ui.button 
            //     |debit amount
            // .ui.button 
            //     |credit count
            // .ui.button 
            //     |credit amount
            .ui.inline.header 
                +icolor name='marker' 
                |locations
            if is_admin
                .ui.icon.circular.button.add_location
                    i.plus.green.icon
                    // |add location
            .scrolling
                .ui.stackable.three.cards
                    each locations
                        +location_item
        // .sixteen.wide.column
            // +location_cloud


template(name='location_item')
    a.card(href="/location/#{_id}/view")
        if image
            a(href="/location/#{_id}/view")
                img.ui.image(src="{{c.url image height=500 width=500 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/location/#{_id}/view") #{title}
        
        
        
template(name='location_card')
    .card
        .image
            img.ui.raw.image(src="{{c.url job.image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/location/#{_id}/view")
                |#{job.title}
                |#{title}
            .ui.basic.label from {{long_date start_datetime}}
                small {{from_now start_datetime}}
            .ui.basic.label to {{long_date end_datetime}}
            .item to {{from_now end_datetime}}
            .item #{end_time} end time
            .item #{steward.username} leader(s)
            .ui.list
                each contributers
                    .item #{username} contributer
                //- |#{username}
        a.ui.button(href="/location/#{_id}/view")
            |view
            i.right.chevron.icon


template(name='location_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a(href="/locations")
                        +icolor name='marker' cl='ui centered image pointer'
                .eight.wide.center.aligned.column
                    .ui.header 
                        +icon name='clock'
                        |view location 
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit 
                        a.ui.big.circular.blue.icon.button(href="/location/#{_id}/edit" title='edit location instance')
                            i.pencil.large.icon
            .row 
                .four.wide.column
                    .ui.header template #{template_id}
                    if st.image_id
                        img.ui.fluid.image(src="{{c.url st.image_id height=500 width=500 gravity='face' crop='fill'}}")
                    a.ui.header(href="/job/#{_id}/view")
                        |#{location_template.title} location template
                    +image_view key='image_id' label='image' direct=true
                .eight.wide.column
                    .ui.header
                        |leader:
                        |#{location_leader.name}
                    +image_view key='image' label='image' direct=true
                    .ui.header
                        |participants
                    each recipients
                        a.ui.header(href="/user/#{username}")
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.green.big.fluid.button.sign_up
                        |sign up
                    .ui.header workers
                    each workers 
                        .ui.header #{username}
                    a.ui.header(href="/location/#{_id}/view")
                        |#{job.title}
                    .ui.basic.label from {{long_date start_datetime}}
                        small {{from_now start_datetime}}
                    .ui.basic.label to {{long_date end_datetime}}
                    .item to {{from_now end_datetime}}
                    .ui.list
                        each contributers
                            .item #{username} contributer
                            
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit
                    
                    
                    
template(name='location_edit')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.circular.green.icon.button(href="/location/#{_id}/view" title='save')
                        i.checkmark.huge.icon
                        // |save
                .eight.wide.center.aligned.column
                    .ui.small.inline.header 
                        +icon name='clock'
                        |edit location
                    .ui.inline.header #{title}
                .four.wide.center.aligned.column
                    .ui.red.icon.circular.button.delete_item(title='delete location')
                        i.large.remove.icon
            .row 
                .four.wide.column
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    +image_edit key='image' label='image' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    div 
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                .four.wide.column
                    