template(name='offers')
    .ui.stackable.padded.grid 
        .row
            .four.wide.column
                .ui.inline.header 
                    i.hand.holding.heart.icon
                    |offers
                .ui.circular.icon.button.add_offer
                    i.large.plus.icon
                div
                i.tags.icon
                if selected_offer_tags
                    #clear_offer_tags.ui.active.icon.compact.button
                        i.remove.icon
                    each selected_offer_tags
                        .unselect_offer_tag.ui.active.compact.button
                            strong #{this}
                each offer_tags
                    .ui.compact.button.select_offer_tag(class=cloud_tag_class) 
                        strong #{this.name}
            .twelve.wide.column
                .ui.icon.input 
                    if searching_offers
                        i.remove.icon.clear_search
                    else
                        i.search.icon
                    input.offer_title(type='text')
                |sort by
                .ui.button.when
                    |when
                .ui.button.price
                    |price
                if sorting_up
                    .ui.button.sort_down
                        i.chevron.up.icon
                else
                    .ui.button.sort_up
                        i.chevron.down.icon

                .scrolling
                    .ui.stackable.divided.items
                        each offers
                            +offer_item




template(name='offer_item')
    .ui.item.pointer.offer_item
        if image_id
            .image
                img.ui.rounded.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            .header
                |#{title}
                if complete
                    i.green.checkmark.icon
            .meta
                |by 
                if _author.profile_image_id
                    img.ui.avatar.compact.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{_author.name}
                .ui.big.basic.label
                    |#{credit_price} credit
                if rental
                    .ui.small.header
                        i.checkmark.icon
                        |rental
            .description
                |!{description}
                +comments_view_small    
    // .ui.divider
