template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.zoom.pointer.card(href="/m/offer/#{offer_id}/view")
                        .content
                            .ui.inline.header
                                i.chevron.left.icon
                                |offer
                        img.ui.rounded.fluid.image(src="{{c.url order_offer.image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .ui.header
                                |#{order_offer.title}
                    if can_edit
                        .ui.basic.button.cancel_order
                            i.large.remove.icon
                            |cancel order
                    a.ui.pointer.zoom.card(href="/user/#{_author.username}")
                        .content
                            .ui.inline.header 
                                i.user.outline.icon
                                |buyer
                            .ui.inline.header
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{_author.username}
                            
                    +number_view key='amount' label='amount' direct=true
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .six.wide.column
                    .ui.inline.header
                        |#{purchase_price} credits 
                    |purchased
                    .ui.inline.header
                        i.clock.icon
                        | #{when}
                    .ui.small.header 
                        |{{order_tax}}c tax
                    unless submitted
                        +datetime_edit key='delivery_datetime' label='delivery date time' direct=true
                        +textarea_edit key='notes' label='notes' direct=true
                        // +key_value_edit key='tiffen_type' value='meat' direct=true
                        // +key_value_edit key='tiffen_type' value='veggie' direct=true
                        .spacer
                        .spacer
                        // +key_value_edit key='transfer' value='pickup' label='pickup' direct=true                    
                        // +key_value_edit key='transfer' value='delivery' label='delivery' direct=true                    
                        // if key_value_is key='transfer' value='delivery' direct=true
                        // +date_edit key='delivery_date' label='delivery date' direct=true
                        +textarea_edit key='delivery_location' label='delivery location' direct=true
                        +textarea_edit key='delivery_notes' label='delivery notes' direct=true
                    else
                        +datetime_view key='delivery_datetime' label='delivery time' direct=true
                        +textarea_view key='delivery_location' label='delivery location' direct=true
                        +textarea_view key='delivery_notes' label='delivery notes' direct=true
                        +text_view key='notes' label='notes' direct=true
                        .spacer
                        // .ui.large.label
                        //     |tiffen type: #{tiffen_type}
                .six.wide.column
                    unless submitted
                        .ui.green.fluid.button.submit_order
                            |submit order
                    else
                        .ui.fluid.button.unsubmit_order
                            i.undo.icon
                            |unsubmit order
                    .ui.header delivery 
                    +boolean_edit key='delivery_started' direct=true
                    if delivery_started
                        div
                        +boolean_edit key='delivery_complete' direct=true
                        if delivery_complete
                            +image_edit key='delivery_image' direct=true
                        
                            .ui.header customer
                            +boolean_edit key='delivery_accepted' label='delivery accepted' direct=true