template(name='order_card')                    
    .ui.card
        a.content(href="/order/#{_id}/view")
            .right.floated.meta
                |#{when}
            .header 
                i.receipt.icon
                |#{title} order
        if image_id
            a(href="/order/#{_id}/view")
                img.ui.zoom.image(src="{{c.url image_id height=200 width=300 crop='fill'}}" class=currentUser.invert_class)
        .content
            .header
                |#{price}c
            .ui.header seller: #{seller.username}
            .ui.header buyer: #{buyer.username}
            .ui.header payment: #{payment}
            // |!{description}
            if complete
                |completed by #{completer.name}
                +datetime_view key='delivery_datetime' label='delivery time' direct=true
                // +textarea_view key='delivery_location' label='delivery location' direct=true
                +textarea_view key='notes' label='notes' direct=true
                .spacer
                // .ui.large.label
                //     |tiffen type: #{tiffen_type}
        .content
            +boolean_view key='seller_complete' label='seller complete'
            +boolean_view key='buyer_complete' label='buyer complete'
            +boolean_view key='order_complete' label='order complete'
        
            // unless submitted
            //     if can_edit
            //         .ui.green.fluid.button.submit_order
            //             |submit order
            // else
            //     .ui.fluid.button.unsubmit_order
            //         i.undo.icon
            //         |unsubmit order
            // .ui.header delivery 
            // if can_edit
            //     +boolean_edit key='delivery_started' direct=true
            //     if delivery_started
            //         div
            //         +boolean_edit key='delivery_complete' direct=true
            //         if delivery_complete
            //             +image_edit key='delivery_image' direct=true
                    
            //             .ui.header customer
            //             +boolean_edit key='delivery_accepted' label='delivery accepted' direct=true



template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    a.ui.zoom.pointer.card(href="/offer/#{offer_id}/view")
                        img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        .content
                            .ui.inline.header
                                i.chevron.left.icon
                                small offer:
                                |#{title}
                    if can_edit
                        unless submitted
                            .ui.basic.fluid.large.button.cancel_order
                                i.remove.red.icon
                                |cancel
                        else
                            .ui.basic.fluid.large.disabled.button
                                i.remove.red.icon
                                |cancel
                    a.ui.pointer.zoom.card(href="/user/#{_author.username}")
                        .content
                            .ui.inline.header 
                                i.user.outline.icon
                                |author
                            .ui.inline.header
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                |#{_author.username}
                            
                    a.ui.pointer.zoom.card(href="/user/#{seller_username}")
                        .content
                            .ui.inline.header 
                                i.user.outline.icon
                                |seller
                            .ui.inline.header
                                img.ui.avatar.image(src="{{c.url seller.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                |#{seller.username}
                            
                    a.ui.pointer.zoom.card(href="/user/#{buyer.username}")
                        .content
                            .ui.inline.header 
                                i.user.icon
                                |buyer
                            .ui.inline.header
                                img.ui.avatar.image(src="{{c.url buyer.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                |#{buyer.username}
                            
                    +textarea_view key='description' label='description' direct=true
                    // +image_view key='image_id' label='image' direct=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.label #{this}
                    .spacer
                    .spacer
                    +comments
                    // +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    if is_admin
                        +single_user_edit key='seller_id' key2='seller_username' label='seller' direct=true
                        // unless buyer_id
                        
                    unless submitted
                        +single_user_edit key='buyer_id' key2='buyer_username' label='buyer' direct=true
                        // unless buyer_id
                    .ui.header
                        |payment: #{payment} 
                    .ui.header
                        |#{price} credits 
                    |purchased
                    .ui.inline.header
                        | #{when}
                    .ui.small.header 
                        |{{fixed tax}}c tax
                    unless submitted
                        +key_value_edit key='transfer' value='pickup' icon='hands large'
                        +key_value_edit key='transfer' value='delivery' icon='truck large'
                    else
                        .ui.header transfer: #{transfer}
                    if key_value_is 'transfer' 'pickup'
                        unless submitted
                            +datetime_edit key='pickup_datetime' label='pickup date time' direct=true
                            +textarea_edit key='notes' label='notes' direct=true
                    if key_value_is 'transfer' 'delivery'
                        unless submitted
                            +datetime_edit key='delivery_datetime' label='delivery date time' direct=true
                            +textarea_edit key='notes' label='notes (location, instructions)' direct=true
                            // +key_value_edit key='tiffen_type' value='meat' direct=true
                            // +key_value_edit key='tiffen_type' value='veggie' direct=true
                            // .spacer
                            // .spacer
                            // +key_value_edit key='transfer' value='pickup' label='pickup' direct=true                    
                            // +key_value_edit key='transfer' value='delivery' label='delivery' direct=true                    
                            // if key_value_is key='transfer' value='delivery' direct=true
                            // +date_edit key='delivery_date' label='delivery date' direct=true
                            // +textarea_edit key='delivery_location' label='delivery location' direct=true
                            // +textarea_edit key='delivery_notes' label='delivery notes' direct=true
                        else
                            +datetime_view key='delivery_datetime' label='delivery time' direct=true
                            // +textarea_view key='delivery_location' label='delivery location' direct=true
                            +textarea_view key='notes' label='notes' direct=true
                            .spacer
                            // .ui.large.label
                            //     |tiffen type: #{tiffen_type}
                .six.wide.column
                    +boolean_view key='seller_complete' label='seller complete'
                    +boolean_view key='buyer_complete' label='buyer complete'
                    +boolean_view key='order_complete' label='order complete'
                    unless submitted
                        if transfer
                            .ui.green.fluid.button.submit_order
                                |submit order
                    else
                        unless delivery_started
                            .ui.fluid.button.unsubmit_order
                                i.undo.icon
                                |unsubmit order
                        else
                            .ui.fluid.disabled.button
                                i.undo.icon
                                |unsubmit order
                    if key_value_is 'transfer' 'delivery'
                        .ui.header 
                            i.truck.grey.icon
                            |delivery 
                        if is_seller
                            unless delivery_started
                                if submitted
                                    .ui.fluid.button.mark_delivery_started
                                        i.clock.icon
                                        |mark delivery started
                        if is_admin
                            +boolean_edit key='delivery_started' label='delivery started' direct=true
                        if delivery_started
                            .ui.small.header delivery started at {{long_date delivery_start_timestamp}} 
                            .ui.small.header {{from_now delivery_start_timestamp}}
                            div
                            unless delivery_ended
                                .ui.fluid.button.mark_delivery_ended
                                    i.large.green.checkmark.icon
                                    |mark delivery ended
                            if is_admin
                                +boolean_edit key='delivery_ended' direct=true
                            if delivery_ended
                                .ui.small.header delivery ended at {{long_date delivery_end_timestamp}} 
                                .ui.small.header {{from_now delivery_end_timestamp}}
                                +image_edit key='delivery_image' label='delivery end image' direct=true
                                if is_buyer
                                    .ui.header customer
                                    unless delivery_accepted
                                        .ui.fluid.button.mark_delivery_accepted
                                            i.large.green.checkmark.icon
                                            |mark delivery accepted
                                if delivery_accepted
                                    .ui.small.header delivery accepted by #{buyer_username} at {{long_date delivery_accepted_timestamp}} 
                                    .ui.small.header {{from_now delivery_accepted_timestamp}}
                                if is_admin
                                    +boolean_edit key='delivery_accepted' label='delivery accepted' direct=true
                    if key_value_is 'delivery' 'pickup'
                        if is_seller
                            .ui.button.mark_pickup_complete_seller
                                |mark pickup complete
                        if is_buyer
                            .ui.button.mark_pickup_complete_buyer
                                |mark pickup complete (buyer)
                            
template(name='user_orders')
    .ui.inline.header
        +icolor name='orders'
        |user orders
    if is_current_user
        a.ui.circular.basic.icon.button(href="/user/#{current_user.username}/edit/orders")
            i.pencil.icon
    div
    each orders
        +order_view






// template(name='order_view')
//     .ui.segment
//         a.ui.header(href="/m/order/#{_id}/view") #{when}
//         if charge 
//             .ui.header charge
//         if is_dev
//             |#{charge.result.id}
//         .ui.header $#{charge.result.amount}
//         if can_edit 
//             unless submitted
//                 +date_edit key='date' label='date' direct=true
//                 +text_edit key='notes' label='notes' direct=true
//                 +key_value_edit key='tiffen_type' value='meat' direct=true
//                 +key_value_edit key='tiffen_type' value='veggie' direct=true
//                 .ui.green.button.submit_order
//                     |submit order
//             else
//                 +date_view key='date' label='date' direct=true
//                 +text_view key='notes' label='notes' direct=true
//                 .ui.large.label
//                     |tiffen type: #{tiffen_type}
//                 +boolean_edit key='delivery' label='add delivery' direct=true                    
//         if is_dev
//             +remove_button
//             +print_this                            