template(name='user_order_card')                    
    .ui.card
        if image_id
            a(href="/offer/#{order_offer._id}/view")
                img.ui.zoom.image(src="{{c.url order_offer.image_id height=100 width=200}}")
        .content.zoom.pointer
            a.header(href="/offer/#{order_offer._id}/view")
                |#{purchase_price}c #{order_offer.title}
            // |!{description}
            if complete 
                |completed by #{completer.name}


