template(name='post_card')
    .ui.card.zoom.pointer.view_post
        .content
            a.header(href="/post/#{_id}/view")
                i.newspaper.icon
                |#{title}
            .meta
                |#{when}
        if youtube_id
            +youtube_view key='youtube_id' direct=true
        else if image_id
            a.image(href="/post/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}" class=currentUser.invert_class)    
        .content
            .meta
                |by 
                if _author.profile_image_id
                    img.ui.avatar.compact.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                |#{_author.username}
            // +multi_user_view key='coauthor_ids' label='coauthors' direct=true

            .description
                .ui.basic.label
                    i.donate.icon
                    |#{tip_count} tips
                .ui.basic.label
                    i.chat.outline.icon
                    |#{comment_count} comments
                
                |!{blurb}
                each seven_tags
                    .ui.basic.label #{this}
                // +comments_view_small    
    // .ui.divider

template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .eleven.wide.column.scrolling
                    .ui.center.aligned.header 
                        |#{title}
                    
                    +session_edit_value_button key='view_post_section' value='content' label='content' icon='content'
                    +session_edit_value_button key='view_post_section' value='tone' label='tone' icon='smile'
                    +session_edit_value_button key='view_post_section' value='analysis' label='analysis' icon='dna'
                    +session_edit_value_button key='view_post_section' value='comments' label='comments' icon='chat'
                    +session_edit_value_button key='view_post_section' value='related' label='related' icon='fork'
                    if session_key_value_is 'view_post_section' 'content'
                        if youtube_id
                            +youtube_view key='youtube_id' direct=true
                        .f13
                            |!{description}
                        // a.ui.header(href="/user/#{target.username}")
                        //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        //     |#{target.username}
                    if session_key_value_is 'view_post_section' 'tone'
                        +tone
                    if session_key_value_is 'view_post_section' 'analysis'
                        +watson_view
                    if session_key_value_is 'view_post_section' 'comments'
                        +comments
                    if session_key_value_is 'view_post_section' 'tags'
                        .spacer
                        i.large.tag.icon
                        each tags 
                            .ui.basic.large.label #{this}
                        .spacer
                    .spacer
                .five.wide.column.scrolling
                    // .ui.inline.header 
                    //     small post: 
                    if can_edit
                        a.ui.circular.icon.button.edit_post(href="/post/#{_id}/edit")
                            i.large.pencil.icon
                    div
                    if image_id
                        img.ui.rounded.image(src="{{c.url image_id gravity='face' crop='fit'}}" class=currentUser.invert_class)
                    .ui.small.inline.header by
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        |#{_author.username}
                    .ui.inline.small.header #{when}
                    div
                    +array_view key='location_tags' label='location tags' direct=true
                    div
                    +date_view key='date' label='date' direct=true
                    div
                    // +single_user_view key='_author_id' label='author' direct=true
                    // +multi_user_view key='coauthor_ids' label='coauthors' direct=true
                    .ui.header #{views} views
                    .ui.header #{total_points}p total generated
                    .ui.dividing.header(data-position='left center' data-tooltip="tips cost 11p, pay author(s) 10p, are nonrefundable, and allow full data access and commenting")
                        i.coins.icon
                        |#{tip_total}p tipped
                    .ui.green.fluid.button.tip
                        i.donate.icon
                        |tip
                    .ui.link.selection.list
                        .ui.styled.fluid.accordion 
                            each tippers
                                .title
                                    .ui.inline.header #{tipper_tips.count}
                                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                    |#{username}
                                    each three_tags
                                        .ui.small.basic.label #{this}
                                    i.dropdown.icon
                                .content
                                    .ui.list.smallscroll
                                        each tipper_tips
                                            .item 
                                                |{{home_long_date _timestamp}} 
                                                div
                                                |#{when} 
                    // if watson 
                    //     +watson_view
                    +print_this
                 
template(name='post_section_button')                 
    .ui.circular.compact.button 
        if icon 
            i.icon(class=icon)
        |#{label}

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .twelve.wide.column.scrolling
                    div
                    +text_edit key='title' icon='header' direct=true
                    +youtube_edit key='youtube_id' label='youtube id' direct=true
                    +html_edit key='description' label='description' direct=true
                    div
                    if watson
                        +watson_view
                    +smart_tagger
                    // +array_edit key='tags' label='tags' icon='tags' direct=true
                // .four.wide.column
                    // |coauthors split revenue evenly
                    // +multi_user_edit key='coauthor_ids' key2='coauthor_usernames' label='coauthors' direct=true
                    
                .four.wide.column
                    a.ui.green.icon.circular.large.button(href="/post/#{_id}/view" title='save' class=currentUser.invert_class)
                        i.checkmark.big.icon
                    .ui.inline.large.header 
                        small edit post:
                        |#{title}
                    i.remove.link.circular.icon.delete_post(title='delete post')
                    .ui.header 
                        small author
                        |#{_author.username}
                    .spacer
                    +date_edit key='date' label='date' direct=true
                    .spacer
                    if is_admin
                        +single_user_edit key='_author_id' key2='_author_username' direct=true
                    div
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    // +boolean_edit key='private' direct=true
                    // if private
                    //     +multi_user_edit key='viewable_user_ids' key2='viewable_user_usernames' label='viewable by' direct=true