template(name='post_card')
    .ui.card.pointer.post_item
        .content
            .right.floated
                |#{when}
            a.header(href="/post/#{_id}/view")
                i.newspaper.icon
                |#{title}
        if image_id
            a.image(href="/post/#{_id}/view")
                img.ui.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            .meta
                |by 
                if _author.profile_image_id
                    img.ui.avatar.compact.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{_author.username}
            // +multi_user_view key='coauthor_ids' label='coauthors' direct=true
            |#{tip_count} tips

            .description
                |!{blurb}
                each tags
                    .ui.basic.label #{this}
                // +comments_view_small    
    // .ui.divider

template(name='post_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    .ui.inline.header 
                        small post: 
                    .ui.inline.large.header 
                        |#{title}
                    if can_edit
                        a.ui.circular.icon.button.edit_post(href="/post/#{_id}/edit")
                            i.large.pencil.icon
                    div
                    if image_id
                        img.ui.rounded.image(src="{{c.url image_id gravity='face' crop='fit'}}")
                    .ui.small.inline.header by
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    .ui.inline.small.header #{when}
                    div
                    +array_view key='location_tags' label='location_tags' direct=true
                    div
                    // +single_user_view key='_author_id' label='author' direct=true
                    +multi_user_view key='coauthor_ids' label='coauthors' direct=true
                    .ui.header #{views}
                .eight.wide.column
                    .f13
                        |!{description}
                    // a.ui.header(href="/user/#{target.username}")
                    //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //     |#{target.username}
                    .spacer
                    i.large.tags.icon
                    each tags 
                        .ui.basic.large.label #{this}
                    .spacer
                    .spacer
                    +comments
                .four.wide.column
                    .ui.dividing.header 
                        i.coins.icon
                        |#{tip_count} tips totaling #{tip_total}p
                    |tips cost 11p, give the author(s) 10p, are immediate and nonrefundable, and allow full data access and commenting
                    .ui.green.fluid.button.tip
                        i.donate.icon
                        |tip
                    .ui.link.selection.list
                        .ui.styled.fluid.accordion 
                            each tippers
                                .title
                                    .ui.inline.header #{tipper_tips.count}
                                    img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                    |#{username}
                                    i.dropdown.icon
                                .content
                                    .ui.list
                                        each tipper_tips
                                            .item 
                                                |{{home_long_date _timestamp}} 
                                                div
                                                |#{when} 
                                    
                        // each tips
                        //     a.ui.item(href="/tip/#{_id}/view") 
                        //         .content
                        //             .header
                        //                 .ui.inline.header #{total_tip_amount}10p
                        //                 |#{when} 
                        //                 img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        //                 |#{author.username}
                    

template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.column
                    a.ui.green.icon.circular.large.button(href="/post/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.large.header 
                        small edit post:
                        |#{title}
                        // if private  
                        //     i.lock.icon
                    i.large.remove.link.circular.icon.delete_post(title='delete post')
            .row 
                .four.wide.column
                    .ui.header 
                        small author
                        |#{_author.username}
                    +text_edit key='title' icon='header' direct=true
                    div
                    // +boolean_edit key='private' direct=true
                    // if private
                    //     +multi_user_edit key='viewable_user_ids' key2='viewable_user_usernames' label='viewable by' direct=true
                .eight.wide.column
                    div
                    +html_edit key='description' label='description' direct=true
                    div
                    +boolean_edit key='has_image' label='image' direct=true
                    if has_image
                        +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    div
                .four.wide.column
                    |coauthors split revenue evenly
                    +multi_user_edit key='coauthor_ids' key2='coauthor_usernames' label='coauthors' direct=true
                    