template(name='profile')
    with user
        .ui.stackable.padded.grid
            .three.wide.column
                // a.ui.big.icon.button(href="/")
                //     i.large.yin.yang.icon
                span.mobile.only
                    a(href="/user/#{username}/")
                        img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                span.mobile.hidden
                    a(href="/user/#{username}/")
                        img.ui.centered.fluid.circular.pointer.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class) 
                a.ui.big.header.refresh_user_stats(href="/user/#{username}") 
                    |@#{name}
                if i_have_points
                    .ui.circular.large.button.send(title='send points')
                        i.send.icon
                        // +i name='donation' cl='ui avatar image'
                        span send p
                if is_admin
                    a.ui.button(href="/user/#{username}/edit" title='admin edit account')
                        i.shield.icon
                        |account
                if is_current_user
                    a.ui.circular.button(href="/user/#{username}/edit" title='edit your account')
                        // +i name='settings' cl='ui avatar image'
                        i.cog.icon
                        |account
                    a.ui.circular.button.logout(href="#" title='log out')
                        i.sign.out.icon
                        // +i name='exit' cl='ui avatar image'
                        |log out
                .ui.inline.header #{points}p
                // .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                //     i.refresh.icon
                if is_dev
                    .ui.inline.header #{_id}
                // if is_current_user
                //     a.ui.large.compact.button.select_term.profile_nav_item(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                //         // i.large.dollar.icon
                //         span credit
                if is_dev
                    +print_this
            .thirteen.wide.column.profile_yield
                .ui.header #{total_points_earned} points earned total
                .ui.grid
                    .eight.wide.column
                        .ui.header 
                            i.chevron.up.icon
                            |karma out
                        |#{upvoted_count} # of tips
                        .ui.link.list.scrolling
                            each expenses
                                a.ui.item(href="/vote/#{_id}/view") 
                                    |#{points}p #{when} 
                                    each parent.tags 
                                        .ui.label #{this}
                    .eight.wide.column
                        .ui.header 
                            i.chevron.up.icon
                            |karma in
                        .ui.link.list.scrolling
                            each kin
                                a.ui.item(href="/post/#{_id}/view") #{points}p #{when}
                                    each tags 
                                        .ui.label #{this}
                    .sixteen.wide.column
                        +user_credit
                        
                        .ui.header cash out (-10%)
                        .ui.button.withdraw
                            |withdraw at $50
                            
                    // +session_edit_value_button key='view_user_section' value='karma' label='karma' icon='dashboard'
                    // if session_key_value_is 'view_user_section' 'karma'
                    //     +user_kin
                    //     +user_kout
                    //     +user_karma
                    // +session_edit_value_button key='view_user_section' value='cloud_comparison' label='cloud comparison' icon='exchange'
                    // if session_key_value_is 'view_user_section' 'cloud_comparison'
                    //     .ui.inline.header
                    //         // i.brain.icon
                    //         +i name='brain'
                    //         |cloud comparison
                    //     // i.dropdown.icon
                    //     .ui.two.column.stackable.grid
                    //         // .column
                    //         //     .ui.header you #{currentUser.total_upvoted_points}
                    //         //     each currentUser.upvoted_tags
                    //         //         a.ui.large.label.select_tag #{title}
                    //         //             small #{count}
                    //         // .column
                    //         //     .ui.header union
                    //         //     each overlap_results
                    //         //         a.ui.huge.label.select_tag #{name}
                    //         //             small #{count}
                    //         .column
                    //             .ui.header 
                    //                 +i name='brain'
                    //                 // i.brain.icon
                    //                 |mind
                    //             // each friended_by
                    //             //     a.ui.small.compact.button.select_user(class=friend_button_class)
                    //             //         |#{username}
                    //             each current_user.upvoted_tags
                    //                 a.ui.large.label.select_tag #{title}
                    //                     small #{count}
                    //         .column
                    //             .ui.header 
                    //                 +i name='autumn'
                    //                 // i.cubes.icon
                    //                 |matter
                    //             // each friended_by
                    //             //     a.ui.small.compact.button.select_user(class=friend_button_class)
                    //             //         |#{username}
                    //             each current_user.credit_tags
                    //                 a.ui.large.label.select_tag #{title}
                    //                     small #{count}
                    // +session_edit_value_button key='view_user_section' value='authored_overlap' label='authored overlap' icon='change'
                    // if session_key_value_is 'view_user_section' 'authored_overlap'
                    //     .ui.inline.header
                    //         i.edit.icon
                    //         |authored overlap
                    //     .ui.three.column.grid
                    //         .column
                    //             .ui.header them
                    //             each current_user.authored_tags
                    //                 .ui.label #{title}:#{count}
                    //         .column
                    //             .ui.header union
                    //             each overlap
                    //                 .ui.label #{name}: #{count}
                    //         .column
                    //             .ui.header you #{currentUser.total_authored_points}
                    //             each currentUser.authored_tags
                    //                 .ui.label #{title}:#{count}
                    // |karma in
                    // a.ui.inline.header(href="/user/#{username}/credits")
                    //     i.chevron.down.large.icon
                    //     |#{credit_count} credits
                    // | (#{total_credit_amount}p)
                    // .ui.label #{total_credit_amount}p total received
                    // // |received
                    // .ui.label(title='received count') #{credit_count} total gifts 
                    // .ui.label(title='rank') #{global_credit_count_rank} count rank
                        
                    // i.tags.icon(title='credit tags')
                    // each credit_tags
                    //     .ui.circular.label #{title}
                    //         | #{count}
                    //     #{count}
                    // scroll.ui.segments
                    //   each user_credits
                    //         +user_credit_segment
                // if session_key_value_is 'view_user_section' 'kout'
                //     +user_kout
                //     .ui.inline.header
                //         |karma out
                //     a.ui.inline.spaced.header(href="/user/#{username}/kout")
                //         i.chevron.up.icon
                //         |#{debit_count}k out
                //         |(#{total_debit_amount}p)
                //         .ui.label #{total_debit_amount}p total sent
                //         .ui.label(title='debit count') #{debit_count} gifts sent
                //         .ui.label(title='rank') #{global_debit_count_rank} gift sent rank
                            
                //         i.tags.icon(title='credit tags')
                //         each debit_tags
                //             .ui.label #{title}
                //                 |#{count}
                //         .ui.label(title='rank') ##{global_debit_count_rank}
                // if session_key_value_is 'view_user_section' 'topups'
                //     .ui.inline.header
                //         +i name='request-money'
                //         |topups
         
         
         
                        
template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}