template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment(class=currentUser.invert_class)
        // +top_sidebar
        +left_sidebar
        +right_sidebar
        // #main_area.global_container.pusher
        #main_area.global_container.pusher
            with user
                .ui.stackable.padded.grid
                    .three.wide.column
                        span.mobile.only
                            a(href="/user/#{username}/")
                                img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        span.mobile.hidden
                            a(href="/user/#{username}/")
                                img.ui.centered.fluid.circular.pointer.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class) 
                        a.ui.big.header.refresh_user_stats(href="/user/#{username}") 
                            |@#{username}
                        if is_admin
                            a.ui.large.icon.button(href="/user/#{username}/edit" title='admin edit account')
                                i.shield.large.icon
                                // |account
                        if is_current_user
                            a.ui.icon.circular.button(href="/user/#{username}/edit" title='edit your account')
                                i.cog.big.icon
                                // |account
                            a.ui.icon.circular.button.logout(href="#" title='log out')
                                i.sign.out.big.icon
                                // |log out
                        
                        // .ui.header $#{credit} credit
                        .ui.inline.header #{points}p
                        // .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                        //     i.refresh.icon
                        if is_dev
                            .ui.inline.header #{_id}
        
                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        if i_have_points
                            .ui.button.send(title='send points')
                                i.send.large.icon
                                span send pts
                        if is_current_user
                            a.ui.large.compact.button.select_term.profile_nav_item(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                                // i.large.dollar.icon
                                span credit
                        if is_dev
                            +print_this
                    .thirteen.wide.column.profile_yield
                        +yield    
                      





template(name='user_friend_button')
    if is_friend
        .ui.blue.large.icon.button.unfriend(title='unfriend')
            i.checkmark.large.icon
    else
        .ui.large.icon.button.friend(title='friend')
            i.user.plus.large.icon




template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.grid
        .row
            // if is_dao
            //     .four.wide.column
            //         .ui.header tax collected
            //         .ui.list
            //             each user_orders 
            //                 .item 
            //                     .content
            //                         .header #{order_offer.title}
            //                         |#{when}, #{purchase_price}c
            .eight.wide.column                 
                a.ui.inline.header(href="/user/#{username}/credits")
                    i.chevron.down.large.icon
                    |#{credit_count} credits
                | (#{total_credit_amount}p)
                .ui.label #{total_credit_amount}p total received
                // |received
                .ui.label(title='received count') #{credit_count} total gifts 
                .ui.label(title='rank') #{global_credit_count_rank} count rank
                    
                i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.circular.label #{title}
                        | #{count}
                    #{count}
                scroll.ui.segments
                    each user_credits
                        +user_credit_segment
                .ui.hidden.divider
            .eight.wide.column
                a.ui.inline.spaced.header(href="/user/#{username}/debits")
                    i.chevron.up.icon
                    |#{debit_count} debits
                    |(#{total_debit_amount}p)
                    .ui.label #{total_debit_amount}p total sent
                    .ui.label(title='debit count') #{debit_count} gifts sent
                    .ui.label(title='rank') #{global_debit_count_rank} gift sent rank
                        
                    i.tags.icon(title='credit tags')
                    each debit_tags
                        .ui.circular.label #{title}
                            |#{count}
                    
            //         //(title='rank') ##{global_debit_count_rank}
            //     // i.tags.icon(title='credit tags')
            //     each debit_tags
            //         .ui.circular.label #{title} 
            //         // #{count}
            // .eight.wide.column
            //     +user_friends
                
                
template(name='user_sale_card')
    .ui.card
        if image_id
            a(href="/order/#{_id}/view")
                img.ui.zoom.image(src="{{c.url image_id height=100 width=200}}" class=currentUser.invert_class)
        .content.zoom.pointer
            a.header(href="/order/#{_id}/view")
                |#{price}pts: #{title}
            // |!{description}
            |status: #{status}
            if complete 
                |completed by #{completer.name}

                        
template(name='user_offer_card')
    .ui.card
        if image_id
            a(href="/offer/#{_id}/view")
                img.ui.zoom.image(src="{{c.url image_id height=100 width=200}}" class=currentUser.invert_class)
        .content.zoom.pointer
            a.header(href="/offer/#{_id}/view")
                |#{price}pts: #{title}
            // |!{description}

                        
                        

template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}
