
template(name='rental_card')
    a.card(href="/m/rental/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            .ui.header
                |#{title}
            // i.marker.icon
            // |#{location} 
            |!{description}
            each reservations
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}" title=name)
                // |#{name}


template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column
                    // if can_edit
                    a.ui.icon.button(href="/rentals")
                        i.big.certificate.icon
                    +icolorlg name=icon cl='ui inline image'
                    .ui.center.aligned.inline.header 
                        small viewing rental: 
                        |#{title}
                    if can_edit
                        a.ui.icon.button.edit_rental(href="/m/rental/#{_id}/edit")
                            i.big.pencil.big.icon
            .row 
                .eight.wide.column
                    .ui.header 
                        small author
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                            
                    +number_view key='bounty' label='bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .eight.wide.column
                    .ui.header 
                        |reservations
                    each reservations
                        a.ui.basic.button(href="/user/#{username}") 
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}


template(name='rental_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .sixteen.wide.column
                    a.ui.green.cicular.icon.button(href="/m/rental/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header
                        small edit rental
                        |#{title}
                    i.remove.circular.link.icon.delete_item
            .row 
                .eight.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +smart_tagger
                .eight.wide.column
                    // +boolean_edit key='published' direct=true
                    .ui.header
                        |reservations
                    each rentalrs
                        a.ui.compact.button(href="/user/#{username}") 
                            img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{username}
                        i.remove.link.icon.remove_reservation
                    .ui.segment
                        .ui.small.header add reservation
                        each unselected_reservations
                            .ui.basic.circular.compact.button.add_rentalr
                                img.ui.avatar.circular.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{username}