template(name='requests')
    .ui.padded.stackable.grid
        .four.wide.column
            // .ui.button 
            //     |debit count
            // .ui.button 
            //     |debit amount
            // .ui.button 
            //     |credit count
            // .ui.button 
            //     |credit amount
            .ui.inline.header
                +icolor name='sell'
                |requests
            if is_admin
                .ui.icon.big.circular.button.add_request
                    i.plus.green.icon
        .twelve.wide.column
            .scrolling
                .ui.stackable.six.cards
                    each requests
                        +request_item
        .sixteen.wide.column
            // +request_cloud


template(name='request_item')
    a.card(href="/request/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/request/#{_id}/view")
                |#{title}
            |#{description}
        


template(name='request_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    // if can_edit
                    a(href="/requests" title='requests')
                        +icolor name='sell' cl='ui inline image pointer'
                .eight.wide.column
                    .ui.center.aligned.header 
                        +icon name='sell'
                        small viewing request: 
                        |#{title}
                .four.wide.column
                    if is_admin
                        .ui.big.circular.icon.button.delete_request
                            i.large.red.remove.icon
                        a.ui.big.icon.circular.button.edit_request(href="/request/#{_id}/edit")
                            i.blue.pencil.icon
            .row 
                .four.wide.column
                .eight.wide.column
                    .ui.stackable.two.column.grid
                        .column
                            .ui.header 
                                small author
                            a.ui.header(href="/user/#{_author.username}") 
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{_author.username}
                        .column
                            .ui.header
                                |audience
                            
                            // a.ui.header(href="/user/#{target.username}")
                            //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            //     |#{target.username}
                            
                    +number_view key='point_bounty' label='point bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    +image_view key='image_id' label='image' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='request_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .sixteen.wide.column
                    .ui.large.circular.icon.button.delete_item(title='cancel')
                        i.large.red.ban.icon
                    .ui.inline.header 
                        +icon name='sell'
                        small edit request
                        |#{title}
                    .ui.header 
                        small author
                        |#{_author.username}
            .row 
                .four.wide.column
                    +date_edit key='date' label='date (optional)' icon='calendar' direct=true
                .eight.wide.column
                    +text_edit key='title' icon='header' direct=true
                    .ui.header 
                        |audience
                    .ui.disabled.button
                        |everyone
                    .ui.disabled.button
                        |groups
                    .ui.disabled.button
                        |specific people
                    +number_edit key='point_bounty' label='point bounty' direct=true
                    div
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header your points: #{currentUser.points}
                    .ui.small.header publishing request holds points from your balance and dispenses them when request is verified complete
                    if published
                        .ui.inline.header status:
                        .ui.green.inline.header published
                        .ui.fluid.teal.button.unpublish
                            i.undo.icon
                            |unpublish
                        a.ui.fluid.green.big.button(href="/request/#{_id}/view")
                            i.checkmark.icon
                            |save
                            
                    else
                        .ui.fluid.green.button.publish
                            i.checkmark.icon
                            |publish
