template(name='products')
    .ui.padded.stackable.grid
        .sixteen.wide.column
            // .ui.button 
            //     |debit count
            // .ui.button 
            //     |debit point_price
            // .ui.button 
            //     |credit count
            // .ui.button 
            //     |credit amount
            .ui.header 
                i.shop.icon
                |store
            if is_admin
                .ui.button.add_product
                    i.plus.icon
                    |add product
            .scrolling
                .ui.stackable.six.cards
                    each product_docs
                        +product_item
        .sixteen.wide.column
            // +product_cloud


template(name='product_item')
    .ui.card
        if image_id
            a(href="/product/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/product/#{_id}/view") #{title}
            |#{when}
            |{{from_now start_datetime}}
            |- {{from_now end_datetime}}
        a.ui.button(href="/product/#{_id}/view")
            |view
            i.right.chevron.icon



template(name='product_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    a.ui.fluid.button(href="/shop")
                        i.store.icon
                        |shop
                .eight.wide.column
                    .ui.inline.header 
                        |view product
                    .ui.large.inline.header #{title}
                        
                .four.wide.column
                    if can_edit
                        .ui.button.delete_item
                            |delete
                            i.large.red.remove.icon
                        a.ui.button.edit_product(href="/product/#{_id}/edit")
                            i.large.pencil.icon
                            |edit
            .row 
                .four.wide.column
                    .ui.header 
                        small author
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                        
                .eight.wide.column
                    +image_view key='image_id' label='image' direct=true
                    .ui.header
                        |attendees
                    // a.ui.header(href="/user/#{target.username}")
                    //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //     |#{target.username}
                    .ui.header $#{usd_price} per item
                    +number_view key='usd_amount' label='usd amount' direct=true
                    +number_view key='inventory' label='inventory' direct=true
                    .ui.header your points #{currentUser.points}
                    if can_buy
                        .ui.big.green.button.buy_usd
                            |buy #{usd_amount}
                        .ui.big.green.button.buy_usd
                            |buy #{}
                    .ui.big.green.button.purchase
                        |purchase for #{point_price}p and $#{usd_price}
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.hidden.divider
                    .ui.big.fluid.green.button.buy_for_usd
                        i.cart.icon
                        |buy for 
                        |$#{usd_price}
                    .ui.horizontal.divider or
                    .ui.big.fluid.green.button.buy
                        i.cart.icon
                        |buy for 
                        |#{point_price} points
                    each product_transactions
                        a.ui.header(href="/transaction/#{_id}/view") #{when} #{_author_username}
                
                    .ui.small.grey.header 
                        i.line.chart.icon
                        |stats
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .four.wide.column
                    .ui.button.delete_item
                        |delete
                        i.large.red.remove.icon
                .eight.wide.column
                    .ui.header 
                        +icon name='hand-planting'
                        |edit product
                .four.wide.column
            .row
                .four.wide.column
                    .ui.header 
                        small author
                        |#{_author.username}
                    +number_edit key='inventory' label='inventory' direct=true                    
                .eight.wide.column
                    +text_edit key='title' label='title' direct=true
                    .ui.header
                        |audience
                            
                    +number_edit key='point_price' label='point_price' direct=true
                    +key_value_edit key='point_price' value=1
                    +key_value_edit key='point_price' value=5
                    +key_value_edit key='point_price' value=10
                    +key_value_edit key='point_price' value=20
                    +number_edit key='usd_price' label='usd price' direct=true
                    +textarea_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    a.ui.fluid.green.big.button(href="/product/#{_id}/view")
                        i.checkmark.icon
                        |save
                    // unless published
                    //     a.ui.fluid.green.button.submit(href="/save")
                    //         i.checkmark.icon
                    //         |publish
                    // else
                    //     .ui.basic.button.unpublish 
                    //         |unpublish
