template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.grid
        .three.column.row
            if is_dao
                .column
                    .ui.header tax collected
                    .ui.list
                        each user_orders 
                            .item 
                                .content
                                    .header #{order_offer.title}
                                    |#{when}, #{purchase_price}c
            .column                 
                a.ui.inline.header(href="/user/#{username}/credits")
                    i.chevron.down.large.icon
                    |#{credit_count} credits
                    small (#{total_credit_amount}p)
                    // |received
                    // small(title='rank') ##{global_credit_count_rank}
                // i.tags.icon(title='credit tags')
                each credit_tags
                    .ui.small.basic.circular.label #{title}
                        // small #{count}
                .smallscroll.ui.segments
                    each user_credits
                        +user_credit_segment
                .ui.hidden.divider
            .column
                a.ui.inline.spaced.header(href="/user/#{username}/debits")
                    i.chevron.up.icon
                    |#{debit_count} debits
                    small (#{total_debit_amount}p)
                    // |sent
                    // small(title='rank') ##{global_debit_count_rank}
                // i.tags.icon(title='credit tags')
                each debit_tags
                    .ui.small.basic.circular.label #{title} 
                        // small #{count}
    
                div
                .smallscroll.ui.segments
                    each user_debits
                        +user_debit_segment
                .ui.hidden.divider
            .column
                a.ui.inline.spaced.header(href="/user/#{username}/requests")
                    i.concierge.bell.icon
                    |requests
                .ui.small.header (#{total_fulfilled_amount}p total fulfilled)
                .ui.small.header (#{fulfilled_count}p total fulfilled count)
                .smallscroll
                    each user_requests
                        .ui.card
                            if image_id
                                img.ui.image(src="{{c.url image_id height=100 width=200}}")
                            .content.zoom.pointer
                                a.header(href="/m/request/#{_id}/view")
                                    |#{point_bounty}pts: #{title}
                                // |!{description}
                                |status: #{status}
                                if complete 
                                    |completed by #{completer.name}
                .ui.hidden.divider
            .column
                a.ui.inline.spaced.header(href="/user/#{username}/offers")
                    i.concierge.bell.icon
                    |offers
                .ui.small.header (#{total_fulfilled_amount}p total fulfilled)
                .ui.small.header (#{fulfilled_count}p total fulfilled count)
                .smallscroll
                    each user_offers
                        +user_offer_card
                .ui.hidden.divider
            .column
                a.ui.inline.spaced.header(href="/user/#{username}/offers")
                    i.receipt.icon
                    |orders
                // .ui.small.header (#{total_fulfilled_amount}p total fulfilled)
                // .ui.small.header (#{fulfilled_count}p total fulfilled count)
                .smallscroll
                    each user_orders
                        +user_order_card
            .column
                a.ui.inline.spaced.header(href="/user/#{username}/offers")
                    i.cart.icon
                    |sales
                // .ui.small.header (#{total_fulfilled_amount}p total fulfilled)
                // .ui.small.header (#{fulfilled_count}p total fulfilled count)
                .smallscroll
                    each user_sales
                        +user_sale_card
            
template(name='user_sale_card')
    .ui.card
        if image_id
            a(href="/m/order/#{_id}/view")
                img.ui.zoom.image(src="{{c.url image_id height=100 width=200}}")
        .content.zoom.pointer
            a.header(href="/m/order/#{_id}/view")
                |#{point_bounty}pts: #{title}
            // |!{description}
            |status: #{status}
            if complete 
                |completed by #{completer.name}

                        
template(name='user_offer_card')
    .ui.card
        if image_id
            a(href="/m/offer/#{_id}/view")
                img.ui.zoom.image(src="{{c.url image_id height=100 width=200}}")
        .content.zoom.pointer
            a.header(href="/m/offer/#{_id}/view")
                |#{point_bounty}pts: #{title}
            // |!{description}
            |status: #{status}
            if complete 
                |completed by #{completer.name}

                        
                        
template(name='user_order_card')                    
    .ui.card
        if image_id
            a(href="/m/offer/#{order_offer._id}/view")
                img.ui.zoom.image(src="{{c.url order_offer.image_id height=100 width=200}}")
        .content.zoom.pointer
            a.header(href="/m/offer/#{order_offer._id}/view")
                |#{purchase_price}c #{order_offer.title}
            // |!{description}
            if complete 
                |completed by #{completer.name}



template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}")
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=300 gravity='face' crop='fill'}}")
            |#{_author.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}")
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=300 gravity='face' crop='fill'}}")
            |#{recipient.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}
