template(name='users')
    .ui.padded.stackable.grid
        .four.wide.column
            // .ui.button 
            //     |debit count
            // .ui.button 
            //     |debit amount
            // .ui.button 
            //     |credit count
            // .ui.button 
            //     |credit amount
            +user_cloud
        .twelve.wide.column
            .scrolling
                .ui.stackable.four.cards
                    each users
                        +user_item




template(name='user_cloud')
    i.shield.blue.large.icon
    if selected_user_levels
        #clear_levels.ui.primary.icon.compact.button
            i.remove.icon
        each selected_user_levels
            .unselect_level.ui.primary.compact.button
                strong #{this}
    each all_levels
        .ui.compact.basic.button.select_level(class=cloud_tag_class) 
            strong #{this.name}
    div
    i.tags.large.red.icon
    if selected_user_tags
        #clear_tags.ui.primary.icon.compact.button
            i.remove.icon
        each selected_user_tags
            .unselect_tag.ui.primary.compact.button
                strong #{this}
    each all_tags
        .ui.compact.basic.button.select_tag(class=cloud_tag_class) 
            strong #{this.name}


        

template(name='member_card')
    .card.rounded.pointer.calc_points
        a(href="/user/#{username}")
            img.ui.image(src="{{c.url profile_image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.inline.header(href="/user/#{username}")
                |#{name}
                //- |#{username}
                if spirit_animal
                    +icolor name=spirit_animal cl='ui avatar image'
            // each levels
            //     .ui.label #{this}
            // strong #{credit_count} credits
            // strong #{credit_count}/
            // strong #{debit_count}
            // strong {{credit_ratio}}
            // span ##{global_debit_count_rank}
            // span ##{global_credit_count_rank}
            .ui.small.inline.header #{points}pts
            each levels
                .ui.circular.basic.small.label #{this}
            // if is_admin
            //     each levels
            //         .ui.label #{this}
            //     +addtoset_user key='levels' value='member'
            //     // +addtoset_user key='levels' value='contributor'
            //     +addtoset_user key='levels' value='explorer'
            //     +addtoset_user key='levels' value='regenerator'
            //     +addtoset_user key='levels' value='steward'
            +icolor name='gift' cl='ui inline image pointer debit'
            +icolor name='request-service' cl='ui inline image pointer request'
                    

template(name='addtoset_user')
    // .ui.small.compact.button.toggle_value(class=ats_class) #{key} #{value}
    .ui.small.compact.button.toggle_value(class=ats_class) +#{value}
