template(name='user_credit')  
    .ui.header.calc_user_credit
        i.dollar.green.large.icon
        |fiat credit
    .ui.header total topup amount #{current_user.total_topup_amount}
    .ui.header total topup count #{current_user.topup_count}
    .ui.padded.stackable.two.column.grid
        .column
            .scrolling
                each received_dollar_debits
                    .ui.segment
                        if recipient.profile_image_id
                            img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .ui.header $#{dollar_amount}
                        |to
                        a(href="/user/#{recipient.username}")
                            |#{recipient.username}
                        .content
                            a(href="/m/dollar_debit/#{_id}/view")
                                |#{when} 
                            .description
                                |#{description}
                                each tags
                                    .ui.mini.basic.label #{this}
                            if is_admin
                                +remove_button
        .column
            .scrolling
                each sent_dollar_debits
                    .ui.segment
                        if recipient.profile_image_id
                            img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        strong $#{dollar_amount}
                        |to
                        a(href="/user/#{recipient.username}")
                            |#{recipient.username}
                        .content
                            a(href="/m/dollar_debit/#{_id}/view")
                                |#{when} 
                            .description
                                |#{description}
                                each tags
                                    .ui.mini.basic.label #{this}
                            if is_admin
                                +remove_button
                                
    .ui.stackable.grid      
        //- .centered.row
        //-     .sixteen.wide.column
        //-         .ui.center.aligned.header user credit
        .three.column.row
            .column
                .ui.segment
                    .ui.header 
                        +icolor name='refund-2--v1'
                        |topups
                    .ui.bulleted.list.medscroll
                        each user_topups
                            .item 
                                .content
                                    .header $#{amount}
                                    .description
                                        |#{transaction_type}
                                        |#{when}
                                    if is_dev
                                        +print_this
            .column
                .ui.segment
                    .ui.header
                        +icolor name='change'
                        |your balance
                    .ui.small.inline.header current credit
                    .ui.green.inline.header #{current_user.credit}c
                    // +session_boolean_toggle key='adding_credit' label='add credit' icon='plus'
                    // if session_is 'adding_credit' true
                    .ui.small.header add amount
                    //- .ui.input
                    //-     input.add_amount(type='number')
                    //- .ui.horizontal.divider or
                    .ui.circular.compact.basic.large.button.add_five_credits
                        |$5
                    .ui.circular.compact.basic.large.button.add_ten_credits
                        |$10
                    .ui.circular.compact.basic.large.button.add_twenty_credits
                        |$20
                    .ui.circular.compact.basic.large.button.add_fifty_credits
                        |$50
                    .ui.circular.compact.basic.large.button.add_hundred_credits
                        |$100
                

            .column
                .ui.segment
                    .ui.header
                        +icolor name='deposit'
                        |sent credit
                    .ui.disabled.button.send_credit
                        |send credit
                    .ui.header
                        |sent credits
                    .ui.list
                        each sent_credits
                            a.item(href="/transaction/#{_id}/view")
            .column
                .ui.segment
                    .ui.header
                        +icolor name='withdrawal'
                        |received credits
                    .ui.button.request_credit
                        | credit
                    .ui.selection.animated.list
                        each received_credits
                            a.item(href="/transaction/#{_id}/view")
        .three.column.row
            .column
                .ui.segment
                    .ui.header 
                        strong $#{udd.total_credit_amount}
                        small total weekly income
                    .ui.header
                        strong #{udd.credit_count}
                        small sales
            .column
                .ui.segment
                    .ui.header
                        strong $#{udd.total_debit_amount}
                        small total weekly expenses
                    .ui.header
                        strong #{udd.debit_count}
                        small debits
            .column
                .ui.segment
                    .ui.header
                        |growth from last week
        .two.column.row
            .column
                .ui.segment
                    .ui.header 
                        i.chevron.down.icon
                        |weekly debits
                    .ui.feed.mediumscroll
                        each user_debits
                            .event 
                                .label
                                    if is_credit
                                        i.chevron.up.icon
                                    if is_debit
                                        i.chevron.down.icon
                                    else if icon
                                        i.icon(class=icon)
                                .content
                                    .summary
                                        a.user(href="/user/#{target_user.username}")
                                            |#{target_user.name}
                                        |#{text}
                                        .date #{when}
                                    .meta
                                        +voting_small
                                        //- a.like
                                        //-     i.like.icon 
                                        //-     |4 likes
                                        a.remove
                                            i.grey.undo.icon
                                        //- if is_dev
                                        //-     +remove_button
                        //- +range_edit                
            if is_admin
                .column
                    .ui.segment
                        .ui.header
                            i.shield.icon
                            |admin 
                        +number_edit key='credit' label='edit credit' direct=true
                                
                                
                                

template(name='charge_view')
    if is_dev
        +print_this
    with charge
        with result
            .ui.list
                .item id: #{id}
                .item object: #{object}
                .item amount: #{amount}
                .item amount refunded: #{amount_refunded}
                .item app: #{application}
                .item app fee: #{application_fee}
                .item #{application_fee_amount}
                .item #{balance_transaction}
                with billing_details
                    .ui.list
                        with address
                            .item #{city}
                            .item #{country}
                            .item #{line1}
                            .item #{line2}
                            .item #{postal_code}
                            .item #{state}
                    .item #{name}
        //     },
        //     |#{email": null,
        //     |#{name": "repjackson@gmail.com",
        //     |#{phone": null
        //   },
        //   |#{calculated_statement_descriptor": "ONE BECOMING ONE",
        //   |#{captured": true,
        //   |#{created": 1597175373,
        //   |#{currency": "usd",
        //   |#{customer": null,
        //   |#{description": "tip",
        //   |#{destination": null,
        //   |#{dispute": null,
        //   |#{disputed": false,
        //   |#{failure_code": null,
        //   |#{failure_message": null,
        //   |#{fraud_details": {},
        //   |#{invoice": null,
        //   |#{livemode": false,
        //   |#{metadata": {},
        //   |#{on_behalf_of": null,
        //   |#{order": null,
        //   |#{outcome": {
        //     |#{network_status": "approved_by_network",
        //     |#{reason": null,
        //     |#{risk_level": "normal",
        //     |#{risk_score": 18,
        //     |#{seller_message": "Payment complete.",
        //     |#{type": "authorized"
        //   },
        //   |#{paid": true,
        //   |#{payment_intent": null,
        //   |#{payment_method": "card_1HF3TSHpDAiUeXWPblQ6WMWO",
        //   |#{payment_method_details": {
        //     |#{card": {
        //       |#{brand": "visa",
        //       |#{checks": {
        //         |#{address_line1_check": null,
        //         |#{address_postal_code_check": null,
        //         |#{cvc_check": "pass"
        //       },
        //       |#{country": "US",
        //       |#{exp_month": 12,
        //       |#{exp_year": 2020,
        //       |#{fingerprint": "IGb3WOy8od8WyHQT",
        //       |#{funding": "credit",
        //       |#{installments": null,
        //       |#{last4": "4242",
        //       |#{network": "visa",
        //       |#{three_d_secure": null,
        //       |#{wallet": null
        //     },
        //     |#{type": "card"
        //   },
        //   |#{receipt_email": null,
        //   |#{receipt_number": null,
        //   |#{receipt_url": "https://pay.stripe.com/receipts/acct_1BvZbqHpDAiUeXWP/ch_1HF3TVHpDAiUeXWPGzpsVhMJ/rcpt_HogrRi9kPmtViOum6uiMTHbx8gEkjyv",
        //   |#{refunded": false,
        //   |#{refunds": {
        //     |#{object": "list",
        //     |#{data": [],
        //     |#{has_more": false,
        //     |#{total_count": 0,
        //     |#{url": "/v1/charges/ch_1HF3TVHpDAiUeXWPGzpsVhMJ/refunds"
        //   },
        //   |#{review": null,
        //   |#{shipping": null,
        //   |#{source": {
        //     |#{id": "card_1HF3TSHpDAiUeXWPblQ6WMWO",
        //     |#{object": "card",
        //     |#{address_city": null,
        //     |#{address_country": null,
        //     |#{address_line1": null,
        //     |#{address_line1_check": null,
        //     |#{address_line2": null,
        //     |#{address_state": null,
        //     |#{address_zip": null,
        //     |#{address_zip_check": null,
        //     |#{brand": "Visa",
        //     |#{country": "US",
        //     |#{customer": null,
        //     |#{cvc_check": null,
        //     |#{dynamic_last4": null,
        //     |#{exp_month": 12,
        //     |#{exp_year": 2020,
        //     |#{fingerprint": "IGb3WOy8od8WyHQT",
        //     |#{funding": "credit",
        //     |#{last4": "4242",
        //     |#{metadata": {},
        //     |#{name": "repjackson@gmail.com",
        //     |#{tokenization_method": null
        //   },
        //   |#{source_transfer": null,
        //   |#{statement_descriptor": null,
        //   |#{statement_descriptor_suffix": null,
        //   |#{status": "succeeded",
        //   |#{transfer_data": null,
        //   |#{transfer_group": null                                