template(name='meal_card')
    .ui.card.pointer
        if image_id
            a.image(href="/m/meal/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
        .content
            a.ui.header(href="/m/meal/#{_id}/view") #{title}
            // |#{when}
            .ui.green.big.label
                |$#{dollar_price}
            // .ui.teal.big.label 
            //     |#{point_price}pts



template(name='meal_view')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .five.wide.column
                    a(href="/m/meal" title='meal')
                        +icolor name='meal' cl='ui inline image pointer'
                        // i.store.big.icon
                        // span.mobile.hidden meal
                    .ui.inline.header 
                        |meal
                    .ui.large.inline.header #{title}
                        
                    if can_edit
                        a.ui.icon.button.edit_meal(href="/m/meal/#{_id}/edit")
                            i.large.pencil.icon
                            // |edit
                    .ui.header 
                        small author
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    .ui.header 
                        small cook
                    a.ui.header(href="/user/#{_cook.username}") 
                        img.ui.avatar.image(src="{{c.url _cook.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_cook.username}
                    +image_view key='image_id' label='image' direct=true
                        
                .six.wide.column
                    +boolean_view key='published' label='published' direct=true
                    // a.ui.header(href="/user/#{target.username}")
                    //     img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    //     |#{target.username}
                    .ui.header $#{dollar_price} per item
                    +number_view key='dollar_price' label='usd amount' direct=true
                    +number_view key='inventory' label='inventory' direct=true
                    // if can_buy
                    //     .ui.big.green.button.buy_usd
                    //         |buy #{dollar_price}
                    //     .ui.big.green.button.buy_usd
                    //         |buy #{}
                    // .ui.big.green.button.purchase
                    //     |purchase for #{point_price}p and $#{dollar_price}
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    .ui.header 
                        +icolor name='shopping-cart-loaded'
                        |buy
                    .ui.big.green.button.buy_for_usd
                        // |buy for 
                        |$#{dollar_price}
                    // .ui.inline.header or
                    // .ui.big.teal.button.buy
                    //     // i.cart.icon
                    //     // |buy for 
                    //     |#{point_price}pts
                    .ui.header your points #{currentUser.points}
                
                    .ui.header 
                        i.clock.icon
                        |latest orders
                    .ui.large.link.selection.list
                        each mealorders
                            +mealorder_small
                
                    .ui.small.grey.header 
                        i.line.chart.icon
                        |stats
                    .ui.list
                        .item #{views} views
                    each viewers
                        .ui.label #{username
                    
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit



template(name='mealorder_small')
    a(href="/m/mealorder/#{_id}/view") 
        .ui.segment.pointer.zoom
            .header
                .ui.inline.green.header $#{dollar_amount} #{amount}
                |#{when} #{_author_username}
            .content
                +date_view key='date' label='date' direct=true
                div
                .ui.small.header {{from_now date}}
                div
                +text_view key='notes' label='notes' direct=true
                div
                .ui.large.label
                    |tiffen type: #{tiffen_type}

            