template(name='join')
    if is_member
        .ui.button.leave
            |leave
    else
        unless private
            .ui.button.join
                |join
        else
            .ui.disabled.button
                i.lock.icon
                |private
        



template(name='tribe_card')
    a.ui.card(href="/m/tribe/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}" class=currentUser.invert_class)    
        .content
            a.ui.header(href="/m/tribe/#{_id}/view")
                if private 
                    i.lock.icon
                |#{title}
            i.marker.icon
            |#{location} 
            |!{description}
            .ui.list
                .item #{member_ids.length} members
                .item #{post_count} posts
                .item #{post_count} offers
                .item #{post_count} requests
            +vote
            +viewing
            +join
        



