template(name='tribe_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.big.icon.button(href="/tribe/#{_id}/view" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.inline.header 
                        i.fire.icon
                        small edit 
                        |#{title}
                        small tribe
                .four.wide.center.aligned.column
                    i.link.big.remove.icon.delete_item(title='delete tribe')
            .row 
                .five.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +multi_user_edit key='member_ids' label='members' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true        
                    +boolean_edit key='private' icon='lock' direct=true        