template(name='user_chat')

template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment(class=currentUser.invert_class)
        // +top_sidebar
        +left_sidebar
        +right_sidebar
        // #main_area.global_container.pusher
        #main_area.global_container.pusher
            // .adventure-vid.w-background-video.w-background-video-atom(class=currentUser.invert_class data-poster-url='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-poster-00001.jpg', data-video-urls='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.mp4,https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.webm', data-autoplay='true', data-loop='true', data-wf-ignore='true')
            // video(autoplay='', loop='', style='background-image:url("https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-poster-00001.jpg")', muted='', playsinline='', data-wf-ignore='true', data-object-fit='cover')
            //     source(src='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.mp4', data-wf-ignore='true')
            //     source(src='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.webm', data-wf-ignore='true')
    
                
            with user
                .ui.stackable.padded.grid
                    .three.wide.column
                        // a.ui.big.icon.button(href="/")
                        //     i.large.yin.yang.icon
                        span.mobile.only
                            a(href="/user/#{username}/")
                                img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        span.mobile.hidden
                            a(href="/user/#{username}/")
                                img.ui.centered.fluid.circular.pointer.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class) 
                        a.ui.big.header.refresh_user_stats(href="/user/#{username}") 
                            |@#{name}
                        if is_admin
                            a.ui.button(href="/user/#{username}/edit" title='admin edit account')
                                i.shield.icon
                                |account
                        if is_current_user
                            a.ui.circular.button(href="/user/#{username}/edit" title='edit your account')
                                +i name='setting' cl='ui avatar image'
                                |account
                            a.ui.circular.button.logout(href="#" title='log out')
                                // i.sign.out.icon
                                +i name='exit' cl='ui avatar image'
                                |log out
                        +follow
                        // .ui.header $#{credit} credit
                        .ui.inline.header #{points}p
                        // .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                        //     i.refresh.icon
                        if is_dev
                            .ui.inline.header #{_id}
        
                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        if i_have_points
                            .ui.circular.basic.button.send(title='send points')
                                // i.send.icon
                                +i name='donation' cl='ui avatar image'
                                span send k
                        // if is_current_user
                        //     a.ui.large.compact.button.select_term.profile_nav_item(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                        //         // i.large.dollar.icon
                        //         span credit
                        if is_dev
                            +print_this
                    .thirteen.wide.column.profile_yield
                        +session_edit_value_button key='view_user_section' value='karma' label='karma' icon='dashboard'
                        +session_edit_value_button key='view_user_section' value='tribes' label='tribes' icon='campfire'
                        +session_edit_value_button key='view_user_section' value='events' label='events' icon='calendar'
                        +session_edit_value_button key='view_user_section' value='friends' label='friends' icon='groups'
                        +session_edit_value_button key='view_user_section' value='cloud_comparison' label='cloud comparison' icon='exchange'
                        +session_edit_value_button key='view_user_section' value='orders' label='orders' icon='list'
                        +session_edit_value_button key='view_user_section' value='kin' label='kin' icon='donate'
                        +session_edit_value_button key='view_user_section' value='kout' label='kout' icon='receive-cash'
                        +session_edit_value_button key='view_user_section' value='authored_overlap' label='authored overlap' icon='change'
                        +session_edit_value_button key='view_user_section' value='topups' label='topups' icon='money'
                        +session_edit_value_button key='view_user_section' value='upvotes' label='upvotes' icon='sort-up'
                        +session_edit_value_button key='view_user_section' value='downvotes' label='downvotes' icon='sort-down'
                        +session_edit_value_button key='view_user_section' value='offers' label='offers' icon='shop'
                        +session_edit_value_button key='view_user_section' value='requests' label='requests' icon='list'
                        +session_edit_value_button key='view_user_section' value='chat' label='chat' icon='chat'
                        +session_edit_value_button key='view_user_section' value='user_feed' label='feed' icon='feed'
                        if session_key_value_is 'view_user_section' 'karma'
                            +user_karma
                        if session_key_value_is 'view_user_section' 'chat'
                            +user_chat
                        if session_key_value_is 'view_user_section' 'upvotes'
                            +user_upvotes
                        if session_key_value_is 'view_user_section' 'downvotes'
                            +user_downvotes
                        if session_key_value_is 'view_user_section' 'kin'
                            +user_kin
                        if session_key_value_is 'view_user_section' 'kout'
                            +user_kout
                        if session_key_value_is 'view_user_section' 'friends'
                            +user_friends
                        if session_key_value_is 'view_user_section' 'events'
                            +user_events
                        if session_key_value_is 'view_user_section' 'tribes'
                            +user_tribes                        
                        if session_key_value_is 'view_user_section' 'orders'
                            +user_orders
                        if session_key_value_is 'view_user_section' 'requests'
                            +user_requests
                        if session_key_value_is 'view_user_section' 'offers'
                            +user_offers
                        if session_key_value_is 'view_user_section' 'user_feed'
                            .ui.inline.header
                                // i.brain.icon
                                +i name='activity-feed'
                                |feed
                            // i.dropdown.icon
                            .ui.input
                                input.new_post(type='text' placeholder='add post -2k')
                            
                            each wall_posts
                                .ui.segment
                                    .ui.header #{text}
                                    +viewing
                                    // if can_edit 
                                    //     +delete_button
                        if session_key_value_is 'view_user_section' 'cloud_comparison'
                            .ui.inline.header
                                // i.brain.icon
                                +i name='brain'
                                |cloud comparison
                            // i.dropdown.icon
                            .ui.two.column.stackable.grid
                                // .column
                                //     .ui.header you #{currentUser.total_upvoted_points}
                                //     each currentUser.upvoted_tags
                                //         a.ui.large.label.select_tag #{title}
                                //             small #{count}
                                // .column
                                //     .ui.header union
                                //     each overlap_results
                                //         a.ui.huge.label.select_tag #{name}
                                //             small #{count}
                                .column
                                    .ui.header 
                                        +i name='brain'
                                        // i.brain.icon
                                        |mind
                                    // each friended_by
                                    //     a.ui.small.compact.button.select_user(class=friend_button_class)
                                    //         |#{username}
                                    each current_user.upvoted_tags
                                        a.ui.large.label.select_tag #{title}
                                            small #{count}
                                .column
                                    .ui.header 
                                        +i name='tree'
                                        // i.cubes.icon
                                        |matter
                                    // each friended_by
                                    //     a.ui.small.compact.button.select_user(class=friend_button_class)
                                    //         |#{username}
                                    each current_user.credit_tags
                                        a.ui.large.label.select_tag #{title}
                                            small #{count}
                        if session_key_value_is 'view_user_section' 'authored_overlap'
                            .ui.inline.header
                                i.edit.icon
                                |authored overlap
                            .ui.three.column.grid
                                .column
                                    .ui.header them
                                    each current_user.authored_tags
                                        .ui.label #{title}:#{count}
                                .column
                                    .ui.header union
                                    each overlap
                                        .ui.label #{name}: #{count}
                                .column
                                    .ui.header you #{currentUser.total_authored_points}
                                    each currentUser.authored_tags
                                        .ui.label #{title}:#{count}
                        if session_key_value_is 'view_user_section' 'orders'
                            .ui.inline.header
                                +i name='shop'
                                |orders
                            .ui.list
                                each user_orders 
                                    .item 
                                        .content
                                            .header #{order_offer.title}
                                            |#{when}, #{purchase_price}c
                        if session_key_value_is 'view_user_section' 'kin'
                            |karma in
                            a.ui.inline.header(href="/user/#{username}/credits")
                                i.chevron.down.large.icon
                                |#{credit_count} credits
                            | (#{total_credit_amount}p)
                            .ui.label #{total_credit_amount}p total received
                            // |received
                            .ui.label(title='received count') #{credit_count} total gifts 
                            .ui.label(title='rank') #{global_credit_count_rank} count rank
                                
                            i.tags.icon(title='credit tags')
                            each credit_tags
                                .ui.circular.label #{title}
                                    | #{count}
                                #{count}
                            scroll.ui.segments
                               each user_credits
                                    +user_credit_segment
                        if session_key_value_is 'view_user_section' 'kout'
                            .ui.inline.header
                                |karma out
                            a.ui.inline.spaced.header(href="/user/#{username}/kout")
                                i.chevron.up.icon
                                |#{debit_count}k out
                                |(#{total_debit_amount}p)
                                .ui.label #{total_debit_amount}p total sent
                                .ui.label(title='debit count') #{debit_count} gifts sent
                                .ui.label(title='rank') #{global_debit_count_rank} gift sent rank
                                    
                                i.tags.icon(title='credit tags')
                                each debit_tags
                                    .ui.label #{title}
                                        |#{count}
                                .ui.label(title='rank') ##{global_debit_count_rank}
                        if session_key_value_is 'view_user_section' 'topups'
                            .ui.inline.header
                                +i name='request-money'
                                |topups
                            +user_credit
                            
                        +yield    
                      


template(name='user_badges')
    .ui.center.aligned.header 
        +icon name='prize'
        |user badges
    if is_admin
        i.plus.icon.add_badge
    .ui.small.centered.five.stackable.cards
        each user_badges
            +badge_card


template(name='user_edit_badges')
    .ui.header
        i.certificate.icon
        | badges
    .ui.grid 
        .row 
            .sixteen.wide.column
                if is_admin
                    +array_edit key='badges' label='badges' icon='certificate' direct=true
                
                .ui.divider
                each badges
                    a.ui.button(href="/badge/#{this}/view")
                
                .spacer


template(name='user_friend_button')
    if is_friend
        .ui.blue.button.unfriend(title='unfriend')
            i.checkmark.large.icon
            |friends
    else
        .ui.button.friend(title='friend')
            i.user.plus.large.icon
            |friend




template(name='user_dashboard')
    // // +user_about
    // // .ui.hidden.divider
    // .ui.stackable.grid
    //     .row
    //         .sixteen.wide.column
    //             +session_edit_value_button key='view_user_section' value='user_feed' label='feed' icon='exchange'
    //             if session_key_value_is 'view_user_section' 'user_feed'
    //                 .ui.inline.header
    //                     // i.brain.icon
    //                     +i name='activity-feed'
    //                     |feed
    //                 // i.dropdown.icon
    //                 .ui.input
    //                     input.new_post(type='text' placeholder='add post -2k')
                    
    //                 each wall_posts
    //                     .ui.segment
    //                         .ui.header #{text}
    //                         +viewing
    //                         // if can_edit 
    //                         //     +delete_button
    //             +session_edit_value_button key='view_user_section' value='cloud_comparison' label='cloud comparison' icon='exchange'
    //             if session_key_value_is 'view_user_section' 'cloud_comparison'
    //                 .ui.inline.header
    //                     // i.brain.icon
    //                     +i name='brain'
    //                     |cloud comparison
    //                 // i.dropdown.icon
    //                 .ui.two.column.stackable.grid
    //                     // .column
    //                     //     .ui.header you #{currentUser.total_upvoted_points}
    //                     //     each currentUser.upvoted_tags
    //                     //         a.ui.large.label.select_tag #{title}
    //                     //             small #{count}
    //                     // .column
    //                     //     .ui.header union
    //                     //     each overlap_results
    //                     //         a.ui.huge.label.select_tag #{name}
    //                     //             small #{count}
    //                     .column
    //                         .ui.header 
    //                             +i name='brain'
    //                             // i.brain.icon
    //                             |mind
    //                         // each friended_by
    //                         //     a.ui.small.compact.button.select_user(class=friend_button_class)
    //                         //         |#{username}
    //                         each current_user.upvoted_tags
    //                             a.ui.large.label.select_tag #{title}
    //                                 small #{count}
    //                     .column
    //                         .ui.header 
    //                             +i name='tree'
    //                             // i.cubes.icon
    //                             |matter
    //                         // each friended_by
    //                         //     a.ui.small.compact.button.select_user(class=friend_button_class)
    //                         //         |#{username}
    //                         each current_user.credit_tags
    //                             a.ui.large.label.select_tag #{title}
    //                                 small #{count}
    //             +session_edit_value_button key='view_user_section' value='authored_overlap' label='authored overlap' icon='exchange'
    //             if session_key_value_is 'view_user_section' 'authored_overlap'
    //                 .ui.inline.header
    //                     i.edit.icon
    //                     |authored overlap
    //                 .ui.three.column.grid
    //                     .column
    //                         .ui.header them
    //                         each current_user.authored_tags
    //                             .ui.label #{title}:#{count}
    //                     .column
    //                         .ui.header union
    //                         each overlap
    //                             .ui.label #{name}: #{count}
    //                     .column
    //                         .ui.header you #{currentUser.total_authored_points}
    //                         each currentUser.authored_tags
    //                             .ui.label #{title}:#{count}
    //             +session_edit_value_button key='view_user_section' value='orders' label='authored overlap' icon='receipt'
    //             if session_key_value_is 'view_user_section' 'orders'
    //                 .ui.inline.header
    //                     +i name='shop'
    //                     |orders
    //                 .ui.list
    //                     each user_orders 
    //                         .item 
    //                             .content
    //                                 .header #{order_offer.title}
    //                                 |#{when}, #{purchase_price}c
    //             +session_edit_value_button key='view_user_section' value='kin' label='karma in' icon='chevron down'
    //             if session_key_value_is 'view_user_section' 'kin'
    //                 |karma in
    //                 a.ui.inline.header(href="/user/#{username}/credits")
    //                     i.chevron.down.large.icon
    //                     |#{credit_count} credits
    //                 | (#{total_credit_amount}p)
    //                 .ui.label #{total_credit_amount}p total received
    //                 // |received
    //                 .ui.label(title='received count') #{credit_count} total gifts 
    //                 .ui.label(title='rank') #{global_credit_count_rank} count rank
                        
    //                 i.tags.icon(title='credit tags')
    //                 each credit_tags
    //                     .ui.circular.label #{title}
    //                         | #{count}
    //                     #{count}
    //                 scroll.ui.segments
    //                   each user_credits
    //                         +user_credit_segment
    //             +session_edit_value_button key='view_user_section' value='kout' label='karma out' icon='receipt'
    //             if session_key_value_is 'view_user_section' 'kout'
    //                 .ui.inline.header
    //                     |karma out
    //                 a.ui.inline.spaced.header(href="/user/#{username}/kout")
    //                     i.chevron.up.icon
    //                     |#{debit_count}k out
    //                     |(#{total_debit_amount}p)
    //                     .ui.label #{total_debit_amount}p total sent
    //                     .ui.label(title='debit count') #{debit_count} gifts sent
    //                     .ui.label(title='rank') #{global_debit_count_rank} gift sent rank
                            
    //                     i.tags.icon(title='credit tags')
    //                     each debit_tags
    //                         .ui.label #{title}
    //                             |#{count}
    //                     .ui.label(title='rank') ##{global_debit_count_rank}
    //             +session_edit_value_button key='view_user_section' value='topups' label='topups' icon='money'
    //             if session_key_value_is 'view_user_section' 'topups'
    //                 .ui.inline.header
    //                     +i name='request-money'
    //                     |topups
    //                 +user_credit
            
                
                        
template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}
