template(name='profile_layout')
    //- img.ui.image.home_banner(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .four.wide.column
                img.ui.centered.small.circular.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a.ui.large.center.aligned.header.refresh_user_stats(href="/user/#{username}") #{username}
                //- .ui.basic.compact.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
                .spacer
                .item #{total_bandwith} total bandwith
                .item #{calculated_user_balance}p recorded balance
                // .ui.small.inline.header {{fixed one_score}} one score
                div
                if is_admin
                    a.ui.basic.button(href="/user/#{username}/edit")
                        i.cog.icon
                        |account
                if is_current_user
                    a.ui.large.basic.compact.button(href="/user/#{username}/edit")
                        i.cog.icon
                        |account
                    a.ui.large.basic.compact.button.logout(href="#")
                        i.sign.out.alternate.icon
                        |log out
                .ui.header #{points}pts
                unless is_current_user
                    if currentUser
                        div
                        +user_friend_button 
                        // .ui.basic.compact.button.quick_give
                        //     +icon name='initiate-money-transfer' cl='ui inline mini image'
                        //     |quick +1
                        .ui.basic.compact.fluid.button.give
                            +icon name='donate' cl='ui inline mini image'
                            |give
                        // .ui.basic.compact.button.offer
                        //     +icon name='hand-planting' cl='ui inline mini image'
                        //     |offer
        
            .twelve.wide.column
                // a.ui.big.basic.compact.button(href="/user/#{username}/dashboard" class="{{isActivePath 'user_dashboard'}}")
                //     i.dashboard.icon
                //     |dashboard
                // a.ui.big.basic.compact.button(href="/user/#{username}/about" class="{{isActivePath 'user_about'}}")
                //     i.info.icon
                //     |about
                // // a.ui.big.basic.compact.button(href="/user/#{username}/credits" class="{{isActivePath 'user_credits'}}")
                // //     i.chevron.down.icon
                // //     |credits
                // // a.ui.big.basic.compact.button(href="/user/#{username}/sent" class="{{isActivePath 'user_sent'}}")
                // //     i.chevron.up.icon
                // //     |sent
                // // a.ui.big.basic.compact.button(href="/user/#{username}/events" class="{{isActivePath 'user_events'}}")
                // //     +icon name='calendar' cl='ui inline mini image'
                // //     |events
                // a.ui.big.basic.compact.button(href="/user/#{username}/friends" class="{{isActivePath 'user_friends'}}")
                //     i.users.icon
                //     |friends
                // a.ui.big.basic.compact.button(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                //     i.chat.icon
                //     |chat
                .spacer
                .spacer
                +yield    
                      



template(name='user_dashboard')
    +user_about
    .ui.hidden.divider
    .ui.big.fluid.green.button
        |give
    .ui.hidden.divider
    .ui.stackable.three.column.grid
        .column
            +user_credits_small
        .column
            .ui.inline.header 
                i.plus.icon
                |#{total_debit_amount}p
                |sent
                small(title='debit count') (#{debit_count}x)
                    .ui.basic.circular.label ##{global_debit_count_rank}
            div
            .ui.link.list.scrolling
                each sent_items
                    .item 
                        if target.profile_image_id
                            img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header
                                strong #{amount}pt
                                a(href="/debit/#{_id}/view")
                                    |#{when}
                                    | to 
                                a(href="/user/#{target.username}")
                                    |#{target.username}
                            .description
                                |#{description}
                            .description
                                each tags
                                    .ui.mini.basic.label #{this}
                            if is_admin
                                +remove_button
            +number_edit key='points' label='points' direct=true
        // .column
        //     .ui.header 
        //         // +icon name='hand-planting'
        //         i.bullhorn.icon
        //         |offers
        //     .ui.link.list.smallscroll
        //         each user_offers
        //             a.item(href="/offer/#{_id}/view")
        //                 .header #{amount}pts
        //                 |#{_author.username}
        //                 |#{description}
        //                 |#{when}


template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.basic.compact.button.unfriend
            .visible.content
                i.checkmark.icon
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.basic.basic.compact.button.friend
            i.plus.icon
            |friend
