template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment(class=currentUser.invert_class)
        // +top_sidebar
        +left_sidebar
        +right_sidebar
        // #main_area.global_container.pusher
        #main_area.global_container.pusher
            // .adventure-vid.w-background-video.w-background-video-atom(class=currentUser.invert_class data-poster-url='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-poster-00001.jpg', data-video-urls='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.mp4,https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.webm', data-autoplay='true', data-loop='true', data-wf-ignore='true')
            // video(autoplay='', loop='', style='background-image:url("https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-poster-00001.jpg")', muted='', playsinline='', data-wf-ignore='true', data-object-fit='cover')
            //     source(src='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.mp4', data-wf-ignore='true')
            //     source(src='https://uploads-ssl.webflow.com/5d4a237a79c912a1ef797ef2/5d64a7daca4f1a1c19bc8fae_galaxy bg loop-transcode.webm', data-wf-ignore='true')
    
                
            with user
                .ui.stackable.padded.grid
                    .three.wide.column
                        // a.ui.big.icon.button(href="/")
                        //     i.large.yin.yang.icon
                        span.mobile.only
                            a(href="/user/#{username}/")
                                img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                        span.mobile.hidden
                            a(href="/user/#{username}/")
                                img.ui.centered.fluid.circular.pointer.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class) 
                        a.ui.big.header.refresh_user_stats(href="/user/#{username}") 
                            |@#{username}
                        if is_admin
                            a.ui.button(href="/user/#{username}/edit" title='admin edit account')
                                i.shield.icon
                                |account
                        if is_current_user
                            a.ui.circular.button(href="/user/#{username}/edit" title='edit your account')
                                i.cog.icon
                                |account
                            a.ui.circular.button.logout(href="#" title='log out')
                                i.sign.out.icon
                                |log out
                        a.ui.button(href="/user/#{username}/kin")
                            i.coins.icon 
                            |karma in
                        a.ui.button(href="/user/#{username}/kout")
                            i.coins.icon 
                            |karma out
                        a.ui.button(href="/user/#{username}/food")
                            i.food.icon 
                            |food
                        a.ui.button(href="/user/#{username}/social")
                            i.rss.icon 
                            |social
                        a.ui.button(href="/user/#{username}/messages")
                            i.chat.icon 
                            |chat
                        +follow
                        // .ui.header $#{credit} credit
                        .ui.inline.header #{points}p
                        // .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                        //     i.refresh.icon
                        if is_dev
                            .ui.inline.header #{_id}
        
                        unless is_current_user
                            if currentUser
                                // div
                                +user_friend_button 
                        if i_have_points
                            .ui.button.send(title='send points')
                                i.send.icon
                                span send pts
                        // if is_current_user
                        //     a.ui.large.compact.button.select_term.profile_nav_item(href="/user/#{username}/credit" class="{{isActiveRoute 'user_credit'}}" title="#{user.username} credit")
                        //         // i.large.dollar.icon
                        //         span credit
                        if is_dev
                            +print_this
                    .thirteen.wide.column.profile_yield
                        .ui.large.menu.hscroll
                            a.item(href="/user/#{username}/karma" class="{{isActiveRoute 'user_karma'}}")
                                i.thumbs.up.outline.icon
                                |karma 
                            a.item(href="/user/#{username}/downvotes" class="{{isActiveRoute 'user_downvotes'}}")
                                i.chat.outline.icon
                                |chat
                        .ui.menu.hscroll
                            a.item(href="/user/#{username}/upvotes" class="{{isActiveRoute 'user_upvotes'}}")
                                i.thumbs.up.outline.icon
                                |upvotes 
                            a.item(href="/user/#{username}/downvotes" class="{{isActiveRoute 'user_downvotes'}}")
                                i.thumbs.down.outline.icon
                                |downvotes
                            a.item(href="/user/#{username}/kin" class="{{isActiveRoute 'user_kin'}}")
                                i.chevron.down.icon
                                |karma in
                            a.item(href="/user/#{username}/kout" class="{{isActiveRoute 'user_kout'}}")
                                i.chevron.up.icon
                                |karma out
                            a.item(href="/user/#{username}/friends" class="{{isActiveRoute 'user_friends'}}")
                                i.users.icon
                                |friends
                            a.item(href="/user/#{username}/events" class="{{isActiveRoute 'user_events'}}")
                                i.calendar.icon
                                |events
                            a.item(href="/user/#{username}/tribes" class="{{isActiveRoute 'user_tribes'}}")
                                i.fire.icon
                                |tribes
                            a.item(href="/user/#{username}/badges" class="{{isActiveRoute 'user_badges'}}")
                                i.fire.icon
                                |badges
                            a.item(href="/user/#{username}/requests" class="{{isActiveRoute 'user_requests'}}")
                                i.concierge.bell.icon
                                |requests
                            a.item(href="/user/#{username}/offers" class="{{isActiveRoute 'user_offers'}}")
                                i.shop.icon
                                |offers
                        +yield    
                      





template(name='user_friend_button')
    if is_friend
        .ui.blue.button.unfriend(title='unfriend')
            i.checkmark.large.icon
            |friends
    else
        .ui.button.friend(title='friend')
            i.user.plus.large.icon
            |friend




template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.grid
        .row
            .sixteen.wide.column
                .ui.fluid.styled.big.accordion
                    .title 
                        .ui.inline.header
                            i.brain.icon
                            |cloud comparison
                        // i.dropdown.icon
                    .content
                        .ui.two.column.stackable.grid
                            // .column
                            //     .ui.header you #{currentUser.total_upvoted_points}
                            //     each currentUser.upvoted_tags
                            //         a.ui.large.label.select_tag #{title}
                            //             small #{count}
                            // .column
                            //     .ui.header union
                            //     each overlap_results
                            //         a.ui.huge.label.select_tag #{name}
                            //             small #{count}
                            .column
                                .ui.header 
                                    i.brain.icon
                                    |mind
                                // each friended_by
                                //     a.ui.small.compact.button.select_user(class=friend_button_class)
                                //         |#{username}
                                each current_user.upvoted_tags
                                    a.ui.large.label.select_tag #{title}
                                        small #{count}
                            .column
                                .ui.header 
                                    i.cubes.icon
                                    |matter
                                // each friended_by
                                //     a.ui.small.compact.button.select_user(class=friend_button_class)
                                //         |#{username}
                                each current_user.credit_tags
                                    a.ui.large.label.select_tag #{title}
                                        small #{count}
                    .title 
                        .ui.inline.header
                            i.users.icon
                            |friends
                        i.dropdown.icon
                    .content
                        +user_friends
                    .title 
                        .ui.inline.header
                            i.concierge.bell.icon
                            |requests
                        i.dropdown.icon
                    .content
                        // +user_requests_small
                    .title 
                        .ui.inline.header
                            i.shop.icon
                            |offers
                        i.dropdown.icon
                    .content
                        // +user_offers_small
                    .title 
                        .ui.inline.header
                            i.edit.icon
                            |authored overlap
                        i.dropdown.icon
                    .content
                        .ui.header authored overlap 
                        .ui.three.column.grid
                            .column
                                .ui.header them
                                each current_user.authored_tags
                                    .ui.label #{title}:#{count}
                            .column
                                .ui.header union
                                each overlap
                                    .ui.label #{name}: #{count}
                            .column
                                .ui.header you #{currentUser.total_authored_points}
                                each currentUser.authored_tags
                                    .ui.label #{title}:#{count}
                    .title 
                        .ui.inline.header
                            i.shop.icon
                            |orders
                        i.dropdown.icon
                    .content
                        .ui.header orders
                        .ui.list
                            each user_orders 
                                .item 
                                    .content
                                        .header #{order_offer.title}
                                        |#{when}, #{purchase_price}c
                    .title
                        |karma in
                    .content
                        a.ui.inline.header(href="/user/#{username}/credits")
                            i.chevron.down.large.icon
                            |#{credit_count} credits
                        | (#{total_credit_amount}p)
                        .ui.label #{total_credit_amount}p total received
                        // |received
                        .ui.label(title='received count') #{credit_count} total gifts 
                        .ui.label(title='rank') #{global_credit_count_rank} count rank
                            
                        i.tags.icon(title='credit tags')
                        each credit_tags
                            .ui.circular.label #{title}
                                | #{count}
                            #{count}
                        scroll.ui.segments
                           each user_credits
                                +user_credit_segment
                    .title 
                        .ui.inline.header
                            |karma out
                        .content 
                        a.ui.inline.spaced.header(href="/user/#{username}/kout")
                            i.chevron.up.icon
                            |#{debit_count}k out
                            |(#{total_debit_amount}p)
                            .ui.label #{total_debit_amount}p total sent
                            .ui.label(title='debit count') #{debit_count} gifts sent
                            .ui.label(title='rank') #{global_debit_count_rank} gift sent rank
                                
                            i.tags.icon(title='credit tags')
                            each debit_tags
                                .ui.label #{title}
                                    |#{count}
                            .ui.label(title='rank') ##{global_debit_count_rank}
                    .title 
                        .ui.inline.header
                            |topups
                        .content
                        +user_credit
                
                
                        
template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{_author.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer.zoom
        if image_id
            img.ui.fluid.image(src="{{c.url image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=300 gravity='face' crop='fill'}}" class=currentUser.invert_class)
            |#{recipient.username}
     #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.label #{this}
