template(name='profile_layout')
    +nav
    .ui.bottom.attached.pushable.segment
        +left_sidebar
        +right_sidebar
        #main_area.global_container.pusher
            with user
                .ui.stackable.padded.grid
                    .four.wide.column
                        span.mobile.only
                            img.ui.centered.tiny.inline.spaced.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                        span.mobile.hidden
                            img.ui.centered.fluid.circular.image(src="{{c.url profile_image_id height=500 width=500 gravity='face' crop='fill'}}")
                        a.ui.large.header.refresh_user_stats(href="/user/#{username}" style="color:#{current_user.theme_color};") 
                            |#{name}
                        // div
                        a.ui.header.refresh_user_stats(href="/user/#{username}" style="color:#{current_user.theme_color};") 
                            |@#{username}
                        .ui.big.basic.label(style="color:#{current_user.theme_color};") #{points}pts
                        //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                        //-     i.refresh.icon
                        if is_current_user
                            +text_edit key='current_status' label='status' direct=true
                        else 
                            if current_status
                                .ui.basic.big.label(title='status' style="color:#{current_user.theme_color};")
                                    i.grey.clock.icon
                                    |#{current_status}
                        if is_admin
                            // .ui.small.inline.header #{_id}
                            a.ui.large.button(href="/user/#{username}/edit" title='admin edit account' style="color:#{current_user.theme_color};")
                                i.shield.large.icon
                                |account
                        if is_current_user
                            a.ui.button(href="/user/#{username}/edit" title='edit your account' style="color:#{current_user.theme_color};")
                                i.cog.large.icon
                                |account
                            a.ui.button.logout(href="#" title='log out')
                                i.sign.out.large.icon
                                |log out
                        
                        // unless is_current_user
                        //     if currentUser
                        //         // div
                        //         +user_friend_button 
                        // a.ui.large.icon.button(href="/user/#{username}/dashboard" class="{{isActivePath 'user_dashboard'}}")
                        //     i.dashboard.large.icon
                        //     // |dashboard
                        // a.ui.large.icon.button(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                        //     i.chat.large.icon
                        //     // |chat
                        // if is_current_user
                        //     a.ui.large.icon.button(href="/user/#{username}/edit/membership" class="{{isActivePath 'user_finance'}}")
                        //         i.money.large.icon
                        // if spirit_animal
                        //     span(title="spirit animal #{spirit_animal}")
                        //         +icolor name=spirit_animal cl='ui inline image'
                        unless is_current_user
                            if i_have_points
                                .ui.basic.button.send(title='send points')
                                    i.chevron.up.large.icon
                                    span send
                                .ui.basic.button.request(title='request points')
                                    i.concierge.bell.large.icon
                                    span request
                            else
                                .ui.disabled.basic.button(title='send points')
                                    i.chevron.up.large.icon
                                    span send
                                .ui.disabled.basic.button(title='request points')
                                    i.concierge.bell.icon
                                    span request
                        // if is_tech_admin
                        //     .ui.button.switch_to_one
                        //         |switch to one
        
        
                    .twelve.wide.column
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/" class="{{isActivePath 'user_dashboard'}}" title="#{user.username} dashboard")
                            i.large.dashboard.icon
                            span.mobile.hidden dashboard
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/about" class="{{isActivePath 'user_about'}}" title="#{user.username} info")
                            i.info.large.icon
                            span.mobile.hidden about
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/credits" class="{{isActivePath 'user_credits'}}" title="#{user.username} credits")
                            i.large.chevron.down.icon
                            span.mobile.hidden credits
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/debits" class="{{isActivePath 'user_sent'}}" title="#{user.username} sent")
                            i.large.chevron.up.icon
                            span.mobile.hidden sent
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/events" class="{{isActivePath 'user_events'}}" title="#{user.username} events")
                            i.calendar.large.icon
                            span.mobile.hidden events
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/requests" class="{{isActivePath 'user_requests'}}" title="#{user.username} requests")
                            i.large.concierge.bell.icon
                            span.mobile.hidden requests
                        a.ui.icon.basic.button.profile_nav_item(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}" title="#{user.username} messages")
                            i.chat.large.icon
                            span.mobile.hidden chat
                        a.ui.icon.basic.button(href="/user/#{username}/badges" class="{{isActivePath 'user_badges'}}" title="#{user.username} badges")
                            i.certificate.large.icon
                            span.mobile.hidden badges
                        .spacer
                        .spacer
                        +yield    
                      





template(name='user_friend_button')
    if is_friend
        .ui.blue.large.icon.button.unfriend(title='unfriend')
            i.checkmark.large.icon
    else
        .ui.large.icon.button.friend(title='friend')
            i.user.plus.large.icon
