template(name='profile_layout')
    img.bg_overlay(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .four.wide.column
                span.mobile.only
                    img.ui.centered.tiny.circular.inline.spaced.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                span.mobile.hidden
                    img.ui.centered.fluid.circular.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a.ui.large.center.aligned.header.refresh_user_stats(href="/user/#{username}") 
                    |#{name}
                a.ui.center.aligned.grey.inline.header.refresh_user_stats(href="/user/#{username}") 
                    |@#{username}
                //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
                // div
                if is_admin
                    a.ui.large.icon.button(href="/user/#{username}/edit" title='admin edit')
                        i.shield.icon
                if is_current_user
                    a.ui.big.icon.circular.button(href="/user/#{username}/edit" title='account')
                        i.cog.big.icon
                    a.ui.big.icon.circular.button.logout(href="#" title='log out')
                        i.sign.out.alternate.large.icon
                // .ui.header #{points}pts
                
                unless is_current_user
                    if currentUser
                        // div
                        +user_friend_button 
                // a.ui.big.icon.button(href="/user/#{username}/dashboard" class="{{isActivePath 'user_dashboard'}}")
                //     i.dashboard.large.icon
                //     // |dashboard
                // a.ui.big.icon.button(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                //     i.chat.large.icon
                //     // |chat
                // if is_current_user
                //     a.ui.big.icon.button(href="/user/#{username}/edit/membership" class="{{isActivePath 'user_finance'}}")
                //         i.money.large.icon
                if spirit_animal
                    span(title="spirit animal #{spirit_animal}")
                        +icolor name=spirit_animal cl='ui inline image'
                .ui.huge.green.circular.button.send
                    i.send.icon
                    span.mobile.hidden send
                .ui.huge.teal.circular.button.request
                    i.hand.holding.heart.icon
                    span.mobile.hidden request

            .twelve.wide.column
                a(href="/user/#{username}/" class="{{isActivePath 'user_dashboard'}}")
                    +icolor name='dashboard' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/" class="{{isActivePath 'user_dashboard'}}")
                //     i.big.dashboard.icon
                //     span.mobile.hidden dashboard
                
                a(href="/user/#{username}/about" class="{{isActivePath 'user_about'}}")
                    +icolor name='info' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/about" class="{{isActivePath 'user_about'}}")
                //     i.big.info.blue.icon
                //     span.mobile.hidden about
                a(href="/user/#{username}/credits" class="{{isActivePath 'user_credits'}}")
                    +icolor name='money' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/credits" class="{{isActivePath 'user_credits'}}")
                //     i.big.donate.green.icon
                //     span.mobile.hidden credits
                a(href="/user/#{username}/sent" class="{{isActivePath 'user_sent'}}")
                    +icolor name='donate' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/sent" class="{{isActivePath 'user_sent'}}")
                //     i.big.send.teal.icon
                //     span.mobile.hidden sent
                a(href="/user/#{username}/events" class="{{isActivePath 'user_events'}}")
                    +icolor name='calendar' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/events" class="{{isActivePath 'user_events'}}")
                //     i.big.calendar.orange.icon
                //     span.mobile.hidden events
                a(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                    +icolor name='chat' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                //     i.big.chat.blue.icon
                //     span.mobile.hidden chat
                a(href="/user/#{username}/friends" class="{{isActivePath 'user_friends'}}")
                    +icolor name='groups' cl='ui inline spaced image pointer'
                // a.ui.circular.button(href="/user/#{username}/friends" class="{{isActivePath 'user_friends'}}")
                //     i.big.users.icon
                //     span.mobile.hidden friends
                    
                // .spacer
                // .spacer
                +yield    
                      



template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.four.column.grid
        .column
            .item #{total_bandwith} total bandwith
            .item #{calculated_user_balance}p recorded balance
            // .ui.small.inline spaced.header {{fixed one_score}} one score
            +user_credits_small
        .column
            .ui.inline spaced.header 
                i.send.icon
                |#{total_send_amount}p
                |sent
                small(title='send count') (#{send_count}x)
                    .ui.circular.label ##{global_send_count_rank}
            div
            .ui.link.large.list.scrolling
                each sent_items
                    .item 
                        if target.profile_image_id
                            img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header
                                strong #{amount}pt
                                a(href="/send/#{_id}/view")
                                    |#{when}
                                    | to 
                                a(href="/user/#{target.username}")
                                    |#{target.username}
                            .description
                                |#{description}
                            .description
                                each tags
                                    .ui.mini.label #{this}
                            if is_admin
                                +remove_button
            +number_edit key='points' label='points' direct=true
        .column
            .ui.header 
                i.hand.holding.heart.icon
                |requests
            .ui.link.list.smallscroll
                each user_requests
                    a.item(href="/request/#{_id}/view")
                        .header #{amount}pts
                        |#{_author.username}
                        |#{description}
                        |#{when}
        .column
            .ui.header 
                i.calendar.icon
                |events
            .ui.link.list.smallscroll
                each user_events
                    a.item(href="/event/#{_id}/view")
                        .header #{title} #{amount}pts
                        |#{_author.username}
                        |#{description}
                        |#{when}


template(name='user_friend_button')
    if is_friend
        .ui.blue.big.icon.circular.button.unfriend(title='unfriend')
            i.checkmark.big.icon
    else
        .ui.big.icon.circular.button.friend(title='friend')
            i.user.plus.big.icon
