template(name='profile_layout')
    img.bg_overlay(src="{{c.url 'nightbg' width=1000 height=1000 crop='crop'}}")    
    +nav
    with user
        .ui.stackable.padded.grid
            .three.wide.column
                img.ui.centered.medium.circular.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                a.ui.large.center.aligned.header.refresh_user_stats(href="/user/#{username}") 
                    |#{name}
                a.ui.center.aligned.header.refresh_user_stats(href="/user/#{username}") 
                    |@#{username}
                //- .ui.compact.icon.button.refresh_user_stats(title='refresh stats')
                //-     i.refresh.icon
                .spacer
                .item #{total_bandwith} total bandwith
                .item #{calculated_user_balance}p recorded balance
                // .ui.small.inline.header {{fixed one_score}} one score
                div
                if is_admin
                    a.ui.fluid.button(href="/user/#{username}/edit")
                        i.shield.icon
                        |admin edit
                if is_current_user
                    a.ui.large.fluid.button(href="/user/#{username}/edit")
                        i.cog.icon
                        |account
                    a.ui.large.fluid.button.logout(href="#")
                        i.sign.out.alternate.icon
                        |log out
                .ui.header #{points}pts
                
                unless is_current_user
                    if currentUser
                        div
                        +user_friend_button 
                a.ui.big.icon.compact.button(href="/user/#{username}/dashboard" class="{{isActivePath 'user_dashboard'}}")
                    i.dashboard.large.icon
                    // |dashboard
                a.ui.big.icon.compact.button(href="/user/#{username}/messages" class="{{isActivePath 'user_messages'}}")
                    i.chat.large.icon
                    // |chat

            .thirteen.wide.column
                // a.ui.big.compact.button(href="/user/#{username}/about" class="{{isActivePath 'user_about'}}")
                //     i.info.icon
                //     |about
                // // a.ui.big.compact.button(href="/user/#{username}/credits" class="{{isActivePath 'user_credits'}}")
                // //     i.chevron.down.icon
                // //     |credits
                // // a.ui.big.compact.button(href="/user/#{username}/sent" class="{{isActivePath 'user_sent'}}")
                // //     i.chevron.up.icon
                // //     |sent
                // // a.ui.big.compact.button(href="/user/#{username}/events" class="{{isActivePath 'user_events'}}")
                // //     +icon name='calendar' cl='ui inline mini image'
                // //     |events
                // a.ui.big.compact.button(href="/user/#{username}/friends" class="{{isActivePath 'user_friends'}}")
                //     i.users.icon
                //     |friends
                // .spacer
                // .spacer
                +yield    
                      



template(name='user_dashboard')
    +user_about
    .ui.hidden.divider
    .ui.two.column.grid 
        .column
            .ui.huge.fluid.green.button.gift
                i.gift.icon
                |gift
        .column
            .ui.huge.fluid.teal.button.request
                i.hand.holding.heart.icon
                |request
    .ui.hidden.divider
    .ui.stackable.four.column.grid
        .column
            +user_credits_small
        .column
            .ui.inline.header 
                i.gift.icon
                |#{total_gift_amount}p
                |gifted
                small(title='gift count') (#{gift_count}x)
                    .ui.circular.label ##{global_gift_count_rank}
            div
            .ui.link.large.list.scrolling
                each sent_items
                    .item 
                        if target.profile_image_id
                            img.ui.avatar.image(src="{{c.url target.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        .content
                            .header
                                strong #{amount}pt
                                a(href="/gift/#{_id}/view")
                                    |#{when}
                                    | to 
                                a(href="/user/#{target.username}")
                                    |#{target.username}
                            .description
                                |#{description}
                            .description
                                each tags
                                    .ui.mini.label #{this}
                            if is_admin
                                +remove_button
            +number_edit key='points' label='points' direct=true
        .column
            .ui.header 
                i.hand.holding.heart.icon
                |requests
            .ui.link.list.smallscroll
                each user_requests
                    a.item(href="/request/#{_id}/view")
                        .header #{amount}pts
                        |#{_author.username}
                        |#{description}
                        |#{when}
        .column
            .ui.header 
                i.calendar.icon
                |events
            .ui.link.list.smallscroll
                each user_events
                    a.item(href="/event/#{_id}/view")
                        .header #{title} #{amount}pts
                        |#{_author.username}
                        |#{description}
                        |#{when}


template(name='user_friend_button')
    if is_friend
        .ui.blue.fade.animated.fluid.button.unfriend
            .visible.content
                i.checkmark.icon
                |friend
            .hidden.content
                i.minus.icon
    else
        .ui.fluid.button.friend
            i.plus.icon
            |friend
