template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.four.column.grid
        .column
            a.ui.inline.header(href="/user/#{username}/credits")
                i.chevron.down.large.icon
                |#{total_credit_amount}p
                |received
                small(title='received count') (#{credit_count}x) 
                small(title='rank') ##{global_credit_count_rank}
            .medscroll
                each user_credits
                    .ui.segment.user_credit_segment.pointer
                        .header
                            strong #{amount}pt 
                            |from 
                            if author.profile_image_id
                                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{_author.shortname}
                        small #{when}
                        div
                        |#{description}
                        div
                        each tags
                            .ui.mini.basic.label #{this}
        .column
            a.ui.inline.spaced.header(href="/user/#{username}/debits")
                i.chevron.up.icon
                |#{total_debit_amount}p
                |sent
                small(title='debit count') (#{debit_count}x)
                small(title='rank') ##{global_debit_count_rank}
            div
            .medscroll
                each user_debits
                    .ui.segment.user_debit_segment.pointer
                        .header
                            strong #{amount}pt
                            | to 
                            if recipient.profile_image_id
                                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            |#{recipient.shortname}
                        small #{when}
                        div
                        |#{description}
                        div
                        each tags
                            .ui.mini.basic.label #{this}
        .column
            .ui.header 
                i.concierge.bell.icon
                |requests
            .medscroll
                each user_requests
                    .ui.segment
                        if image_id
                            img.ui.image(src="{{c.url image_id height=100 width=200}}")
                        a.header(href="/request/#{_id}/view")
                            |#{point_bounty}pts: #{title}
                        |!{description}
                        |status: #{status}
                        if complete 
                            |completed by #{completer.name}
        .column
            .ui.header 
                i.calendar.icon
                |events
            .medscroll
                each user_event_tickets
                    .ui.segment
                        if ticket_event.image_id
                            img.ui.fluid.image(src="{{c.url ticket_event.image_id height=100 width=200}}")
                        a.header(href="/event/#{event_id}/view")
                            |#{ticket_event.title}
                        |#{_author.shortname}
                        |#{description}
                        |#{when}
