template(name='user_about')
    .ui.header 
        i.info.icon
        |user info
    with current_user
        +textarea_view key='profile_hope_receive' label='What do you hope to receive?' direct=true
        .ui.small.header What do you hope to receive?
        |#{profile_hope_receive}
        .spacer
        .spacer
        .ui.small.header What excites you about being apart of this community?
        |#{profile_excites_blurb}
        .spacer
        .spacer
        .ui.small.header What do you want this community to know about you?
        |#{profile_community_blurb}
        .spacer
        .spacer
        .ui.small.header What would you like to contribute (think: superpowers, talents, gifts, resources)?
        |#{profile_contribute_blurb}
        .spacer
        .spacer
        if tags 
            .ui.tags.icon 
            each tags
                +user_info_tag
        div
        .ui.small.inline.header levels
        each levels
            .ui.basic.label #{this}
               
        //- a.ui.basic.compact.button.logout_other_clients(href="#")
        //-     //- i.globe.icon
        //-     |log out other clients
        div
        .ui.small.inline.header 
            //- +icon name='shield'
            i.shield.icon
            |roles
        each roles
            .ui.label #{this}

template(name='user_info_tag')
    .ui.basic.tertiary.button 
        if term 
            if term.image 
                img.ui.tiny.inline.image(src=term.image)
        |#{this}
