template(name='user_tribes')
    div
    .ui.inline.header
        +icolor name='campfire'
        |user tribes
    if is_current_user
        a.ui.circular.basic.icon.button(href="/user/#{current_user.username}/edit/tribes")
            i.pencil.icon
    .ui.header 
        +i name='shield'
        |leading
    .ui.cards
        each user_leader_tribes
            a.ui.horizontal.card(href="/m/tribe/#{_id}/view")
                if image_id
                    img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                .content
                    .ui.header #{title}
                // if is_current_user
                //     +enter_tribe
    .ui.header 
        +i name='security-pass'
        |member of
    .ui.cards
        each user_member_tribes
            a.ui.horizontal.card(href="/m/tribe/#{_id}/view")
                if image_id
                    img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                .content
                    .ui.header #{title}
                // if is_current_user
                //     +enter_tribe
            
            
            
template(name='enter_tribe')
    .ui.button.enter
        |enter tribe