template(name='user_dashboard')
    // +user_about
    // .ui.hidden.divider
    .ui.stackable.four.column.grid
        .column
            a.ui.inline.header(href="/user/#{username}/credits")
                i.chevron.down.large.icon
                |#{total_credit_amount}p
                // |received
                small(title='received count') (#{credit_count}x) 
                small(title='rank') ##{global_credit_count_rank}
            i.tags.icon(title='credit tags')
            each credit_tags
                .ui.small.basic.circular.label #{title}
                    small #{count}
            .medscroll
                each user_credits
                    +user_credit_segment
        .column
            a.ui.inline.spaced.header(href="/user/#{username}/debits")
                i.chevron.up.icon
                |#{total_debit_amount}p
                // |sent
                small(title='debit count') (#{debit_count}x)
                small(title='rank') ##{global_debit_count_rank}
            i.tags.icon(title='credit tags')
            each debit_tags
                .ui.label #{title} 
                    small #{count}

            div
            .medscroll
                each user_debits
                    +user_debit_segment
        .column
            .ui.header 
                i.concierge.bell.icon
                |requests
            .medscroll
                each user_requests
                    .ui.card
                        if image_id
                            img.ui.image(src="{{c.url image_id height=100 width=200}}")
                        .content
                            a.header(href="/request/#{_id}/view")
                                |#{point_bounty}pts: #{title}
                            // |!{description}
                            |status: #{status}
                            if complete 
                                |completed by #{completer.name}
        .column
            .ui.header 
                i.calendar.icon
                |events
            .medscroll
                each user_event_tickets
                    .ui.card
                        if ticket_event.image_id
                            a(href="/event/#{event_id}/view")
                                img.ui.fluid.zoom.image(src="{{c.url ticket_event.image_id height=100 width=200 crop='fill'}}")
                        .content
                            a.header(href="/event/#{event_id}/view")
                                |#{ticket_event.title}
                            |#{fac.shortname}
                            |#{description}
                            |{{med_date date}}
                            |{{long_time time}}



template(name='user_credit_segment')
    .ui.segment.user_credit_segment.pointer
        .header
            strong #{amount}pt 
            // |from 
            if author.profile_image_id
                img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{_author.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}


template(name='user_debit_segment')
    .ui.segment.user_debit_segment.pointer
        .header
            strong #{amount}pt
            | to 
            if recipient.profile_image_id
                img.ui.avatar.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{recipient.shortname}
        small #{when}
        div
        |#{description}
        div
        each tags
            .ui.mini.basic.label #{this}
