template(name='user_downvotes')  
    .ui.inline.header 
        i.chevron.down.icon
        |downvotes
        
    .ui.basic.label #{total_downvote_amount}k downvotes
    // |received
    .ui.basic.label(title='downvoted count') #{credit_count} total gifts 
    .ui.basic.label(title='rank') ##{global_credit_count_rank} count rank
        
    i.tags.icon(title='credit tags')
    each downvote_tags
        .ui.basic.circular.label #{title}
            small #{count}
        
    .ui.stackable.cards.scrolling
        each user_downvotes
            +downvote
            
template(name='downvote')            
    a.ui.card(href="/vote/#{_id}/view")
        .content
            .header
                strong #{points}pt 
                // |from 
                if author.profile_image_id
                    img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                |#{_author.shortname}
            small #{when}
            div
            |#{description}
            div
            each tags
                .ui.basic.label #{this}

template(name='user_downvotes_small')
    .ui.inline.header 
        i.minus.icon
        |#{total_downvote_amount}p
        |received
        .ui.basic.label #{downvote_count} downvotes
            | ##{global_downvote_count_rank}
    div
    .ui.link.list.scrolling
        each user_downvotes
            .item
                if author.profile_image_id
                    img.ui.avatar.image(src="{{c.url author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                .content
                    .header
                        strong #{amount}pt 
                        |from 
                        a(href="/user/#{author.username}")
                            |#{author.username}
                    .description
                        a(href="/debit/#{_id}/view")
                            |#{when}
                .content
                    .description
                        |#{description}
                        each tags
                            .ui.basic.label #{this}
                if is_admin 
                    +remove_button
                .spacer