template(name='user_edit_membership')
    .ui.header
        i.id.badge.outline.icon
        | riverside membership
    .ui.grid 
        .row 
            .sixteen.wide.column
                .ui.big.button.pay_membership
                    |pay for membership
                each transactions
                    .ui.segment
                        .ui.header #{when}
                        |#{amount} amount
                        |#{charge}
                // +user_edit_finance
                if is_admin
                    .ui.header
                        i.shield.icon
                        |admin
                    +array_edit key='levels' label='levels' direct=true
                +array_edit key='roles' label='roles' direct=true
