template(name='user_edit_style')
    .ui.header
        i.rss.icon
        | alerts
    .ui.header nav color
    +user_key_value_edit key='nav_color' value='green' direct=true
    +user_key_value_edit key='nav_color' value='blue' direct=true
    +user_key_value_edit key='nav_color' value='black' direct=true
    +user_key_value_edit key='nav_color' value='pink' direct=true
    .ui.header nav color #{nav_color}