template(name='debit_item')
    .ui.card
        .content
            |#{when}





template(name='debit_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.row 
                .five.wide.column
                    a(href="/user/#{_author.username}") 
                        .ui.segment
                            .ui.header 
                                +icon name='donate'
                                |sender
                            img.ui.small.rounded.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            .ui.header 
                                |#{_author.username}
                .five.wide.column
                    a(href="/user/#{recipient.username}")
                        .ui.segment
                            .ui.header
                                +icon name='receive-cash'
                                |recipient
                            
                            img.ui.small.rounded.image(src="{{c.url recipient.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                            .ui.header
                                |#{recipient.name}
                            
            .row 
                .eight.wide.column
                    if is_dev
                        +remove_button
                    .ui.header
                        i.debit.icon
                        |#{amount}pts
                    .ui.small.header
                        i.clock.icon
                        | #{when}
                .eight.wide.column
                    .f12
                        |#{description}
                    +image_view key='image_id' label='image' direct=true
                    div 
                    if tags
                        i.tags.icon
                        each tags 
                            .ui.big.label #{this}
                    .spacer
                    .spacer
                    +comments
                    +voting_full
                    //- +array_view key='location_tags' label='location_tags' direct=true

