template(name='post_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row 
                .ten.wide.column
                    div
                    +text_edit key='title' icon='header' direct=true
                    +html_edit key='description' label='description' direct=true
                    div
                    // if watson
                    //     +watson_view
                .six.wide.column
                    a.ui.green.icon.circular.large.button(href="/post/#{_id}/view" title='save' class=currentUser.invert_class)
                        i.checkmark.big.icon
                    .ui.inline.large.header 
                        small edit post:
                        |#{title}
                    .ui.big.accordion
                        .title
                            .ui.inline.header
                                i.remove.icon  
                                |delete
                            i.dropdown.icon
                        .content
                            i.remove.link.circular.icon.delete_post(title='delete post')
                        .title
                            .ui.inline.header
                                i.user.icon
                                |author: #{_author_username}
                            i.dropdown.icon
                        .content
                            |coauthors split revenue evenly
                            +multi_user_edit key='coauthor_ids' key2='coauthor_usernames' label='coauthors' direct=true
                            .ui.header 
                                small author
                                |#{_author.username}
                            if is_admin
                                .spacer
                                +single_user_edit key='_author_id' key2='_author_username' direct=true
                        .title
                            .ui.inline.header
                                i.video.icon
                                |video
                            if youtube_id
                                i.checkmark.icon
                            i.dropdown.icon
                        .content
                            +youtube_edit key='youtube_id' label='youtube id' direct=true
                        .title
                            .ui.inline.header
                                i.calendar.icon
                                |date
                            i.dropdown.icon
                        .content
                            +date_edit key='date' label='date' direct=true
                        .title
                            .ui.inline.header
                                i.tags.icon
                                |#{tags.length} tags
                            i.dropdown.icon
                        .content
                            +smart_tagger
                        .title
                            .ui.inline.header
                                if image_id
                                    img.ui.mini.compact.image(src="{{c.url image_id height=200 width=200 gravity='face' crop='fill'}}" class=currentUser.invert_class)
                                else
                                    i.picture.grey.icon
                                |image
                            i.dropdown.icon
                        .content
                            +image_edit key='image_id' label='image upload' direct=true
                            div 
                            +text_edit key='source' label='source' direct=true
                            div 
                            +image_link_edit key='image_link' label='image link' direct=true
                        .title
                            .ui.inline.header
                                i.fire.icon
                                |tribe: #{tribe.title}
                            i.dropdown.icon
                        .content
                            with tribe 
                                +tribe_card_small
                            a.ui.header(href="/tribe/#{tribe_id}/view") tribe
                                |#{tribe_id}
                            +single_doc_edit ref_model='tribe' key='tribe_id' direct=true
                        .title
                            .ui.inline.header
                                i.lock.icon
                                |privacy
                            i.dropdown.icon
                        .content
                            +boolean_edit key='private' direct=true
                            if private
                                +multi_user_edit key='viewable_user_ids' key2='viewable_user_usernames' label='viewable by' direct=true
                        .title
                            .ui.inline.header
                                i.shield.icon
                                |advanced
                            i.dropdown.icon
                        .content
                            +text_edit key='model' direct=true
                                