template(name='events')
    .ui.stackable.padded.grid 
        .row
            .sixteen.wide.column
                .ui.inline.header
                    +icon name='calendar'
                    |events
                if can_add_event
                    .ui.circular.button.add_event
                        i.plus.icon
                        |add event
                .spacer
                .spacer
                .ui.stackable.four.cards
                    each events
                        +event_card

template(name='event_card')
    .ui.card
        if image_id
            a.image.zoom.pointer.mobile.hidden(href="/m/event/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=500 width=500 gravity='face' crop='fill'}}")
            a.image.zoom.pointer.mobile.only(href="/m/event/#{_id}/view")
                img.ui.image(src="{{c.url image_id height=200 width=500 gravity='center' crop='fill'}}")
        .content
            a.ui.header(href="/event/#{_id}/view") #{title} 
            |{{long_date start_datetime}}
            .ui.small.grey.inline.header {{from_now start_datetime}}
        .content
            if location
                i.marker.icon 
                |#{location}
            div 
            small added by
            strong #{_author.shortname}
            |#{when}
        .content
            |#{going_user_ids.length}
            a(href="/m/event/#{_id}/view" title='ticket purchase required')
                i.checkmark.green.link.icon
            each going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            i.question.orange.link.icon(title='call yourself maybe')
            | #{maybe_user_ids.length}
            each maybe_going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            | #{not_user_ids.length}
            i.remove.red.link.icon(title='mark yourself not')
            each not_going
                img.ui.avatar.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            if is_dev
                +print_this




template(name='event_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .sixteeen.wide.column
                    a.ui.icon.green.big.button(href="/event/#{_id}/view" title='save')
                        i.checkmark.big.icon
                    .ui.inline.header 
                        +icolor name='tear-off-calendar'
                        |edit event
                    +boolean_edit key='published' label='published' direct=true
                    .ui.icon.button.delete_item(title='delete')
                        i.large.remove.icon
            .row
                .six.wide.column
                    .ui.header 
                        small author
                        |#{_author.name}
                    +text_edit key='title' label='title' direct=true
                    +slug_edit key='slug' label='slug' icon='slug' direct=true
                    +datetime_edit key='start_datetime' label='start' direct=true
                    +datetime_edit key='end_datetime' label='end' direct=true
                    .ui.header
                        i.users.icon
                        |audience
                    +number_edit key='max_attendees' label='max attendees' min='0' max='100' direct=true
                    +number_edit key='point_price' label='minimum points per ticket' min='0' max='100' direct=true
                    +number_edit key='usd_price' label='minimum dollars per ticket' min='0' max='100' direct=true
                .ten.wide.column
                    .ui.header room
                    each rooms 
                        .ui.circular.basic.circular.button #{title} 
                    +html_edit key='description' label='description' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true



template(name='gcal_button')
    a.ui.circular.basic.circular.large.button(href="http://www.google.com/calendar/event?action=TEMPLATE&text=#{title}&dates=#{start_datetime}/#{end_datetime}&details=#{description}&location=#{location}" target="_window")
        i.calendar.icon
        |add to gcal
        
        
        
        
