template(name='event_view')
    with current_doc
        .ui.stackable.padded.grid
            .middle.aligned.row 
                .sixteen.wide.column
                    if currentUser
                        a(href="/events")
                            i.calendar.big.circular.link.icon
                    a.pointer(href="http://oneboulder.one" target="_window")
                        img.ui.inline.tiny.image(src="{{c.url 'one_logo' }}")
                
                    .ui.large.inline.header #{title}
                    if published 
                        i.big.eye.green.icon(title='published')
                    else 
                        i.big.eye.red.slash.icon(title='unpublished')
                    // div
                    .ui.inline.header {{long_date start_datetime}}
                    .ui.inline.grey.header {{from_now start_datetime}}
                    
                    if can_edit
                        a.edit_event(href="/event/#{_id}/edit" title='edit')
                            i.large.blue.link.pencil.circular.icon
            .row 
                .four.wide.column
                    if location 
                        i.large.marker.icon(title='location')
                        |#{location}
                    img.ui.fluid.rounded.image(src="{{c.url image_id }}")
                    if is_admin
                        .ui.segment
                            .ui.header 
                                small author
                            a.ui.header(href="/user/#{_author.username}") 
                                img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                                |#{_author.name}
                    if facilitator
                        .ui.dividing.header 
                            |facilitator
                            |#{facilitator.name}
                    if is_admin
                        .ui.header
                            |#{max_attendees} max attendees
                    // .ui.small.grey.header 
                    //     i.line.chart.icon
                    //     |stats
                    .ui.small.header #{views} views
                    each viewers
                        .ui.label #{username}
                    with current_doc
                        +gcal_button
                    .ui.hidden.divider
                    +array_view key='tags' label='tags' icon='tags red' direct=true
                    div
                    +voting_full
                    +array_view key='location_tags' label='location_tags' direct=true
                .eight.wide.column
                    // a.ui.header(href="/user/#{target.username}")
                    //     |#{target.username}
                    .f13
                        |!{description}
                    // div 
                    // .spacer
                    // .spacer
                    +comments
                .four.wide.column
                    .ui.inline.large.header 
                        |RSVP
                    if tickets_left
                        .ui.grey.small.inline.header #{tickets_left} available
                        // .spacer
                        // .ui.grey.small.inline.header  minimum amount requested 
                        // .spacer
                        // .ui.grey.small.inline.header (give more if you want to)
                        div
                    // .ui.big.fluid.action.left.icon.input
                    //     i.dollar.icon
                    //     input(type='number' min=usd_price value=usd_price)
                    //     .ui.green.icon.button.buy_for_usd
                    //         i.checkmark.large.icon
                    // .ui.big.fluid.action.left.icon.input
                    //     i.hashtag.icon
                    //     input(type='number' min=point_price value=point_price)
                    //     .ui.teal.icon.button.buy_for_points
                    //         i.checkmark.large.icon
                    .ui.big.green.fluid.button.buy_for_usd
                        i.cart.icon
                        |buy for min
                        |$#{usd_price} 

                    if currentUser
                        .ui.horizontal.divider or
                        if currentUser.has_points
                            .ui.big.teal.fluid.button.buy_for_points
                                // i.cart.icon
                                // |buy for 
                                |#{point_price}pts
                        else
                            .ui.big.teal.disabled.fluid.button
                                // i.cart.icon
                                // |buy for 
                                |#{point_price}pts
                    if currentUser
                        .spacer
                        .spacer
                        .ui.dividing.header 
                            // +icolor name='activity-history' cl='ui inline image'
                            |#{event_tickets.count} purchased tickets
                        .ui.large.link.selection.list
                            each event_tickets
                                a.ui.item(href="/ticket/#{_id}/view") 
                                    .content
                                        .header
                                            if is_usd
                                                .ui.inline.green.header ${{money_format amount}}
                                            else
                                                .ui.inline.header #{point_amount}pts
                                            
                                            |#{when} #{_author_username}
                                        // if can_edit 
                                        //     i.
                                        //     +icolor name='return-purchase' cl='ui mini inline image return pointer'
                                        if is_admin
                                            +remove_button
                        +attendance
    .ui.modal
        i.close.icon
        .header buy ticket for #{current_doc.point_price}pts?
        .content
            .description
                .ui.header event title: #{current_doc.title}
                .ui.input
                    input(type='number' min=current_doc.point_price)
        .actions
            .ui.red.cancel.button cancel
            .ui.green.big.ok.button ok







template(name='attendance')
    if event_tickets.length
        .ui.inline.green.header 
            |#{ticket.length} going
    // .ui.inline.small.grey.header ticket required
    // .ui.icon.button.pick_going 
    //     i.green.checkmark.big.icon
    // each going 
    //     a.ui.circular.basic.circular.button(href="/user/#{username}")    
    //         img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
    //         |#{username}
    
    .ui.orange.header.pointer.pick_maybe
        // if currentUser
        //     +icolor name='clock' cl='pick_maybe pointer'
        // else
        //     +icolor name='event-accepted-tentatively'
        |#{maybe_going.count} maybe
    // .ui.icon.button.pick_maybe 
    //     i.yellow.minus.big.icon
    each maybe_going
        a.ui.circular.basic.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{username}
    .ui.red.header.pointer.pick_not
        // if currentUser
        //     +icolor name='cancel' cl='pick_not pointer'
        // else
        //     +icolor name='event-declined'
        |#{not_going.count} not going
    // .ui.icon.button.pick_not
        // i.big.ban.icon
    each not_going
        a.ui.circular.basic.circular.button(href="/user/#{username}")    
            img.ui.avatar.compact.image(src="{{c.url profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
            |#{username}
