template(name='inbox')
    .ui.padded.stackable.grid 
        .row
            .four.wide.column
                .ui.header 
                    i.big.inbox.icon
                    |inbox
                .ui.basic.big.compact.circular.button.add_message
                    i.chat.blue.icon
                    |+ message
            .six.wide.column
                .ui.header 
                    i.chevron.down.icon
                    |sent messages
                .ui.list
                    each my_sent_messages
                        .item
                            .content
                                .header
                                    |#{when} to #{recipient.name} #{target.name} #{to.name}
                                |#{description} #{body}
                                a(href="/m/message/#{_id}/view")
                                   |view 
                                +toggle_view_icon
                                if is_dev
                                    +print_this
            .six.wide.column
                .ui.header 
                    i.chevron.down.icon
                    |received messages
                .ui.list
                    each my_received_messages
                        .item
                            .content
                                .header
                                    |#{when} from #{recipient.name} #{target.name}
                                |#{description} #{body}
                                .meta    
                                    a(href="/m/message/#{_id}/view") #{author.name}
                                +toggle_view_icon
                                if is_dev
                                    +print_this
                                
                                
template(name='toggle_view_icon')
    i.eye.circular.link.icon.toggle_viewed(class=toggle_view_class title='toggle viewed')