template(name='task_card')
    a.card(href="/m/task/#{_id}/view")
        .image
            if icon 
                +i name=icon
            else
                img.ui.raw.image(src="{{c.url image_id width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/m/task/#{_id}/view")
                |#{location}: #{title}
            |!{description}
        


template(name='task_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    // if can_edit
                    a(href="/m/task" title='tasks')
                        +icolorlg name='task' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    if icon
                        +icolorlg name=icon cl='ui inline image'
                    else
                        +icolorlg name='task' cl='ui inline image'
                    .ui.center.aligned.inline.header 
                        small viewing task
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.edit_task(href="/m/task/#{_id}/edit")
                            i.big.blue.pencil.icon
            .row 
                .four.wide.column
                    .ui.header
                        i.marker.icon 
                        |#{location}
                    .ui.header 
                        small leader
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    +image_view key='image_id' label='image' direct=true
                .eight.wide.column
                    +number_view key='bounty' label='bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    +comments
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header 
                        +icon name='task'
                        |tasks
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='task_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.big.icon.button(href="/m/task/#{_id}/view" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.inline.header 
                        +icon name='task'
                        small edit task
                        |#{title}
                .four.wide.center.aligned.column
                    i.link.big.remove.icon.delete_item(title='delete task')
            .row 
                .five.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .six.wide.column
                    +boolean_edit key='has_assigned_users' label='has assigments' direct=true
                    if has_assigned_users
                        +multi_user_edit key='assigned_user_ids' direct=true
                    +boolean_edit key='requires_approval' label='requires approval' direct=true
                    if requires_approval
                        +multi_user_edit key='approval_required_user_ids' direct=true
                    +boolean_edit key='has_location' label='has location' direct=true
                    if has_location
                        +text_edit key='location' label='location' icon='marker' direct=true
                        +array_edit key='location_tags' label='location_tags' direct=true
                    +boolean_edit key='has_description' label='has description' direct=true
                    if has_description
                        +textarea_edit key='description' label='description' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true